<template>
  <div>
    <b-card no-body>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: 'admin_regency_create' }"><i class="fa fa-plus"></i> Tambah</router-link>
          </div>
        </div>
      </template>

      <b-card-body class="p-0 p-md-3">
        <b-table
          bordered
          striped
          hover
          :fields="tableFields"
          :items="tableItems"
          :busy="loadingData"
          responsive="sm">

          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;&nbsp;Loading...</strong>
            </div>
          </template>

          <template v-slot:table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field != 'index' && field.width ? field.width : 'auto' }"
            >
          </template>

          <template v-slot:cell(index)="data">
            {{ data.index + ((currentPage - 1) * 10) + 1 }}
          </template>

          <template v-slot:cell(id)="data" class="text-center">
            <span>{{ data.item.id }}</span>
            <b-button variant="outline-light" size="sm" class="text-dark"
              v-clipboard:copy="data.item.id"
              v-clipboard:success="onCopy"
              v-clipboard:error="onError"
            ><b-icon icon='clipboard-plus'/></b-button>
          </template>
          <template v-slot:cell(action)="data" class="text-center">
            <router-link tag="button" :to="{ name: 'admin_regency_show', params: { id: data.item.id } }" class="btn btn-info btn-sm">
              <span class="fa fa-eye"></span> View</router-link>&nbsp;&nbsp;
            <router-link tag="button" :to="{ name: 'admin_regency_edit', params: { id: data.item.id } }" class="btn btn-warning btn-sm">
              <span class="fa fa-edit"></span> Edit</router-link>&nbsp;&nbsp;
            <button class="btn btn-danger btn-sm"  @click="deleteData(data.item.id)">
              <span class="fa fa-trash" ></span> Delete</button>&nbsp;&nbsp;
          </template>

        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="10"
          
          @change="handlePageChange"
        ></b-pagination>
      </b-card-body>
    </b-card>
  </div>
</template>

<!-- script js -->
<script>
export default {
  data () {
    return {
      currentPage: 1,
      totalRows: 1,
      loadingData: true,
      tableItems: [],
      tableFields: [
        // A virtual column that doesn't exist in items
        { key: 'index', label: 'No', width: '40px' },
        // A column that needs custom formatting
        { key: 'id', label: 'ID', width: '80px' },
        // A regular column
        'name',
        { key: 'action', label: 'Aksi', width: '200px', class: 'text-center' }
      ],
      moreParams: {},
      sortOrder: [
        {
          field: 'name',
          sortField: 'name',
          direction: 'asc'
        }
      ]
    };
  },
  created() {
    this.loadData()
  },
  methods: {
    onCopy: function (e) {
        this.$bvToast.toast(`You just copied the following text to the clipboard: ${e.text}`, {
          title: `Success`,
          toaster: 'b-toaster-top-center',
          variant: 'success',
          solid: true
        })
      // alert()
    },
    onError: function (e) {
      alert('Failed to copy the text to the clipboard')
      console.log(e);
    },
    renderIcon (classes, options) {
      return `<span class="${classes.join(' ')}"></span>`
    },
    getParams () {
      return { 
        params: {
          page: this.currentPage
        }
      }
    },
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/admin/regencies", this.getParams()).then(response => {
        this.loadingData = false
        this.tableItems = []
        this.tableItems = response.data.data;
        this.currentPage = response.data.current_page;
        this.totalRows = response.data.total;
      })
    },
    deleteData (id) {
      // delete data
      axios.delete(`/api/admin/regencies/${id}`).then(response => {
        this.loadData()
      })
    }
  }
};
</script>
<style>
  .pagination {
    margin-top: 0;
  }
  /* .btn.btn-border {
    border: 1px solid;
    margin-right: 2px;
  } */
  .vuetable-pagination-info {
    margin-top: 8px !important;
  }
  span.sort-icon {
    float: right;
    color: #ff9100;
  }
</style>