<template>
  <div>
    <b-row class="m-0 d-flex pb-1">
      <b-col md="auto" class="p-0">
        <b-btn href="#" v-b-toggle="'collapse-input-' + formData._index" variant="outline-secondary">
          <span class="when-opened">
            <i class="fa fa-chevron-down" />
          </span>
          <span class="when-closed">
            <i class="fa fa-chevron-right" />
          </span>
        </b-btn>
      </b-col>
      <b-col cols="12" md="auto" class="flex-grow-1 p-0">
        <b-form id="form" class="default-form" @submit="handleSave" :model="formData" ref="form" :label-width="0">
          <b-row class="m-0">
            <b-col :xs="12" :md="3" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.name"
                  id="input-name"
                  name="name"
                  :state="validateState('name')"
                  aria-describedby="input-name-feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input-name-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="3" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  class="d-none"
                  id="input-data-type"
                  name="data_type"
                  v-model="formData.data_type"
                ></b-form-input>
                <multiselect v-model="dataType" 
                  select-label=""
                  selected-label=""
                  deselect-label=""
                  placeholder=""
                  :options="dataTypes" track-by="id" label="name" :allow-empty="false">
                  <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                </multiselect>
                <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="4" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.key"
                  id="input-key"
                  name="key"
                  :state="validateState('key')"
                  aria-describedby="input-key-feedback"
                ></b-form-input>

                <b-form-invalid-feedback
                  id="input-key-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="2" class="p-0">
              <div class="d-flex justify-content-center">
                <b-btn href="#" variant="success" class="mx-1" @click="handleSave" >
                  <i class="fa fa-save" />
                </b-btn>
                <b-btn href="#" variant="danger" class="mx-1" @click="handleCancel" >
                  <i class="fa fa-times" />
                </b-btn>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
    <b-collapse :id="'collapse-input-' + formData._index">
      <b-row class="m-0 p-5">
        <b-col :xs="12" :md="2" class="p-0">
        </b-col>
      </b-row>
    </b-collapse>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    dataTypes: Array,
    formData: Object
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      key: {
        required
      }
    }
  },
  computed: {
    dataType: {
      get () {
        return this.dataTypes.filter((el) => {
          return el.id == this.formData.data_type 
        })
      },
      set (val) {
        this.formData.data_type = val.id
      }
    }
  },
  methods: {
    handleSave () {
      this.$emit('on-save-click', this.formData)
    },
    handleCancel () {
      this.$emit('on-cancel-click', this.formData)
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>