<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row>
        <b-col sm="12" md="4">
          <b-form-group label="Peraturan" label-for="input-regulation">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-regulation"
              name="example-input-2"
              v-model="formData.regulation_id"
              :state="validateState('regulation_id')"
              aria-describedby="input-regulation-feedback"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regulation" deselect-label="Selected" :options="regulations" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-regulation-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <!-- <b-col sm="12" md="6">
          <b-form-group label="Tipe" label-for="input--type_id">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input--type_id"
              name="type_id"
              v-model="formData.type_id"
              :state="validateState('type_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="type"  @select="handleTypeSelected" d deselect-label="Selected" :options="types" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col> -->
        <!-- <b-col sm="12" md="6"> -->
          <!-- <b-form-group label="Region Type" label-for="input-region-type">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-type"
              name="region_type"
              v-model="formData.region_type"
              :state="validateState('region_type')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regionType" @select="handleRegionTypeSelected" deselect-label="Selected" :options="regionTypes" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group> -->
        <!-- </b-col> -->

        <b-col sm="12" md="4">
          <b-form-group label="Kabupaten/Kota " label-for="input-region-id">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-id"
              name="region_id"
              v-model="formData.regencys_id"
              :state="validateState('regency_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regency" deselect-label="Selected"  @select="handleRegencySelected" :options="regencies" :loading="regencyLoading" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="4">
          <b-form-group label="Region " label-for="input-region-id">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-id"
              name="region_id"
              v-model="formData.region_id"
              :state="validateState('region_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="region" deselect-label="Selected" :options="regions" :loading="regionLoading" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group label="Nama Pengaju" label-for="input--submission_person_name">
            <b-form-input
              :readonly="readonly"
              id="input--submission_person_name"
              v-model="formData.submission_person_name"
              aria-describedby="input--submission_person_name-feedback--feedback"
            ></b-form-input>
            <b-form-invalid-feedback
              id="input--submission_person_name--feedback"
            >This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Jabatan Pengaju" label-for="input--submission_person_position">
            <b-form-input
              :readonly="readonly"
              id="input--submission_person_position"
              v-model="formData.submission_person_position"
              aria-describedby="input--submission_person_position-feedback--feedback"
            ></b-form-input>
            <b-form-invalid-feedback
              id="input--submission_person_position--feedback"
            >This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Tanggal Pengajuan" label-for="input--submission_date">
            <b-form-datepicker
              :readonly="readonly"
              id="input--submission_date"
              v-model="formData.submission_date"
              aria-describedby="input--submission_date-feedback--feedback">
              <template v-slot:nav-this-month>
                <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-calendar b-icon bi">
                  <g>
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                  </g>
                </svg>
              </template> 
            </b-form-datepicker>
            <b-form-invalid-feedback
              id="input--submission_date--feedback"
            >This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Catatan" label-for="input--note">
            <b-form-input
              :readonly="readonly"
              id="input--note"
              v-model="formData.note"
              aria-describedby="input--note-feedback--feedback"
            ></b-form-input>
            <b-form-invalid-feedback
              id="input--note--feedback"
            >This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col  sm="12" md="12">
          <b-form-group label="Shape" label-for="input--geometry">
            <file-pond
              name="file"
              ref="pond"
              label-idle="Drag & Drop berkas disini..."
              v-bind:allow-multiple="false"
              maxFileSize="100MB"
              :disabled="readonly"
              accepted-file-types="application/zip,application/octet-stream,application/x-zip-compressed,multipart/x-zip"
              v-on:updatefiles="handleUpdateFiles"/>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="12">
          <b-tabs v-model="previewTab" content-class="mt-3">
            <b-tab title="Geometry">
              <b-form-input
                class="d-none"
                id="input--geometry"
                name="file"
                v-model="formData.geometry"
                :state="validateState('geometry')"
                aria-describedby="input--geometry--feedback"
              ></b-form-input>
              <b-form-invalid-feedback
                id="input--geometry--feedback"
              >This is a required field.</b-form-invalid-feedback>
              <vl-map ref="map" :load-tiles-while-animating="true" style="height:400px" :load-tiles-while-interacting="true" data-projection="EPSG:4326">
                <vl-view :zoom="zoom" :center="center" :rotation="rotation"></vl-view>
                <vl-layer-tile id="osm">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>

                <vl-layer-vector :z-index="1">
                  <vl-source-vector :features.sync="vector.features" ident="the-source"></vl-source-vector>

                  <vl-style-box>
                    <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
                    <vl-style-stroke color="red"></vl-style-stroke>
                    <vl-style-circle :radius="4">
                      <vl-style-fill color="white"></vl-style-fill>
                      <vl-style-stroke color="red"></vl-style-stroke>
                    </vl-style-circle>
                  </vl-style-box>
                </vl-layer-vector>

                <!-- <vl-interaction-draw v-if="formData.type_id === 'detailed'" type="Point" source="the-source" :max-points="1" @drawend="handleDrawEnd"> -->
                  <!-- <vl-style-box>
                    <vl-style-stroke color="blue"></vl-style-stroke>
                    <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
                  </vl-style-box> -->
                <!-- </vl-interaction-draw> -->

                <!-- <vl-layer-vector overlay :z-index="100" v-if="geojson.features.length">
                  <vl-source-vector :features.sync="geojson.features"></vl-source-vector>
                </vl-layer-vector> -->
              </vl-map>

              <!-- <vl-map style="height: 400px">
                <vl-view :zoom="zoom" :center="center"></vl-view>

                <vl-layer-vector :z-index="1">
                  <vl-source-vector :features.sync="vector.features" ident="the-source"></vl-source-vector>

                  <vl-style-box>
                    <vl-style-stroke color="green"></vl-style-stroke>
                    <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
                  </vl-style-box>
                </vl-layer-vector>

                <vl-interaction-draw type="MultiPoint" source="the-source">
                  <vl-style-box>
                    <vl-style-stroke color="blue"></vl-style-stroke>
                    <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
                  </vl-style-box>
                </vl-interaction-draw>

                <vl-layer-tile :z-index="0">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>
              </vl-map> -->
            </b-tab>

            <b-tab v-if="id !== null" title="Pengajuan" :disabled="readonly">
              <submission-form :id="id" :readonly="readonly"/>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, requiredIf } from "vuelidate/lib/validators";
import shp from "shpjs";
import SubmissionForm from './submission-form.vue'
export default {
  components: { SubmissionForm },
  mixins: [validationMixin],
  props: {
    readonly: {
      type: Boolean,
      default: false
    },
    id: null,
    vector: Object,
    files: Array,
    groups: Array,
    types: Array,
    regulations: Array,
    regionTypes: Array,
    // regions: Array,
    formData: Object
  },
  data () {
    return {
      previewTab: null,
      regions: [],
      regencies: [],
      regionLoading: true,
      regencyLoading: true,
      fileShape: null,
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      clipedGeojson: null,
      geojson: {
        features: []
      }
    }
  },
  validations: {
    formData: {
      // layer_group_id: {
      //   required
      // },
      regulation_id: {
        required
      },
      // region_type: {
      //   required
      // },
      region_id: {
        required
      },
      // type_id: {
      //   required
      // },
      geometry: {
        required
      },
      regency_id: {
        required
      },
      // srid: {
      //   required
      // }
    }
  },
  computed: {
    styleFunction() {
      const fillColor = Math.floor(Math.random()*16777215).toString(16); // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 4,
          color: '#FFFFFFAA',
          opacity: 1,
          fillColor: '#000000AA',
          fillOpacity: 1
        };
      };
    },
    onEachFeatureFunction () {
      return (feature, layer) => {
        layer.options.fillColor = '#' + Math.floor(Math.random()*16777215).toString(16)
        layer.options.color = '#' + Math.floor(Math.random()*16777215).toString(16)

        let color = layer.options.color
        layer.on('click', (e) => {
          this.clipedGeojson = {
            fileName: 'Active',
            type: 'FeatureCollection',
            features: [e.target.feature]
          }
        })
        layer.bindTooltip(
          `<div>Name :${ feature.properties.regency_name }</div>`,
          { permanent: false, sticky: true, offset: [0, 0], className: 'my-label' }
        );
      };
    },
    options () {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    extParams () {
      return {
        cql_filter: `layer_id = ${this.id}`
      }
    },
    type: {
      get () {
        return this.types.filter((el) => {
          return el.id == this.formData.type_id 
        })
      },
      set (val) {
        this.formData.type_id = val.id
      }
    },
    regency: {
      get () {
        return this.regencies.filter((el) => {
          return el.id == this.formData.regency_id 
        })
      },
      set (val) {
        this.formData.regency_id = val.id
      }
    },
    regulation: {
      get () {
        return this.regulations.filter((el) => {
          return el.id == this.formData.regulation_id 
        })
      },
      set (val) {
        this.formData.regulation_id = val.id
      }
    },
    regionType: {
      get () {
        return this.regionTypes.filter((el) => {
          return el.id == this.formData.region_type 
        })
      },
      set (val) {
        this.formData.region_type = val.id
      }
    },
    region: {
      get () {
        return this.regions.filter((el) => {
          return el.id == this.formData.region_id 
        })
      },
      set (val) {
        this.formData.region_id = val.id
      }
    }
  },
  methods: {
    handleDrawEnd (_) {
      this.vector.features = [this.vector.features.pop()]
      if (this.vector.features.length) {
        this.formData.geometry = JSON.stringify(this.vector.features[0].geometry)
      }
      this.$refs.map.refresh()
    },
    handleTypeSelected (val) {
      this.formData.region_id = null
      this.regions = []
      this.loadRegions()
    },
    handleRegencySelected(val) {
      this.formData.region_id = null
      this.regency = val
      this.regions = []
      this.loadRegions()
    },
    loadRegencies () {
      this.regenciesLoading = true
      axios.get('/api/admin/progress-detaileds/regencies').then(response => {
        this.regencies = response.data
        this.regencyLoading = false
      })
    },
    loadRegions () {
      this.regionLoading = true
      axios.get("/api/admin/progress-detaileds/districts", { params: { regency_id: this.formData.regency_id } }).then(response => {
        this.regions = response.data
        this.regionLoading = false
      })
    },
    setGeoJson (geojson) {
      this.geojson = geojson
    },
    handleUpdateFiles (files) {
      if (files.length) {
        // this.files[0] = files[0]
        // this.formData.file = files[0].filename
        this.fileShape = files[0].file
        this.validateState('geometry')
        this.fileShape.arrayBuffer().then((arrayBuffer) => {
          shp(arrayBuffer).then((data) => {
              this.vector.features = data.features
              if (this.vector.features.length) {
                this.formData.geometry = JSON.stringify(this.vector.features[0].geometry)
              }
            })
        })
        return
      }
      // this.formData.file = null
      // this.fileShape = null
      // this.files.length = 0
      // this.validateState('file')

      // this.geojson = {
      //   features: []
      // }
    },
    getFile () {
      return this.fileShape
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  },
  mounted () {
    this.loadRegencies()
  }
}
</script>