<template>
  <b-modal @hidden="resetModal" v-model="modalShow" hide-footer no-close-on-backdrop :title="title">
    <div class="d-block">
      <b-form @submit.stop.prevent="onSubmit" ref='form'>
        <b-form-group label-cols="4" label="Progres Terakhir">
          <div class="form-control">{{ lastStatus.name }}</div>
        </b-form-group>
        <b-form-group label-cols="4" label="Progres" label-for="input--progress_status_id">
          <b-form-input
            class="d-none"
            id="input--progress_status_id"
            name="progress_status_id"
            v-model="formData.progress_status_id"
            :state="validateState('progress_status_id')"
            aria-describedby="input--progress_status_id--feedback"
          ></b-form-input>
          <multiselect v-model="status" 
            select-label=""
            selected-label=""
            deselect-label=""
            placeholder=""
            :options="statuses" track-by="id" label="name" :allow-empty="false">
            <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
          </multiselect>
          <b-form-invalid-feedback id="input--progress_status_id--feedback">This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-form-group  label-cols="4" label="Petugas" label-for="input--submission_person_name">
          <b-form-input
            :readonly="readonly"
            id="input--submission_person_name"
            v-model="formData.submission_person_name"
            :state="validateState('submission_person_name')"
            aria-describedby="input--submission_person_name--feedback"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input--submission_person_name--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-form-group  label-cols="4" label="Jabatan" label-for="input--submission_person_position">
          <b-form-input
            :readonly="readonly"
            id="input--submission_person_position"
            v-model="formData.submission_person_position"
            :state="validateState('submission_person_position')"
            aria-describedby="input--submission_person_position--feedback"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input--submission_person_position--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-form-group  label-cols="4" label="Catatan" label-for="input--note">
          <b-form-textarea
            :readonly="readonly"
            id="input--note"
            v-model="formData.note"
            aria-describedby="input--note--feedback"
          ></b-form-textarea>
          <b-form-invalid-feedback
            id="input--note--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-button variant="warning" class="ml-2" @click="onSubmit()" long><i class="fa fa-lock mx-1" />Save</b-button>
      </b-form>
    </div>
  </b-modal>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import masterMixin from '../../../mixins/master'

export default {
  mixins: [validationMixin, masterMixin],
  props: {
    id: String,
    title: {
      default: 'Tambah Progres Pengajuan',
      String
    }
  },
  data () {
    return {
      modalShow: false,
      statuses: [],
      lastStatus: {
        name: null
      },
      formData: {
        note: null,
        submission_person_position: null,
        submission_person_name: null,
        prev_progress_status_id: null,
        progress_status_id: null,
      }
    }
  },
  validations: {
    formData: {
      submission_person_name: {
        required
      },
      submission_person_position: {
        required
      },
      progress_status_id: {
        required
      }
    }
  },
  computed: {
    status: {
      get () {
        return this.statuses.filter((el) => {
          return el.id == this.formData.progress_status_id 
        })
      },
      set (val) {
        this.formData.progress_status_id = val.id
      }
    }
  },
  methods: {
    getParams () {
      return {
        password: this.formData.password
      }
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      // this.$swal({
      //   title: 'Saving ...',
      //   allowEscapeKey: false,
      //   allowOutsideClick: false,
      //   onOpen: () => {
      //     this.$swal.showLoading()
      //   }
      // })
      axios.post(`/api/admin/progress-submissions/${this.id}/insert`, this.formData).then(response => {
        this.resetModal()
        this.modalShow = false
        this.showSuccessAlert(response.data.message);
        this.$emit('saved')
      }).catch(error => {
        this.showFailedAlert(response.data.message);
      })
    },
    loadData () {
      axios.get(`/api/admin/progress-submissions/${this.id}/add`).then(response => {
        this.statuses = response.data.statuses
        this.lastStatus = response.data.lastStatus
        this.formData.prev_progress_status_id = this.lastStatus.id
      }).catch(error => {
        // this.$swal({
        //   icon: 'error',
        //   showConfirmButton: false,
        //   timer: 1500
        // })
      })
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    resetModal () {
      this.formData = {
        note: null,
        submission_person_position: null,
        submission_person_name: null,
        prev_progress_status_id: null,
        progress_status_id: null,
      }
      this.$nextTick (() => {
        this.$v.$reset()
      });
    },
    show () {
      this.modalShow = true
      this.loadData()
    }
  }
}
</script>