<template>
  <div>
    <b-card no-body>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <!-- <router-link class="btn btn-primary btn-sm float-right" :to="{ name: 'admin_layer_category_create' }"><i class="fa fa-plus"></i> Tambah</router-link> -->
          </div>
        </div>
      </template>

      <b-card-body class="p-0 p-md-3">
        <div class="px-3 py-1 border border-bottom-0 bg-light">
          <b-row class="justify-content-center">
            <b-col cols="auto">
              <b-form-radio-group
                v-model="status"
                @change="loadData"
                button-variant="primary"
                name="radio-btn-outline"
                buttons
              >
                <b-form-radio value="all"><i class="fas fa-globe mx-1"></i>Semua</b-form-radio>
                <b-form-radio value="0"><i class="fas fa-clock mx-1"></i>Diajukan</b-form-radio>
                <b-form-radio value="1"><i class="fas fa-check mx-1"></i>Disetujui</b-form-radio>
                <b-form-radio value="2"><i class="fas fa-times mx-1"></i>Ditolak</b-form-radio>
              </b-form-radio-group>
            </b-col>
          </b-row>
        </div>
        <b-table
          bordered
          striped
          hover
          :fields="tableFields"
          :items="tableItems"
          :busy="loadingData"
          responsive
          fixed>

          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;&nbsp;Loading...</strong>
            </div>
          </template>

          <template v-slot:table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field != 'index' && field.width ? field.width : 'auto' }"
            >
          </template>

          <template v-slot:cell(index)="data">
            {{ data.index + ((currentPage - 1) * 10) + 1 }}
          </template>

          <template v-slot:cell(regency)="data">
            {{ data.item.progress ? data.item.progress.regency ? data.item.progress.regency.name : '' : '' }}
          </template>

          <template v-slot:cell(prev_progress)="data">
            {{ data.item.prev_progress_status.name }}
          </template>

          <template v-slot:cell(progress)="data">
            {{ data.item.progress_status.name }}
          </template>

          <template v-slot:cell(status)="data"> 
            <div v-if="data.item.status === 0">
              <b-btn href="#" class="w-100 rounded-pill" variant="warning"><i class="fa fa-clock mx-1"></i>Menunggu Persetujuan</b-btn>
            </div>
            <div v-if="data.item.status === 1">
              <b-btn href="#" class="w-100 rounded-pill" variant="success"><i class="fa fa-check mx-1"></i>Disetujui</b-btn>
            </div>
            <div v-if="data.item.status === 2">
              <b-btn href="#" class="w-100 rounded-pill" variant="danger"><i class="fa fa-times mx-1"></i>Ditolak</b-btn>
            </div>
          </template>

          <template v-slot:cell(action)="data" class="text-center">
            <!-- <b-button-group> -->
              <b-btn :id="'approve-' + data.item.id" v-if="[0, 2].includes(data.item.status)"  @click="handleApprove(data.item.id)" variant="success" size="sm" class="px-3" >
                <i class="fa fa-check" ></i></b-btn>
              <!-- <b-popover
                :target="'approve-' + data.item.id"
                triggers="hover focus"
                placement="left"
                >
                <template #title>
                  <b-button variant="success"  @click="handleApprove(data.item.id)" size="sm"><i class="fa fa-check mx-1"></i>Setujui</b-button>
                </template>
              </b-popover> -->

              <b-btn v-if="[0, 1].includes(data.item.status)" v-b-tooltip.top.v-danger title="Tolak" variant="danger" size="sm" class="px-3" @click="handleRefuse(data.item.id)">
                <i class="fa fa-times" ></i></b-btn>
            <!-- </b-button-group> -->
          </template>

        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="10"
          
          @change="handlePageChange"
        ></b-pagination>
      </b-card-body>
    </b-card>
  </div>
</template>

<!-- script js -->
<script>
import masterMixin from '../../../mixins/master'
export default {
  mixins: [ masterMixin ],
  data () {
    return {
      status: 'all',
      currentPage: 1,
      totalRows: 1,
      loadingData: true,
      tableItems: [],
      tableFields: [
        { key: 'index', label: 'No', width: '40px' },
        { key: 'id', label: 'ID', width: '60px' },
        { key: 'regency', label: 'Kab/Kota' },
        { key: 'prev_progress', label: 'Progres Sebelumnnya' },
        { key: 'progress', label: 'Progres' },
        { key: 'status', label: 'Status' },
        { key: 'action', label: 'Aksi', width: '200px', class: 'text-center' }
      ],
      moreParams: {}
    };
  },
  created() {
    this.loadData()
  },
  methods: {
    renderIcon (classes, options) {
      return `<span class="${classes.join(' ')}"></span>`
    },
    getParams () {
      return { 
        params: {
          status: this.status,
          page: this.currentPage
        }
      }
    },
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/admin/progress-regional-approvals", this.getParams()).then(response => {
        this.loadingData = false
        this.tableItems = []
        this.tableItems = response.data.data;
        this.currentPage = response.data.current_page;
        this.totalRows = response.data.total;
      })
    },
    handleApprove (id) {
      this.loadingData = true
      axios.post(`/api/admin/progress-regional-approvals/${id}/approve`).then(response => {
        this.loadData()
        this.loadingData = false
      }).catch(response => {
        this.showFailedAlert()
      })
    },
    handleRefuse (id) {
      this.loadingData = true
      axios.post(`/api/admin/progress-regional-approvals/${id}/refuse`).then(response => {
        this.loadData()
        this.loadingData = false
      }).catch(response => {
        this.showFailedAlert()
      })
    }
  }
};
</script>
<style>
  .pagination {
    margin-top: 0;
  }
  /* .btn.btn-border {
    border: 1px solid;
    margin-right: 2px;
  } */
  .vuetable-pagination-info {
    margin-top: 8px !important;
  }
  span.sort-icon {
    float: right;
    color: #ff9100;
  }
</style>