<template>
  <div>
    <b-card no-body>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <!-- <router-link class="btn btn-primary btn-sm float-right" :to="{ name: 'admin_progress_regional_create' }"><i class="fa fa-plus"></i> Tambah</router-link> -->
          </div>
        </div>
      </template>

      <b-card-body class="p-1 p-md-3">
         <div class="px-3 py-1 border border-bottom-0 bg-light">
          <b-row class="justify-content-center">
            <b-col cols="auto">
              <search-bar v-model="searchVal" :search-keys="searchKeys" :search-key.sync="searchKey" @submit="loadData" @key-change="searchKey = $event"/>
            </b-col>
          </b-row>
        </div>
        <b-table
          bordered
          striped
          hover
          :fields="tableFields"
          :items="tableItems"
          :busy="loadingData"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          no-local-sorting
          @sort-changed="loadData"
          responsive
          fixed>

          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;&nbsp;Loading...</strong>
            </div>
          </template>

          <template v-slot:table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field != 'index' && field.width ? field.width : 'auto', color: '#FF0000' }"
            >
          </template>

          <template v-slot:cell(index)="data">
            {{ data.index + ((currentPage - 1) * 10) + 1 }}
          </template>
          <template v-slot:cell(group)="data">
            <!-- {{ data.item.group.name }} -->
          </template>
          <template v-slot:cell(region)="data">
            {{ data.item.region ? data.item.region.name : "" }}
          </template>
          <!-- <template v-slot:cell(type)="data">
            {{ data.item.type ? data.item.type.name : "" }}
          </template> -->
          <!-- <template v-slot:cell(regulation)="data">
            {{ data.item.regulation_name }}
          </template> -->

          <template v-slot:cell(action)="data" class="text-center">
            <!-- <router-link tag="b-btn" v-b-tooltip.top.v-info title="Lihat" class="btn-info btn-sm px-3" :to="{ name: 'admin_progress_regional_show', params: { id: data.item.id } }">
              <span class="fa fa-eye"></span>
            </router-link> -->
          </template>

        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="10"
          
          @change="handlePageChange"
        ></b-pagination>
      </b-card-body>
    </b-card>
  </div>
</template>

<!-- script js -->
<script>
import SearchBar from '../../../components/search-bar.vue'

export default {
  components: { SearchBar },
  data () {
    return {
      currentPage: 1,
      totalRows: 1,
      loadingData: true,
      tableItems: [],
      tableFields: [
        { key: 'index', label: 'No', width: '40px' },
        { key: 'id', sortable: true, searchable: true, label: 'ID', width: '5em' },
        { key: 'code', sortable: true, searchable: true, label: 'Kode', width: '20em' },
        { key: 'category', sortable: true, searchable: true, label: 'Kategori', width: '20em' },
        { key: 'filename', sortable: true, searchable: true, label: 'Nama File', width: '20em' },
        // { key: 'type', sortable: true, searchable: true, label: 'Jabatan', width: '20em' },
        // { key: 'preview_url', sortable: true, searchable: true, label: 'Preview Url', width: '20em' },
        { key: 'status', sortable: true, searchable: true, label: 'Status', width: '20em' },
        { key: 'action', label: 'Aksi', stickyColumn: true, width: '15em', class: 'text-center' }
      ],
      
      moreParams: {},
      searchKey: 'id',
      searchVal: '',
      sortBy: 'id',
      sortDesc: false,
    };
  },
  computed: {
    searchKeys () {
      return this.tableFields.filter(field => {
        return field.searchable
      })
    }
  },
  created() {
    this.loadData()
  },
  methods: {
    renderIcon (classes, options) {
      return `<span class="${classes.join(' ')}"></span>`
    },
    getParams () {
      return { 
        params: {
          searchKey: this.searchKey,
          searchVal: this.searchVal,
          sortBy: this.sortBy,
          sortDesc: this.sortDesc,
          page: this.currentPage
        }
      }
    },
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/admin/earth-engine-tasks", this.getParams()).then(response => {
        this.loadingData = false
        this.tableItems = []
        this.tableItems = response.data.data;
        this.currentPage = response.data.current_page;
        this.totalRows = response.data.total;
      })
    }
  }
};
</script>
<style>
  .pagination {
    margin-top: 0;
  }
  /* .btn.btn-border {
    border: 1px solid;
    margin-right: 2px;
  } */
  .vuetable-pagination-info {
    margin-top: 8px !important;
  }
  span.sort-icon {
    float: right;
    color: #ff9100;
  }
</style>