<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-12 col-md-8">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-4">
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        :types="types"
        :form-data="formData"
        :file-image="fileImage"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'

export default {
  mixins: [ mixin ],
  components: {
    BaseForm
  },
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/partners/create`).then(response => {
        this.setOptions(response.data)
      });
    },
    resetForm () {
      this.formData = {
        is_published: 0,
        name: null,
        content: null,
        image: null,
        taglist: []
      };

      this.$nextTick (() => {
        this.$v.$reset()
      });
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.showLoadingAlert('Saving ...');
      axios.request({
        method: 'post',
        url: '/api/admin/partners',
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.showSuccessAlert(response.data.message);
      }).catch(error => {
        this.showFailedAlert(error.response.data.message);
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>