<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row no-gutters>
        <b-col :xs="12" :md="8" class="py-0 pr-0">
          <b-form-group
            id="example-input-group-1"
            label="Title"
            label-for="example-input-1"
          >
            <b-form-input
              :readonly="readonly"
              id="example-input-1"
              name="example-input-1"
              v-model="formData.title"
              :state="validateState('title')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input-1-live-feedback"
              >This is a required field and must be at least 3
              characters.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" offset-md="1" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              :disabled="readonly"
              buttons
            >
              <b-form-radio value="1"
                ><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio
              >
              <b-form-radio value="0"
                ><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group
        label="Link"
      >
        <b-form-input
          :readonly="readonly"
          v-model="formData.url"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Image" label-for="example-input-4">
        <b-form-input
          class="d-none"
          v-model="formData._image"
          :state="validateState('_image')"
        ></b-form-input>
        <file-pond
          name="image"
          ref="pond"
          :server="filepondServer"
          :disabled="readonly"
          label-idle="Drag & Drop berkas disini..."
          v-bind:allow-multiple="false"
          accepted-file-types="image/jpeg, image/png"
          maxFileSize="10MB"
          v-on:updatefiles="handleUpdateFiles"
          :files.sync="fileImage"
        />
      </b-form-group>
    </b-form>
  </div>
</template>
<script>
import FormMixin from '@/mixins/form'
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [FormMixin],
  props: {
    readonly: {
      default: false,
      type: Boolean
    },
    fileImage: Array,
    formData: {
      type: Object,
      default: {}
    },
  },
  validations: {
    formData: {
      // taglist: {
      //   required,
      //   minLength: minLength(1)
      // },
      title: {
        required,
        minLength: minLength(3),
      },
      _image: {
        required
      },
    },
  },
  methods: {
    handleUpdateFiles(files) {
      if (files.length) {
        let file = files[0];
        if (file.status === 2) {
          this.fileImage[0] = file
          this.formData._image = file.filename
        }
        return;
      }
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.formData[name];
      return $dirty ? !$error : null;
    },
  },
};
</script>
<style>
</style>