<template>
  <div>
    <b-card>
      <template v-slot:header>
       <ShowNav @reset="loadData" edit-route="admin_partner_edit" :edit-params="$route.params" />
      </template>
      <base-form ref="baseform"
        readonly
        :types="types"
        :form-data="formData"
        :file-image="fileImage"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import ShowNav from '_c/show-nav'

export default {
  components: {
    ShowNav,
    BaseForm
  },
  data () {
    return {
      fileImage: [],
      types: [],
      formData: {
        name: null,
        description: null,
        image: null,
        type: []
      }
    }
  },
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/partners/${this.id}`).then(response => {
        this.formData = response.data
        if (this.formData.image) this.fileImage.push({
          source: `${window.location.origin}${this.formData.image}`,
        })
      });
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>