<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-8">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-4">
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>
      <header-form ref="baseform"
        :categories="categories"
        :parents="parents"
        :form-data="formData"
      />
    </b-card>
  </div>
</template>

<script>
import HeaderForm from './forms/header-form'
import masterMixin from '../../../mixins/master'
import mixin from './mixin'

export default {
  components: {
    HeaderForm
  },
  mixins: [ mixin, masterMixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/layer-groups/create`).then(response => {
        this.setOptions(response.data)
      })
    },
    resetForm () {
      this.formData = {
        title: null,
        content: null,
        type: null
      };

      this.$nextTick (() => {
        this.$v.$reset()
      })
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.showLoadingAlert()
      axios.post('/api/admin/layer-groups', this.getParams()).then(response => {
        this.showSuccessAlert()
        this.$router.push({
          params: { 
            id: response.data.id
          },
          name: 'admin_layer_group_edit',
        })
      }).catch(error => {
        this.showFailedAlert()
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>