<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
          </div>
        </div>
      </template>
      <header-form 
        readonly
        ref="baseform"
        :categories="categories"
        :parents="parents"
        :form-data="formData"
      />
      <detail-form readonly/>
    </b-card>
  </div>
</template>

<script>
import HeaderForm from './forms/header-form'
import DetailForm from './forms/detail-form.vue'
import masterMixin from '../../../mixins/master'
import mixin from './mixin'

export default {
  components: {
    DetailForm,
    HeaderForm
  },
  mixins: [ mixin, masterMixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/regulations/${this.id}`).then(response => {
        this.formData = response.data
        this.categories = [response.data.category]
        this.parents = [response.data.parent]
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>