<template>
  <div>
    <b-card>
      <template v-slot:header>
        <CreateNav @submit="onSubmit" @reset="onReset"/>
      </template>
      <BaseForm ref="baseform" :form-data="formData" :files="files" />
    </b-card>
  </div>
</template>

<script>
import BaseForm from "./form"
import CreateNav from '_c/create-nav'
import Mixin from "./mixin"

export default {
  components: {
    CreateNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    loadData() {
      // fetch data dari api menggunakan axios
      // this.loadingData = true
      // axios.get(`/admin/api/vouchers/create`).then(response => {
      // this.formData = response.data.roomType
      // this.types = response.data.types
      // });
    },
    onReset() {
      this.formData = {
        name: null,
        password: null,
        confirm_password: null,
        email: null
      }
      this.$nextTick(() => {
        this.$v.$reset();
      });
    },
    onSubmit() {
      if (this.$refs.baseform.invalidate()) {
        return
      }
      this.showLoadingAlert();
      axios
        .post(this.endpoint, this.getFormData(), this.a$multipart)
        .then((response) => {
          this.showSuccessAlert(response.data.message)
          this.$router.push({
            params: { 
              id: response.data.id
            },
            name: 'admin_slide_edit',
          })
        })
        .catch((error) => {
          this.showSuccessAlert(error.response.data.message)
        })
    },
  },
  mounted() {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>