<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row>
        <b-col :xs="12" :md="9" class="py-0 pr-0">
          <b-form-group
            id="example-input-group-1"
            label="Name"
            label-for="example-input-1"
          >
            <b-form-input
              :readonly="readonly"
              id="example-input-1"
              name="example-input-1"
              v-model="formData.name"
              :state="v$('name')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>
            <b-form-invalid-feedback id="input-1-live-feedback"
              >This is a required field and must be at least 3
              characters.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="1"
                ><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio
              >
              <b-form-radio value="0"
                ><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group id="input-url-group" label="Url" label-for="input-url">
        <b-form-input
          :readonly="readonly"
          id="input-url"
          name="input-url"
          v-model="formData.url"
          aria-describedby="input-url-feedback"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Image" label-for="example-input-4">
        <file-pond
          name="image"
          ref="pond"
          label-idle="Drop files here..."
          v-bind:allow-multiple="false"
          accepted-file-types="image/jpg,image/jpeg,image/png"
          maxFileSize="10MB"
          :server="filepondServer"
          v-on:updatefiles="handleUpdateFiles"
          v-bind:files="files"
        />
      </b-form-group>
    </b-form>
  </div>
</template>
<script>
import {
  required,
  requiredIf,
  minLength,
  sameAs,
} from "vuelidate/lib/validators";
import FormMixin from "@/mixins/form";

export default {
  mixins: [FormMixin],
  props: {
    readonly: false,
    files: Array,
    formData: Object,
  },
  validations() {
    return {
      formData: {
        name: {
          required,
          minLength: minLength(3),
        },
      },
    };
  },
};
</script>
<style>
</style>