<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-9">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-3">
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <!-- push router ke form membuat data -->
              <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>

      <header-form ref="baseform"
        :form-data="formData"
      />
      <detail-form />
    </b-card>
  </div>
</template>

<script>
import HeaderForm from './forms/header-form'
import DetailForm from './forms/detail-form.vue'
import masterMixin from '../../../mixins/master'
import mixin from './mixin'

export default {
  components: {
    DetailForm,
    HeaderForm
  },
  mixins: [ mixin, masterMixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.showLoadingAlert()
      axios.get(`/api/admin/indicator-configs/${this.id}/edit`).then(response => {
        this.formData = response.data.formData
        // this.setOptions(response.data)
        this.showSuccessAlert(response.data.message);
      })
    },
    resetForm () {
      this.loadData()
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.showLoadingAlert()
      axios.put(`/api/admin/indicator-configs/${this.id}`, this.getParams()).then(response => {
        this.showSuccessAlert(response.data.message);
      }).catch(error => {
        this.showFailedAlert(response.data.message);
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>