<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group label="Peraturan" label-for="input-regulation">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-regulation"
              name="example-input-2"
              v-model="formData.regulation_id"
              :state="validateState('regulation_id')"
              aria-describedby="input-regulation-feedback"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regulation" deselect-label="Selected" :options="regulations" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-regulation-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group id="example-input-group-2" label="Group" label-for="example-input-2">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="example-input-2"
              name="example-input-2"
              v-model="formData.layer_group_id"
              :state="validateState('layer_group_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="group" deselect-label="Selected" :options="groups" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col sm="12" md="6">
          <b-form-group label="Region Type" label-for="input-region-type">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-type"
              name="region_type"
              v-model="formData.region_type"
              :state="validateState('region_type')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regionType" @select="handleRegionTypeSelected" deselect-label="Selected" :options="regionTypes" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Region " label-for="input-region-id">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-id"
              name="region_id"
              v-model="formData.region_id"
              :state="validateState('region_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="region" deselect-label="Selected" :options="regions" :loading="regionLoading" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="12">
          <b-form-group label="Shape" label-for="input-file">
            <template #label>
              Shape (.shp, .shx, .dbf, .prj)
              <a v-if="id" href="#" @click="downloadShapefile" class="float-right"><i class="fas fa-download mx-1"></i> Unduh</a>
            </template>
            <b-form-input
              class="d-none"
              id="input-file"
              name="file"
              v-model="formData.file"
              :state="validateState('file')"
              aria-describedby="input-file-feedback"
            ></b-form-input>
            <file-pond
              name="file"
              ref="pond"
              label-idle="Drag & Drop berkas disini..."
              v-bind:allow-multiple="false"
              maxFileSize="100MB"
              :disabled="readonly"
              accepted-file-types="application/zip,application/octet-stream,application/x-zip-compressed,multipart/x-zip"
              v-on:updatefiles="handleUpdateFiles"/>

              <b-form-invalid-feedback
                id="input-file-feedback"
              >This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col :sm="12" :md="6">
          <b-form-group id="example-input-group-1" label="SRID" label-for="example-input-1">
            <b-form-input
              class="d-none"
              :readonly="readonly"
              id="example-input-1"
              name="example-input-1"
              v-model="formData.srid"
              :state="validateState('srid')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="srid" deselect-label="Selected" :options="srids" :loading="sridLoading" @close="loadSrid(formData.srid)" :internal-search="false" :searchable="true" :show-no-results="false" @search-change="loadSrid" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">
                  {{ option.name }}
                  {{ option.id }}
              </template>
              <template slot="option" slot-scope="props">
                <div class="option__desc">
                  <span class="option__title">{{ props.option.name }}</span>
                  <span class="option__small">{{ props.option.id }}</span>
                </div>
              </template>
            </multiselect>
            <b-form-invalid-feedback
              id="input-1-live-feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        
        <b-col :xs="12" :md="6" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="1"><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio>
              <b-form-radio value="0"><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio>
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="12">

          <b-tabs v-model="previewTab" content-class="mt-3">
            <b-tab title="Local Preview" :disabled="readonly">
              <vl-map v-if="previewTab == 0" ref="local-map" :load-tiles-while-animating="true" style="height:400px" :load-tiles-while-interacting="true" data-projection="EPSG:4326">
                <vl-view :zoom="zoom" :center="center" :rotation="rotation"></vl-view>
                <vl-layer-tile id="osm">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>

                <vl-layer-vector overlay :z-index="100" v-if="geojson.features.length">
                  <vl-source-vector :features.sync="geojson.features"></vl-source-vector>
                </vl-layer-vector>
              </vl-map>
            </b-tab>
            <b-tab title="Uploaded Preview" :disabled="id === null">
              <vl-map v-if="previewTab == 1" ref="uploaded-map" :load-tiles-while-animating="true" style="height:400px" :load-tiles-while-interacting="true" data-projection="EPSG:4326">
                <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>
                <vl-layer-tile id="osm">
                  <vl-source-osm></vl-source-osm>
                </vl-layer-tile>
                <vl-layer-tile overlay :z-index="10" v-if="group.length">
                  <vl-source-wms :url="group[0].wms" :ext-params.sync="extParams" matrix-set="EPSG:4326" :layers="`sitr:layer_group_${group[0].id}`" format="image/png" ></vl-source-wms>
                </vl-layer-tile>
              </vl-map>
            </b-tab>
          </b-tabs>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, requiredIf } from "vuelidate/lib/validators";
import shp from "shpjs";
import downloadFile from 'js-file-download'

export default {
  mixins: [validationMixin],
  props: {
    readonly: {
      type: Boolean,
      default: false
    },
    id: null,
    files: Array,
    groups: Array,
    regulations: Array,
    regionTypes: Array,
    // regions: Array,
    formData: Object
  },
  data () {
    return {
      previewTab: null,
      regions: [],
      regionLoading: true,
      srids: [],
      sridLoading: true,
      fileShape: null,
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      clipedGeojson: null,
      geojson: {
        features: []
      }
    }
  },
  validations: {
    formData: {
      layer_group_id: {
        required
      },
      regulation_id: {
        required
      },
      region_type: {
        required
      },
      region_id: {
        required
      },
      file: {
        requiredIf: requiredIf(function () {
          return this.id === null
        }),
      },
      srid: {
        required
      }
    }
  },
  computed: {
    styleFunction() {
      const fillColor = Math.floor(Math.random()*16777215).toString(16); // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 4,
          color: '#FFFFFFAA',
          opacity: 1,
          fillColor: '#000000AA',
          fillOpacity: 1
        };
      };
    },
    onEachFeatureFunction () {
      return (feature, layer) => {
        // console.log(feature)
        layer.options.fillColor = '#' + Math.floor(Math.random()*16777215).toString(16)
        layer.options.color = '#' + Math.floor(Math.random()*16777215).toString(16)

        // var v = this;
        let color = layer.options.color
        layer.on('click', (e) => {
          this.clipedGeojson = {
            fileName: 'Active',
            type: 'FeatureCollection',
            features: [e.target.feature]
          }
        })
        layer.bindTooltip(
          `<div>Name :${ feature.properties.regency_name }</div>`,
          { permanent: false, sticky: true, offset: [0, 0], className: 'my-label' }
        );
      };
    },
    options () {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    extParams () {
      return {
        cql_filter: `layer_id = ${this.id}`
      }
    },
    group: {
      get () {
        return this.groups.filter((el) => {
          return el.id == this.formData.layer_group_id 
        })
      },
      set (val) {
        this.formData.layer_group_id = val.id
      }
    },
    regulation: {
      get () {
        return this.regulations.filter((el) => {
          return el.id == this.formData.regulation_id 
        })
      },
      set (val) {
        this.formData.regulation_id = val.id
      }
    },
    regionType: {
      get () {
        return this.regionTypes.filter((el) => {
          return el.id == this.formData.region_type 
        })
      },
      set (val) {
        this.formData.region_type = val.id
      }
    },
    region: {
      get () {
        return this.regions.filter((el) => {
          return el.id == this.formData.region_id 
        })
      },
      set (val) {
        this.formData.region_id = val.id
      }
    },
    srid: {
      get () {
        return this.srids.filter((el) => {
          return el.id == this.formData.srid 
        })
      },
      set (val) {
        this.formData.srid = val.id
      }
    }
  },
  methods: {
    downloadShapefile () {
      axios.request({
        method: 'get',
        responseType: 'blob',
        url: `/api/admin/layers/${this.id}/shapefile`
      }).then(res => {
        downloadFile(res.data, `${this.group[0].name} ${this.region[0].name}.zip`)
      })
    },
    loadSrid(query) {
      if (query) {
        this.sridLoading = true
        axios.get("/api/admin/layers/srids", { params: { search: query } }).then(response => {
          this.srids = response.data
          this.sridLoading = false
        })
      }
    },
    handleRegionTypeSelected(val) {
      this.formData.region_id = null
      this.regions = []
      this.regionType = val
      this.loadRegions()
    },
    loadRegions () {
      this.regionLoading = true
      axios.get("/api/admin/layers/regions", { params: this.regionType[0] }).then(response => {
        this.regions = response.data
        this.regionLoading = false
      })
    },
    setGeoJson (geojson) {
      this.geojson = geojson
    },
    handleUpdateFiles (files) {
      if (files.length) {
        this.files[0] = files[0]
        this.formData.file = files[0].filename
        this.fileShape = files[0].file
        this.validateState('file')
        this.fileShape.arrayBuffer().then((arrayBuffer) => {
          shp(arrayBuffer).then((data) => {
              this.geojson = data
            })
        })
        return
      }
      this.formData.file = null
      this.fileShape = null
      this.files.length = 0
      this.validateState('file')

      this.geojson = {
        features: []
      }
      this.clipedGeojson = {
        features: []
      }
    },
    getFile () {
      return this.fileShape
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>