<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        readonly
        :id="id"
        :regulations="regulations"
        :region-types="regionTypes"
        :groups="groups"
        :files="files"
        :form-data="formData"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'
export default {
  components: {
    BaseForm
  },
  mixins: [mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/layers/${this.id}`).then(response => {
        this.formData = response.data
        this.groups = [this.formData.group]
        this.regulations = [this.formData.regulation]
        this.regionTypes = [this.formData.type]
        this.$nextTick(() => {
          this.$refs.baseform.loadRegions()
        })
        // this.groups = [this.formData.group]
        // this.loadGeojson()
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>