<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row>
        <b-col :xs="12" :md="9" class="py-0 pr-0">
          <b-form-group id="example-input-group-1" label="Title" label-for="example-input-1">
            <b-form-input
              :readonly="readonly"
              id="example-input-1"
              name="example-input-1"
              v-model="formData.title"
              :state="validateState('title')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>

            <b-form-invalid-feedback
              id="input-1-live-feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              :disabled="readonly"
              buttons
            >
              <b-form-radio value="1"><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio>
              <b-form-radio value="0"><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio>
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group label="Content" label-for="example-input-3">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="example-input-2"
          name="example-input-2"
          v-model="formData.content"
          :state="validateState('content')"
        ></b-form-input>
        <quill-editor :disabled="readonly" v-model="formData.content" />
        <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group id="example-input-group-2" label="Type" label-for="example-input-2">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="example-input-2"
          name="example-input-2"
          v-model="taglist"
          :state="validateState('taglist')"
        ></b-form-input>
        <multiselect
          :disabled="readonly" 
          @tag="addTag"
          multiple
          taggable
          v-model="formData.taglist"
          v-bind:options="types"
          track-by="value"
          label="value"></multiselect>
        <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Image" label-for="example-input-4">
        <file-pond
          name="image"
          ref="pond"
          :disabled="readonly"
          label-idle="Drag & Drop berkas disini..."
          v-bind:allow-multiple="false"
          accepted-file-types="image/jpeg, image/png"
          maxFileSize="10MB"
          v-on:updatefiles="handleUpdateFiles"
          :files.sync="fileImage"/>
      </b-form-group>

    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    types: Array,
    fileImage: Array,
    formData: {
      type: Object,
      default: () => {
        return {
          taglist: [],
        }
      }
    }
  },
  validations: {
    formData: {
      taglist: {
        required,
        minLength: minLength(1) 
      },
      title: {
        required,
        minLength: minLength(3)
      },
      content: {
        required,
        minLength: minLength(3)
      }
    }
  },
  computed: {
    taglist () {
      return this.formData.taglist ? this.formData.taglist.toString() : ""
    }
  },
  methods: {

    handleUpdateFiles (files) {
      if (files.length) {
        let file = files[0]
        // console.log(file)
        if (file.status === 2) {
          this.fileImage[0] = file
        }
        return
      }
    },
    addTag (newTag) {
      const tag = {
        value: newTag,
        id: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.types.push(tag)
      this.formData.taglist.push(tag)
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>