<template>
  <div>
    <vl-map ref="map" :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326" style="height: calc(100vh - 60px); margin-top: 60px;">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <b-button id="menu-button" v-b-toggle.sidebar-1 size="lg" style="bg-light" variant="primary">
        <b-icon icon="grid3x3-gap-fill"></b-icon>
      </b-button>

      <!-- <b-button id="detail-button" :disabled="loadingAttributes" v-b-toggle.sidebar-2 size="lg" style="bg-light" variant="primary">
        <b-spinner v-if="loadingAttributes" small></b-spinner>
        <b-icon v-else icon="exclamation-circle-fill" aria-hidden="true"></b-icon>
        Detail Information
      </b-button> -->
      <vl-layer-tile id="gee" :z-index="1" overlay>
        <!-- <vl-source-xyz url="https://earthengine.googleapis.com/v1alpha/projects/earthengine-legacy/maps/9ff4705af0af2e914048932ff34284a0-524894fc50e9decc99321e4cea9da2e6/tiles/{z}/{x}/{y}" projection="EPSG:3857"></vl-source-xyz> -->
        <vl-source-xyz v-if="geeUrl" :url.sync="geeUrl" projection="EPSG:3857"></vl-source-xyz>
      </vl-layer-tile>
      <vl-layer-tile id="osm" :z-index="0">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
    </vl-map>
    <b-sidebar id="sidebar-1" title="Filter" right shadow>
      <div class="px-3 py-2">
        <b-form>
              <div>

                <b-form-group label="Kab/Kota">
                  <b-form-input
                    class="d-none"
                    id="input-regency"
                    v-model="selectedRegency"
                    :state="validateState('selectedRegency')"
                    aria-describedby="input--regency--feedback"
                  ></b-form-input>
                  <multiselect
                    v-model="regency"
                    :options="regencies"
                    :preserve-search="true"
                    placeholder="Pilih Kabupaten"
                    label="name"
                    track-by="id"
                    select-label=""
                    selected-label=""
                    deselect-label=""
                    @select="handleFilterRegencySelected">
                  </multiselect>

                  <b-form-invalid-feedback
                    id="input--regency--feedback"
                  >This is a required field.</b-form-invalid-feedback>
                </b-form-group>
                <!-- <div class="mt-1">
                  <b-list-group-item class="d-flex justify-content-between align-items-center py-1" v-for="item in selectedRegency" :key="item.id">
                    <b>{{ item.name }}</b>
                    <b-btn href="#" variant="outline-light ml-auto">
                      <b-icon font-scale="1" icon="x-circle" class="text-dark" />
                    </b-btn>
                  </b-list-group-item>
                </div> -->
              </div>
              <div>
                <b-form-group label="Start">
                  <b-form-datepicker
                    id="input--start_date"
                    v-model="startDate"
                    :state="validateState('startDate')"
                    aria-describedby="input--startDate--feedback">
                    <template v-slot:nav-this-month>
                      <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-calendar b-icon bi">
                        <g>
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                        </g>
                      </svg>
                    </template> 
                  </b-form-datepicker>
                  <b-form-invalid-feedback
                    id="input--startDate--feedback"
                  >This is a required field.</b-form-invalid-feedback>
                </b-form-group>
              </div>
              <div>
                <b-form-group label="End">
                  <b-form-datepicker
                    id="input--end_date"
                    v-model="endDate"
                    :state="validateState('endDate')"
                    aria-describedby="input--endDate--feedback">
                    <template v-slot:nav-this-month>
                      <svg viewBox="0 0 16 16" width="1em" height="1em" focusable="false" role="img" aria-label="calendar" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi-calendar b-icon bi">
                        <g>
                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                        </g>
                      </svg>
                    </template> 
                  </b-form-datepicker>
                  <b-form-invalid-feedback
                    id="input--endDate--feedback"
                  >This is a required field.</b-form-invalid-feedback>
                </b-form-group>
              </div>
              <div class="my-2">
                <b-button :disabled="loadingActive" @click="loadGeeUrl" size="lg" class="w-100" style="bg-light" variant="primary">
                  <!-- <b-spinner small></b-spinner> -->
                  <b-icon v-if="loading.previewGee" icon="arrow-clockwise" animation="spin"></b-icon>
                  <b-icon v-else icon="arrow-clockwise" aria-hidden="true"></b-icon>
                  Tampilkan Citra GEE
                </b-button>
              </div>
              <div class="my-2">
                <b-button :disabled="loadingActive" size="lg" class="w-100" style="bg-light" @click="handleDownload" variant="success">
                  <b-icon v-if="loading.downloadGee" icon="arrow-clockwise" animation="spin"></b-icon>
                  <b-icon v-else icon="cloud-download-fill" aria-hidden="true"></b-icon>
                  Unduh Citra GEE
                </b-button>
              </div>
              <div class="d-flex justify-content-center">
                <div class="mx-2">
                  Penutup Lahan
                </div>
              </div>
              <div class="my-2">
                <b-button :disabled="loadingActive" @click="loadLandCoverUrl" size="lg" class="w-100" style="bg-light" variant="warning">
                  <!-- <b-spinner small></b-spinner> -->
                  <b-icon v-if="loading.previewLandCover" icon="arrow-clockwise" animation="spin"></b-icon>
                  <b-icon v-else icon="arrow-clockwise" aria-hidden="true"></b-icon>
                  Tampilkan Penutup Lahan
                </b-button>
              </div>
              <div class="my-2">
                <b-button :disabled="loadingActive" size="lg" class="w-100" style="bg-light" @click="handleDownloadLandCover" variant="danger">
                  <b-icon v-if="loading.downloadLandCover" icon="arrow-clockwise" animation="spin"></b-icon>
                  <b-icon v-else icon="cloud-download-fill" aria-hidden="true"></b-icon>
                  Unduh Penutup Lahan
                </b-button>
              </div>
        </b-form>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
import { findPointOnSurface } from 'vuelayers/src/ol-ext/geom'

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [ validationMixin ],
  data() {
    return {
      pointOnSurface: findPointOnSurface,
      // wmsOptions: {
      //   CQL_FILTER:'morphable_id=3523'
      //   // bounds: L.latLngBounds([[110.8801498413086, -8.580594062805176],[114.63066864013672 -5.025364875793457]])
      // },
      mapView: 'all',
      mapOptions: [
        { text: 'Semua', value: 'all' },
        { text: 'Per Kab/Kota', value: 'filtered' }
      ],
      clipedId: null,
      clipedGeojson: [],
      baseGeojson: null,
      geojson: {
        fileName: 'Show',
        type: 'FeatureCollection',
        features: []
      },
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      colorRegencies: [],
      searchRegency: null,
      selectedRegency: null,
      tableFields: [
        { key: 'name', label: 'Nama' },
        // { key: 'key', label: 'Key' },
        { key: 'value', label: 'Value' }
      ],
      attributes: [],
      loadingAttributes: false,
      rawAttributes: [],
      documentFields: [
        { key: 'name', label: 'Nama' },
        // { key: 'key', label: 'Key' },
        { key: 'file', label: 'Link' }
      ],
      documents: [],
      zonationRuleFields: [
        { key: 'index', label: 'No', width: '40px' },
        { key: 'regulation_no', label: 'Perda No.' },
        { key: 'chapter', label: 'Pasal' },
        { key: 'verse', label: 'Ayat' },
        { key: 'point', label: 'Butir' },
        { key: 'description', label: 'Deskripsi' },
      ],
      startDate: null,
      endDate: null,
      geeUrl: null,
      loadingGee: false,
      loadingDownload: false,
      loading: {
        previewGee: false,
        downloadGee: false,
        previewLandCover: false,
        downloadLandCover: false
      },
      zonationRules: [],
      regencies: [],
      groups: [],
      groupSelecteds: [],
      // layers: []
      // marker: L.latLng(-7.24917, 112.75083),
    }
  },
  validations: {
    startDate: {
      required
    },
    endDate: {
      required
    },
    selectedRegency: {
      required
    }
  },
  computed: {
    regency: {
      get () {
        return this.regencies.filter((el) => {
          return el.id == this.selectedRegency
        })
      },
      set (val) {
        this.selectedRegency = val.id
      }
    },
    extParams () {
      if (this.mapView == 'all') {
        return {}
      }
      return {
        cql_filter: `morphable_id in (${this.selectedRegencyIds.join()})`
      }
    },
    editLink () {
      return this.clipedId ? `/admin/geometry/${this.clipedId}/edit` : '#' 
    },
    loadingActive () {
      return Boolean(Object.entries(this.loading).filter(([_, value]) => {
        return value
      }).length)
    },
    layers () {
      let flatten = (arr) => {
          return arr? arr.reduce((result, item) => [
              ...result,
              { ...item },
              ...flatten(item.children)
          ], []) : [];
      }
      return flatten(this.groups).filter(item => {
        return this.groupSelecteds.map((i) => { return i.id } ).includes(item.id)
      })
    },
    showedRegencies () {
      this.clipedGeojson.features = []
      return this.regencies.filter(item => {
        return item.is_showing
      }).map(item => {
        return parseInt(item.id)
      })
    }
  },
  // watch: {
  //   mapView () {
  //     this.refreshMap()
  //   }
  // },
  methods: {
    refreshMap () {
      this.$refs.map.refresh()
      this.$forceUpdate()
    },
    handleFilterRegencySelected (option, id) {
      // option.groups = JSON.parse(JSON.stringify(this.groups))
      this.refreshMap()
      this.clipedGeojson = [];
      this.attributes = [];
      // this.selectedRegency.push(option)
    },
    getParams () {
      return {
        params: {
          groups: this.layers.filter(item => {
            return item.is_showing
          }).map(item => {
            return parseInt(item.id)
          }),
          view: this.mapView,
          regencies: this.selectedRegencyIds
        }
      }
    },
    onMapClick (event) {
    },
    async loadRegencies () {
      axios.get("/api/webgis/regencies").then(response => {
        this.loadingData = false
        this.regencies = response.data
        this.regencies.forEach(item => {
          this.colorRegencies[parseInt(item.id)] = '#' + Math.floor(Math.random()*16777215).toString(16)
        })
      })
    },
    getGeeParams () {
      let region = this.regency[0].name
      return {
        params: {
          start_date: this.startDate,
          end_date: this.endDate,
          region: region.replace('KABUPATEN ', '')
        }
      }
    },
    validateState (name) {
      const { $dirty, $error } = this.$v[name]
      return $dirty ? !$error : null
    },
    async loadGeeUrl () {
      this.$v.$touch()
      if (this.$v.$anyError) {
        return;
      }
      this.loading.previewGee = true
      this.geeUrl = null
      axios.get("/api/earth-engine/get-url", this.getGeeParams()).then(response => {
          this.geeUrl = response.data
          this.loading.previewGee = false
      }).catch(error => {
        this.loading.previewGee = false
      })
    },
    async loadLandCoverUrl () {
      this.$v.$touch()
      if (this.$v.$anyError) {
        return;
      }
      this.loading.previewLandCover = true
      this.geeUrl = null
      axios.get("/api/earth-engine/get-land-cover-url", this.getGeeParams()).then(response => {
          this.geeUrl = response.data.classified
          this.loading.previewLandCover = false
      }).catch(error => {
        this.loading.previewLandCover = false
      })
    },
    async handleDownload () {
      if (this.selectedRegency == null) {
        return
      }
      this.loading.downloadGee = true
      this.geeUrl = null
      axios.get("/api/earth-engine/download", this.getGeeParams()).then(response => {
          this.geeUrl = response.data.preview_url
          this.loading.downloadGee = false
      }).catch(error => {
        this.loading.downloadGee = false
      })
    },
    async handleDownloadLandCover () {
      if (this.selectedRegency == null) {
        return
      }
      this.loading.downloadLandCover = true
      this.geeUrl = null
      axios.get("/api/earth-engine/download-land-cover", this.getGeeParams()).then(response => {
          this.geeUrl = response.data.preview_url
          this.loading.downloadLandCover = false
      }).catch(error => {
        this.loading.downloadLandCover = false
      })
    }
  },
  watch: {
    groupSelecteds (val) {
      document.querySelector('.vue-treeselect__single-label').innerHTML = `${this.layers.length} Layer Dipilih`
    }
  },
  async mounted () {
    await this.loadRegencies()
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .b-sidebar {
    top: 60px;
  }
  #detail-button {
    position: absolute;
    top: calc(.5em + 60px);
    right: calc(.5em + 24px);
    z-index: calc(1030 + 4);
  }
  #menu-button {
    position: absolute;
    top: calc(.5em + 60px);
    right: calc(.5em + 24px);
    z-index: calc(1030 + 4);
  }
  // .ol-zoom {
  //   right: .5em;
  //   left: unset;
  // }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
  .vue-treeselect__single-label {
    padding: 0.375rem 0.75rem;
    display: none;
  }
  .vue-treeselect--has-value .vue-treeselect__single-label {
    display: block;
  }
  .vue-treeselect__input {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__single-label {
    display: none;
  }
  .vue-treeselect__multi-value-item-container {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__multi-value-item-container, .vue-treeselect--open .vue-treeselect__input {
    display: block;
  }
}
</style>