<template>
  <div class="">
    <div class="d-flex m-0">
      <div class="indicator-sidebar-box">
        <b-sidebar id="sidebar-1" class="d-md-block indicator-sidebar"  hide-header-close shadow visible>
          <div class="p-2">
            <div v-for="item, index in progress" :key="index" class="mt-1">
              <p class="h5">
                <a href="#">{{ item.name }}</a>
              </p>
              <b-progress :max="100" show-progress animated>
                <b-progress-bar :style="{ 'background-color': item.color }" :value="item.value" ></b-progress-bar>
              </b-progress>
            </div>
            <div v-if="indicator" class="my-5 mx-3">
              <b-img :src="`${indicator.wms}?REQUEST=GetLegendGraphic&VERSION=1.0.0&HEIGHT=20&FORMAT=image/png&LAYER=sitr:layer_indicator_${indicator.id}&STYLE=${style}&legend_options=fontAntiAliasing:true;dpi:90;fontSize:12;`" fluid alt="Responsive image"></b-img>
            </div>
            <b-tabs>
              <b-tab title="Dokumen">
                <div v-for="document in documents" :key="document.id" class="p-3">
                  <b-card
                    tag="article"
                    class="mb-2"
                    no-body
                  >
                    <!-- <b-card-img v-if="document.image" :src="document.image" alt="Image" ></b-card-img> -->
                    <div class="p-2">
                      <b-btn v-if="document.mime === 'application/pdf'" @click="handlePreviewPdf(document)" variant="link" size="sm" style="position:absolute;left:0;top:0;">
                        <i class="fas fa-eye">
                        </i>
                      </b-btn>
                      <b-card-text class="text-center" style="text-overflow: ellipsis;word-wrap: break-word;overflow: hidden;max-height: 3.6em;line-height: 1.8em;">
                        <a :href="document.file"><i class="fas fa-download mx-1"></i>{{ document.name }}</a>
                      </b-card-text>
                    </div>
                  </b-card>
                </div>
              </b-tab>
            </b-tabs>
          </div>
        </b-sidebar>
      </div>
      <div class="flex-fill p-0">
        <div class="">
          <vl-map ref="map" :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326" style="height: calc(100vh - 260px); margin-top: 60px;">
            <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>
            <vl-layer-tile id="osm">
              <vl-source-osm></vl-source-osm>
            </vl-layer-tile>
             <vl-layer-tile v-if="indicator" overlay :z-index="10">
              <vl-source-wms :url="indicator.wms" matrix-set="EPSG:4326" :layers="`sitr:layer_indicator_${indicator.id}`" :styles.sync="style" format="image/png" ></vl-source-wms>
            </vl-layer-tile>
          </vl-map>
          <div style="height:200px;" class="bg-light">
            <b-row class="p-2">
              <b-col cols="auto">
                <!-- <b-form-select v-model.sync="config" variant="primary" @change="loadChartDataByKey" style>
                  <b-form-select-option v-for="item in configs" :value="item.key" :key="item.key">{{ item.name }}</b-form-select-option>
                </b-form-select> -->
                <multiselect v-model="config" deselect-label="Selected" :options.sync="configs" track-by="id" label="name" @select="loadChartDataByKey" :allow-empty="false" :preselect-first="true">
                </multiselect>
              </b-col>
            </b-row>
            <div class="px-3" style="height:160px;">
              <bar-chart chart-id='chart-bottom' :chart-data="bottomBarChart" :styles="{ height: '160px' }" :options="bottomChartOptions"></bar-chart>
            </div>
          </div>
        </div>
      </div>
      <div class="indicator-sidebar-box">
        <b-sidebar id="sidebar-2" right shadow  hide-header-close visible class="d-md-block indicator-sidebar">
          <bar-chart-side chart-id='chart-side'  :chart-data="sideBarChart" :styles="{ height: '80vh' }"  :options="sideBarChartOptions"></bar-chart-side>
        </b-sidebar>
      </div>
    </div>

    <b-modal v-model="pdfPreviewShow"  hide-footer no-close-on-backdrop :title="pdfTitle" size="xl">
      <!-- <vue-pdf :src="pdfSource"/> -->
      <vue-pdf :src="pdfData" v-for="i in pdfNumPages" :key="i" :id="i" :page="i"
        scale="page-width"
        :annotation="true"
        :resize="true">
        <template slot="loading">
          <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
        </template>
      </vue-pdf>
    </b-modal>
  </div>
</template>
<script>
import BarChart from "../components/BarChart.js";
import BarChartSide from "../components/HorizontalBarChart.js";
import pdfvuer from 'pdfvuer'

export default {
  components: { BarChart, BarChartSide },
  data () {
    return {
      pdfTitle: null,
      pdfSource: null,
      pdfData: null,
      pdfPreviewShow: false,
      pdfNumPages: 0,
      config: null,
      indicator: null,
      documents: [],
      configs: [],
      progress: [],
      bottomBarChart: {},
      bottomChartOptions: {
        responsive: true,
        maintainAspectRatio: false, 
        legend: {
          display: false
        } 
      },
      sideBarChart: {},
      sideBarChartOptions: {
        responsive: true,
        maintainAspectRatio: false, 
        scales: {
          xAxes: [
            {
              stacked: true,
              ticks: {
                padding: 0,
                suggestedMin: 0,
                beginAtZero: true
              },
              gridLines: { display: false }
            }
          ],
          yAxes: [
            {
              ticks: {
                padding: 0,
                min: 0,
                max: 100,
                autoSkip: false,
                precission: 1,
                stepSize: 2,
                suggestedMin: 0,
                beginAtZero: true
              },
              gridLines: {
                drawTicks: false,
                display: false
              },
              stacked: true
            }
          ]
        },
        legend: { display: false }
      },
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917]
    }
  },
  methods: {
    handlePreviewPdf (doc) {
      this.pdfPreviewShow = true
      this.pdfSource = doc.file
      this.pdfTitle = doc.name

      this.pdfData = pdfvuer.createLoadingTask(doc.file);
      this.pdfData.then(pdf => {
        this.pdfNumPages = pdf.numPages;
      })
    },
    async loadChartData () {
      axios.get(`/api/indicator/chart-data`).then(response => {
        this.sideBarChart = response.data
      })
    },
    async loadChartDataByKey (val) {
      axios.get(`/api/indicator/${val.key}/chart-data-by-key`).then(response => {
        this.bottomBarChart = response.data
      })
    },
    async loadData () {
      axios.get('/api/indicator').then(response => {
        this.indicator = response.data.indicator
        this.configs = response.data.configs
        this.progress = response.data.progress
        this.documents = response.data.documents
        if (this.configs.length) {
          this.config = this.configs[0]
          this.loadChartDataByKey(this.config)
        }
      })
    }
  },
  computed: {
    style () {
      if (this.config) {
        return `style_indicator_${this.config.id}_${this.config.key}`
      }
      return 'default'
    }
  },
  async mounted () {
    await this.loadData()
    await this.loadChartData()
  }
}
</script>

<style scoped lang="scss">
::v-deep {
  .b-sidebar {
    top: 60px;
  }
  @media (min-width: 768px) {
    .indicator-sidebar-box, .indicator-sidebar .b-sidebar {
      width: 360px;
    }
  }
}
</style>