<template>
  <div style="margin-top: 60px;">
    <div class="container">

      <b-row class="justify-content-center justify-content-md-between m-0 pt-3">
        <b-col class="mb-2 mb-md-0" cols-sm="12" cols-md="2" order-sm="1" order-md="0">
          <multiselect
            taggable
            placeholder="Tag"
            v-model="tag"
            v-bind:options="tags"
            track-by="id"
            select-label=""
            selected-label=""
            deselect-label=""
            id="tag-select"
            @input="loadData"
            label="value"></multiselect>
        </b-col>
        <b-col class="mb-2 mb-md-0" cols="auto" order-sm="0" order-md="1">
          <b-form-radio-group
            v-model="type"
            @change="loadData"
            button-variant="primary"
            name="radio-btn-outline"
            buttons
          >
            <b-form-radio value="all"><i class="fas fa-globe mx-1"></i>Semua</b-form-radio>
            <b-form-radio value="image"><i class="fas fa-image mx-1"></i>Image</b-form-radio>
            <b-form-radio value="video"><i class="fas fa-video mx-1"></i>Video</b-form-radio>
            <b-form-radio value="zip"><i class="fas fa-file-archive mx-1"></i>Zip</b-form-radio>
            <b-form-radio value="pdf"><i class="fas fa-file-pdf mx-1"></i>Pdf</b-form-radio>
          </b-form-radio-group>
        </b-col>
        <b-col class="mb-2 mb-md-0" cols-sm="12" cols-md="2" order="2">
          <b-form @submit.stop.prevent="loadData">
            <b-input-group >
              <b-form-input  class="border border-primary" v-model="search" name="search" type="search"></b-form-input>
              <b-input-group-append>
                <b-button variant="primary" type="submit"><i class="fas fa-search"></i></b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form>
        </b-col>
      </b-row>
      <b-row cols="1" cols-sm="2" cols-md="4" cols-lg="5" class="m-0 p-2">
        <b-col v-for="document in documents" :key="document.id" class="p-3">
          <b-card
            tag="article"
            class="mb-2"
          >
            <!-- <b-card-img v-if="document.image" :src="document.image" alt="Image" ></b-card-img> -->
            <div>
              <b-btn v-if="document.mime === 'application/pdf'" @click="handlePreviewPdf(document)" variant="link" size="sm" style="position:absolute;left:0;top:0;">
                <i class="fas fa-eye">
                </i>
              </b-btn>
              <div class="text-center mb-1">
                <div v-if="document.image" style="height:12em;">
                  <b-img class="border-0" fluid style="height:12em;"  :src="document.image" alt="Image 1"></b-img>
                </div>
                <!-- <b-avatar v-else size="12em" icon="file-earmark-fill"></b-avatar> -->
              </div>
              <b-card-text class="text-center" style="text-overflow: ellipsis;word-wrap: break-word;overflow: hidden;max-height: 3.6em;height: 3.6em;line-height: 1.8em;">
                <a :href="document.file"><i class="fas fa-download mx-1"></i>{{ document.name }}</a>
              </b-card-text>
            </div>
          </b-card>
        </b-col>
      </b-row>
      <b-row class="justify-content-center m-0">
        <b-col cols="auto">
            <b-pagination
              v-model="currentPage"
              :total-rows="totalRows"
              :per-page="10"
              first-text="First"
              prev-text="Prev"
              next-text="Next"
              last-text="Last"
              @change="handlePageChange"
            ></b-pagination>
        </b-col>
      </b-row>
    </div>

    <b-modal v-model="pdfPreviewShow"  hide-footer no-close-on-backdrop :title="pdfTitle" size="xl">
      <vue-pdf :src="pdfSource"/>
    </b-modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      pdfTitle: null,
      pdfSource: null,
      pdfPreviewShow: false,
      search: null,
      tag: null,
      tags: [],
      currentPage: 1,
      totalRows: 1,
      type: 'all',
      documents: []
    }
  },
  methods: {
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    handlePreviewPdf (doc) {
      this.pdfPreviewShow = true
      this.pdfSource = doc.file
      this.pdfTitle = doc.name
    },
    getParams () {
      return {
        params: {
          tag: this.tag ? this.tag.id : null,
          search: this.search,
          page: this.currentPage,
          type: this.type
        }
      }
    },
    async loadFilter () {
      axios.get(`/api/library/filter`, this.getParams()).then(response => {
        this.tags = response.data.tags
      })
    },
    loadData () {
      axios.get(`/api/library`, this.getParams()).then(response => {
        this.documents = response.data.data
        this.currentPage = response.data.current_page
        this.totalRows = response.data.total
      })
    }
  },
  async mounted () {
    await this.loadFilter()
    this.loadData()
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .multiselect .multiselect__tags {
    border-color: #3490dc;
  }
}
</style>