<template>
  <div>
    <b-navbar
      toggleable="lg"
      variant="white"
      type="light"
      class="shadow"
      sticky
      small
    >
      <button
        class="navbar-toggler navbar-toggler-right"
        type="button"
        data-toggle="collapse"
        v-b-toggle.sidebar-1
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <b-navbar-brand href="/" class="p-0">
        <b-img
          src="/images/logo_jatim_pintar.png"
          width="96"
          fluid
          class="d-inline-block align-top"
          alt="Logo"
        />
      </b-navbar-brand>

      <b-navbar-nav class="d-none d-md-block">
        <b-nav-item
          @click="
            () => {
              expanded = !expanded;
            }
          "
        >
          <!-- <b-button variant="light"> -->
          <b-icon
            icon="list"
            :rotate="expanded ? 0 : 90"
            font-scale="2"
            aria-hidden="true"
          ></b-icon>
          <!-- </b-button> -->
        </b-nav-item>
      </b-navbar-nav>
      <b-nav-item-dropdown right class="ml-auto h-100 d-inline-block text-dark">
        <template #button-content>
          <b-avatar :src="image" class="avatar" alt="Avatar" size="32px" />
          {{ username }}
        </template>
        <b-dropdown-item @click="logout">Logout</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar>

    <b-row no-gutters id="body-row">
      <b-col
        id=""
        class="sidenav-container d-none d-md-block"
        style="min-width: 60px"
        cols="auto"
      >
        <main-nav
          :expanded="expanded"
          :username="username"
          :occupation="occupation"
          :image="image"
          :routes="routes"
        />
      </b-col>
      <b-col
        class="p-2 bg-light content-container"
      >
        <div class="flex-fill w-100 content-box" cols="auto">
          <router-view></router-view>
        </div>
      </b-col>
    </b-row>
    <b-sidebar
      id="sidebar-1"
      class="bg-white"
      bg-variant="white"
      width="200px"
      shadow
      backdrop
    >
      <main-nav
        :username="username"
        :occupation="occupation"
        :image="image"
        :routes="routes"
      />
    </b-sidebar>
  </div>
</template>
<script>
import MainNav from "./main-nav.vue";

export default {
  components: {
    MainNav,
  },
  data() {
    return {
      expanded: true,
      occupation: "",
      username: "Username",
      image: "/assets/images/logo/logo-mini.png",
      routes: [],
      // routes: this.$router.options.routes
    };
  },
  methods: {
    logout() {
      axios.post("/logout").then((response) => {
        window.location.reload();
      });
    },
    getActiveRouteClass(route) {
      if (route.name == this.routeName) return "active";
      if (this.$route.meta && this.$route.meta.parent == route.name)
        return "active";
      return "";
    },
    // checkRoutes(route) {
    //   if (route.meta) {
    //     if (route.meta.hasOwnProperty("access")) {
    //       return (
    //         Array.isArray(route.meta.access) &&
    //         route.meta.access.includes(this.occupation)
    //       );
    //     }
    //     if (route.meta.hasOwnProperty("hide")) {
    //       return !route.meta.hide;
    //     }
    //     return true;
    //   }
    //   return false;
    // },
    checkRoutes(route) {
        if (route.meta) {
            if (route.meta.hasOwnProperty('access')) {
                return Array.isArray(route.meta.access) && route.meta.access.includes(this.occupation)
            }
            if (route.meta.hasOwnProperty('hide')) {
                return !route.meta.hide
            }
            return true
        }
        return false
    },
    setRoutes() {
      this.routes = this.$router.options.routes.filter((route) => {
        return this.checkRoutes(route);
      });
    },
    getIcon(icon) {
      return `fa ${icon} mr-1`;
    },
  },
  async mounted() {
    axios.get("/user/profiles").then((response) => {
      this.username = response.data.name;
      this.occupation = response.data.level;
      this.setRoutes();
      if (response.data.image != null) this.image = response.data.image;
    });
    this.setRoutes();
  },
};
</script>
<style scoped>
#body-row {
  margin-left: 0;
  margin-right: 0;
}
.content-container {
  overflow: hidden auto;
  height: calc(100vh - 64px);
}
.sidenav-container {
  z-index: 9;
}
.sidenav-container,
.content-container
.content-box {
  transition: width 1s linear;
  -webkit-transition: width 1s linear;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
}
.navbar {
  z-index: 10;
}
.sidebar-collapsed {
  width: 48px;
}
</style>