<template>
  <div :class="classes" class="shadow bg-white">
    <div class="sidenav-user-info text-center">
      <b-avatar
        :src="image"
        class="avatar"
        alt="Avatar"
        :size="expanded ? 120 : 40"
      />
      <h5 class="user-name">{{ username }}</h5>
      <h6 class="user-level">{{ occupation }}</h6>
    </div>
    <div class="list-group list-group-flush sidemenu-container">
      <div v-for="route in routes" :key="route.path">
        <li
          v-if="getChildrenVisible(route).length"
          v-b-toggle="route.name"
          class="list-group-item subgroup"
        >
          <span class="w-100 subgroup-title">
            <i
              class="sidenav-item-icon"
              v-if="route.meta && route.meta.icon"
              :class="getIcon(route.meta.icon)"
            >
              <sup
                v-if="isHasChildrenActive(route)"
                class="position-absolute"
                style="margin-top: 0.75rem"
              >
                <b-icon icon="dot" scale="4" variant="primary" />
              </sup>
            </i>
            <span class="sidenav-item-text">
              {{ route.meta ? route.meta.title : "" }}
            </span>

            <span class="float-right sidenav-children-indicator">
              <i class="when-opened fa fa-chevron-down" />
              <i class="when-closed fa fa-chevron-right" />
            </span>
          </span>
          <b-collapse
            :id="route.name"
            @click.native="$event.stopImmediatePropagation()"
            :visible="isHasChildrenActive(route)"
          >
            <ul class="list-group sidenav-children list-group-flush">
              <router-link
                v-for="child in getChildrenVisible(route)"
                :key="child.path"
                class="sidenav-link list-group-item list-group-item-action"
                :class="getActiveRouteClass(child)"
                :to="child.path"
              >
                <i
                  class="sidenav-item-icon"
                  v-if="child.meta && child.meta.icon"
                  :class="getIcon(child.meta.icon)"
                ></i>
                <span class="sidenav-item-text">
                  {{ child.meta ? child.meta.title : "" }}
                </span>
              </router-link>
            </ul>
          </b-collapse>
        </li>
        <router-link
          v-else-if="checkRoutes(route)"
          class="sidenav-link list-group-item list-group-item-action"
          :class="getActiveRouteClass(route)"
          :to="route.path"
        >
          <i
            class="sidenav-item-icon"
            v-if="route.meta && route.meta.icon"
            :class="getIcon(route.meta.icon)"
          ></i>
          <span class="sidenav-item-text">
            {{ route.meta ? route.meta.title : "" }}
          </span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    expanded: {
      type: Boolean,
      default: true,
    },
    image: String,
    username: String,
    occupation: String,
    routes: Array,
  },
  computed: {
    classes() {
      if (this.expanded) {
        return ["sidenav-inner-container"];
      } else {
        return ["sidenav-inner-container", "sidenav-hoverable"];
      }
    },
    routeName() {
      return this.$route.name;
    },
  },
  methods: {
    isHide(route) {
      if (route.meta.hasOwnProperty("hide")) {
        return !route.meta.hide;
      }
      return true;
    },
    checkRoutes(route) {
      if (route.meta) {
        if (route.meta.hasOwnProperty("access")) {
          // console.log(route.meta, this.isHide(route))
          // if (route.meta.hasOwnProperty('hide')) {
          //   return !route.meta.hide
          // }
          return (
            Array.isArray(route.meta.access) &&
            route.meta.access.includes(this.occupation) &&
            this.isHide(route)
          );
        }
        // if (route.meta.hasOwnProperty('hide')) {
        //   return !route.meta.hide
        // }
        return this.isHide(route);
      }
      return false;
    },

    // checkRoutes(route) { // OLD
    //   if (route.meta) {
    //     if (route.meta.hasOwnProperty('access')) {
    //       // console.log(route.meta, this.isHide(route))
    //       // if (route.meta.hasOwnProperty('hide')) {
    //       //   return !route.meta.hide
    //       // }
    //       return (Array.isArray(route.meta.access) && route.meta.access.includes(this.occupation)) && this.isHide(route)
    //     }
    //     // if (route.meta.hasOwnProperty('hide')) {
    //     //   return !route.meta.hide
    //     // }
    //     return this.isHide(route)
    //   }
    //   return false
    // },
    isHasChildrenActive(route) {
      let children = this.getChildrenVisible(route);
      if (children.length) {
        return Boolean(
          children.filter((item) => {
            return Boolean(this.getActiveRouteClass(item));
          }).length
        );
      }
      return false;
    },
    getChildrenVisible(route) {
      if (route.children && route.children.length) {
        return route.children.filter((item) => {
          return this.checkRoutes(item);
        });
      }
      return [];
    },
    getIcon(icon) {
      return `${icon}`;
    },
    getActiveRouteClass(route) {
      if (route.name == this.routeName) return "active";
      if (this.$route.meta && this.$route.meta.parent == route.name)
        return "active";
      return false;
    },
  },
};
</script>

<style lang="scss" scoped>
.list-down-btn {
  float: right;
  color: black;
  margin-top: 2px;
}

.sidenav-inner-container .list-group-item {
  border: none;
}
.sidenav-inner-container.sidenav-hoverable {
  width: 60px;
  position: absolute;
  z-index: 9;
  &:hover {
    width: 220px;
    position: absolute;
    .sidenav-item-text {
      display: inline;
    }
    .sidenav-user-info {
      padding: 16px;
      .user-name {
        display: block;
      }
      .user-level {
        display: block;
      }
      .avatar {
        width: 120px !important;
        height: 120px !important;
      }
    }
    .sidenav-children,
    .sidenav-children-indicator {
      display: block;
    }
    .sidenav-link.active {
      padding-left: 0.5rem;
    }
    .sidenav-link {
      justify-content: start;
    }
    // .sidenav-item-icon {
    // margin-right: .25rem;
    // }
  }
  .sidenav-user-info {
    padding: 8px;
    .user-name {
      display: none;
    }
    .user-level {
      display: none;
    }
    .avatar {
      width: 40px;
      height: 40px;
    }
  }
  .sidenav-item-text {
    display: none;
  }
  .sidemenu-container {
    max-height: calc(100vh - 40px - 16px - 64px);
    min-height: calc(100vh - 40px - 16px - 64px);
  }
  .sidenav-children,
  .sidenav-children-indicator {
    display: none;
  }
  // .sidenav-item-icon {
  // margin-right: 0;
  // }
  .sidenav-link {
    padding-left: 1rem;
    justify-content: center;
  }
}
.sidenav-link {
  align-items: center;
  padding: 0.75rem 1rem;
  display: flex;
}
.sidenav-link.active {
  border-radius: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.5rem;
  width: auto;
}
.sidenav-item-text {
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidenav-item-icon {
  // margin-right: .25rem;
  display: flex;
  min-width: 1.6rem;
  justify-content: center;
}
.sidenav-user-info {
  padding: 16px;
  .avatar {
    width: 120px;
    height: 120px;
  }
}
.sidebar-collapsed {
  width: 48px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

.sidenav-inner-container {
  width: 220px;
  transition: all 0.24s ease-in-out;
  -webkit-transition: all 0.24s ease-in-out;
  transform: translateZ(0) scale(1, 1);
  -webkit-transform: translateZ(0) scale(1, 1);
}
img.avatar {
  border-radius: 50%;
}

.sidebar-separator-title {
  height: 35px;
}
.sidebar-separator {
  height: 25px;
}
.sidemenu-container,
.sidenav-inner-container.sidenav-hoverable .sidemenu-container:hover {
  overflow-y: auto;
  // vh - avatar - padding - userlevel - username - navbar
  max-height: calc(100vh - 120px - 32px - 24px - 28px - 64px);
  min-height: calc(100vh - 120px - 32px - 24px - 28px - 64px);
}
.logo-separator {
  height: 60px;
}
.sidenav-inner-container
  .list-group
  .list-group-item[aria-expanded="false"]
  .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.sidenav-inner-container
  .list-group
  .list-group-item[aria-expanded="true"]
  .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.collapsed .when-opened {
  display: none;
}
.not-collapsed .when-closed {
  display: none;
}
.subgroup {
  padding: 0;
}
.subgroup-title {
  display: block;
  color: #495057;
  padding: 0.75rem 1rem;
}
.subgroup .list-group-item {
  padding-left: 2.5rem;
}
</style>