<template>
    <div>
        <b-navbar toggleable="lg" variant="light" type="light" class="shadow" sticky small>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" v-b-toggle.sidebar-1 aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <b-navbar-brand href="/">
                <b-img src="/images/logo_jatim_pintar.png" width="96" fluid class="d-inline-block align-top" alt="Logo"/>
            </b-navbar-brand>

            <b-nav-item-dropdown right class="ml-auto h-100 d-inline-block text-dark">
                <template #button-content >
                    <b-avatar  :src="image" class="avatar" alt="Avatar" size="32px" />
                    {{ username }}
                </template>
                <b-dropdown-item @click="logout">Logout</b-dropdown-item>
            </b-nav-item-dropdown>
        </b-navbar>
        <b-row class="mx-0" id="body-row">
            <b-col id="" class="sidenav-container sidebar-expanded d-none d-md-block" cols="auto">
                <main-nav :username="username" :occupation="occupation" :image="image" :routes="routes"/>
            </b-col>
            <b-col class="p-1 pt-2 bg-light" style="overflow-y: auto;overflow-x: hidden;height: calc(100vh - 64px);">
                <div class="flex-fill w-100" cols="auto">
                    <router-view></router-view>
                </div>
            </b-col>
        </b-row>
        <b-sidebar id="sidebar-1" class="" width="240px" shadow backdrop>
            <main-nav :username="username" :occupation="occupation" :image="image" :routes="routes"/>
        </b-sidebar>
    </div>
    
</template>
<script>
import MainNav from './main-nav.vue'

export default {
    components: {
        MainNav
    },
    data() {
        return {
            occupation: "",
            username: "Username",
            image: "/assets/images/logo/logo-mini.png",
            routes: []
            // routes: this.$router.options.routes
        }
    },
    methods: {
        logout () {
            axios.post("/logout").then(response => {
                window.location.reload()
            })
        },
        getActiveRouteClass (route) {
            if (route.name == this.routeName) return 'active' 
            if (this.$route.meta && this.$route.meta.parent == route.name) return 'active' 
            return ''
        },
        checkRoutes(route) {
            if (route.meta) {
                if (route.meta.hasOwnProperty('access')) {
                    return Array.isArray(route.meta.access) && route.meta.access.includes(this.occupation)
                }
                if (route.meta.hasOwnProperty('hide')) {
                    return !route.meta.hide
                }
                return true
            }
            return false
        },
        setRoutes () {
            this.routes = this.$router.options.routes.filter((route) => {
                return this.checkRoutes(route)
            })
        },
        getIcon (icon) {
            return `fa ${icon} mr-1`
        }
    },
    async mounted () {
      await axios.get("/user/profiles").then(response => {
          this.username = response.data.name
          this.occupation = response.data.level
          if (response.data.image != null) this.image = response.data.image
      })
      this.setRoutes()
    }
}
</script>
<style scoped>
#body-row {
    margin-left:0;
    margin-right:0;
}

/* .sidenav-container {
    padding: 0;
} */
/* .sidebar-inner-container {
    position: fixed;
    width: 180px;
    top: 48px;
} */

.sidenav-container {
    /* max-height: calc(100vh - 64px + 12px);
    min-height: calc(100vh - 64px + 12px); */
    padding: 0;
}
/* .sidenav-container {
    position: fixed;
    width: 180px;
    top: 64px;
} */
.sidenav-container .list-group-item {
    border: none;
}
.navbar {
    z-index: 10;
}

.sidebar-expanded {
    width: 200px;
    border-right: 1px solid lightgray;
}
.sidebar-collapsed {
    width: 48px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

img.avatar {
  border-radius: 50%;
}

.sidebar-separator-title {
    height: 35px;
}
.sidebar-separator {
    height: 25px;
}
.sidemenu-container {
    overflow-y: auto;
    border-right: 1px solid lightgray;
    max-height: calc(100vh - 230px);
    min-height: calc(100vh - 230px);
}
.logo-separator {   
    height: 60px;
}

</style>