<template>
  <div class="sidenav-inner-container">
      <div class="text-center py-2 py-md-3">
          <b-avatar :src="image" class="avatar" alt="Avatar" size="120px"/>
          <h5>{{ username }}</h5>
          <h6>{{ occupation }}</h6>
      </div>
      <div class="list-group list-group-flush sidemenu-container mb-5" >
          <div v-for="route in routes" :key="route.path" >
              <li v-if="getChildrenVisible(route).length" v-b-toggle="route.name" class="list-group-item subgroup">
                <span class="w-100 subgroup-title">
                 <i v-if="route.meta && route.meta.icon" :class="getIcon(route.meta.icon)"></i>
                {{ route.meta ? route.meta.title : '' }}

                  <span class="float-right">
                    <i class="when-opened fa fa-chevron-down" />
                  <!-- </span>
                  <span class=""> -->
                    <i class="when-closed fa fa-chevron-right" />
                  </span>
                </span>
                <!-- <b-btn href="#" v-b-toggle="route.name" variant="light"> -->
                <!-- </b-btn> -->
                <b-collapse :id="route.name" @click.native="$event.stopImmediatePropagation()" :visible="isHasChildrenActive(route)">
                  <ul class="list-group list-group-flush">
                    <router-link v-for="child in getChildrenVisible(route)" :key="child.path" class="list-group-item list-group-item-action" :class="getActiveRouteClass(child)" :to="child.path">
                        <i v-if="child.meta && child.meta.icon" :class="getIcon(child.meta.icon)"></i>
                        {{ child.meta ? child.meta.title : '' }}
                    </router-link>
                  </ul>
                </b-collapse>
              </li>
              <router-link v-else-if="checkRoutes(route)" class="list-group-item list-group-item-action" :class="getActiveRouteClass(route)" :to="route.path">
                  <i v-if="route.meta && route.meta.icon" :class="getIcon(route.meta.icon)"></i>
                  {{ route.meta ? route.meta.title : '' }}
              </router-link>
          </div>
      </div>
  </div>
</template>

<script>
export default {
  props: {
    image: String,
    username: String,
    occupation: String,
    routes: Array
  },
  computed: {
    routeName () {
      return this.$route.name
    }
  },
  methods: {
    isHide (route) {
      if (route.meta.hasOwnProperty('hide')) {
        return !route.meta.hide
      }
      return true
    },
    checkRoutes(route) {
      if (route.meta) {
        if (route.meta.hasOwnProperty('access')) {
          // console.log(route.meta, this.isHide(route))
          // if (route.meta.hasOwnProperty('hide')) {
          //   return !route.meta.hide
          // }
          return (Array.isArray(route.meta.access) && route.meta.access.includes(this.occupation)) && this.isHide(route)
        }
        // if (route.meta.hasOwnProperty('hide')) {
        //   return !route.meta.hide
        // }
        return this.isHide(route)
      }
      return false
    },
    isHasChildrenActive(route) {
      let children = this.getChildrenVisible(route)
      if (children.length) {
        return Boolean(children.filter(item => {
          return Boolean(this.getActiveRouteClass(item))
        }).length)
      }
      return false
    },
    getChildrenVisible (route) {
      if (route.children && route.children.length) {
        return route.children.filter(item => {    
          return this.checkRoutes(item)
        })
      }
      return []
    },
    getIcon (icon) {
      return `${icon} mr-1`
    },
    getActiveRouteClass (route) {
      if (route.name == this.routeName) return 'active' 
      if (this.$route.meta && this.$route.meta.parent == route.name) return 'active' 
      return false
    },
  }
}
</script>

<style scoped>
/* 
.sidenav-inner-container {
    max-height: calc(100vh - 64px);
    min-height: calc(100vh - 64px);
    padding: 0;
}
.sidenav-inner-container {
    position: fixed;
    width: 180px;
    top: 64px;
} */
.list-down-btn
{
  float: right;
  color: black;
  margin-top: 2px;
}

.sidenav-inner-container .list-group-item {
    border: none;
}
.navbar {
    z-index: 10;
}

.sidebar-expanded {
    width: 180px;
    border-right: 1px solid lightgray;
}
.sidebar-collapsed {
    width: 48px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

img.avatar {
  border-radius: 50%;
}

.sidebar-separator-title {
    height: 35px;
}
.sidebar-separator {
    height: 25px;
}
.sidemenu-container {
    overflow-y: auto;
    /* border-right: 1px solid lightgray; */
    max-height: calc(100vh - 166px - 84px);
    min-height: calc(100vh - 166px - 84px);
}
.logo-separator {   
    height: 60px;
}


.sidenav-inner-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

.sidenav-inner-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
nav.navbar {
    position: fixed;
    width: 100%;
    background: white;
}
.base-container {
    padding-top: 48px;
}
.navbar-nav {
    float: none !important;
}
.navbar-nav > li {
    float: none;
    padding: 1px;
}
.navbar-nav > li > a {
    color: gray;
}
.collapsed .when-opened {
  display: none;
}
.not-collapsed .when-closed {
  display: none;
}
.subgroup {
  padding: 0;
}
.subgroup-title {
  display: block;
  color: #495057;
  padding: 0.75rem 1.25rem;
}
.subgroup .list-group-item {
  padding-left: 2.5rem;
}
</style>