<template>
  <div>

    <vl-map ref="map" :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326" style="height: calc(100vh - 60px); margin-top: 60px;" @click="onMapClick">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <b-button id="menu-button" v-b-toggle.sidebar-1 size="lg" style="bg-light" variant="primary">
        <b-icon icon="grid3x3-gap-fill"></b-icon>
      </b-button>

      <b-button id="detail-button" :disabled="loadingAttributes" v-b-toggle.sidebar-2 size="lg" style="bg-light" variant="primary">
        <b-spinner v-if="loadingAttributes" small></b-spinner>
        <b-icon v-else icon="exclamation-circle-fill" aria-hidden="true"></b-icon>
        Informasi Rinci
      </b-button>
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
      <vl-layer-tile v-if="regionalLayerGroup && mapView === 'regional' && regionalView === 'all'" overlay :z-index="10">
        <vl-source-wms :url="regionalLayerGroup.wms" matrix-set="EPSG:4326" :layers="`sitr:layer_progress_regional`" format="image/png" ></vl-source-wms>
      </vl-layer-tile>
      <vl-layer-tile  v-else-if="regionalLayerGroup && mapView === 'regional' && regionalView === 'filtered'" overlay :z-index="10">
        <vl-source-wms :url="regionalLayerGroup.wms" :ext-params.sync="regionalExtParams" matrix-set="EPSG:4326" :layers="`sitr:layer_progress_regional`" format="image/png" ></vl-source-wms>
      </vl-layer-tile>
      <vl-layer-tile v-else overlay>
        <!-- <vl-source-wms v-if="detailedLayerGroup"
          :url="detailedLayerGroup.wms" :ext-params.sync="detailedExtParams" matrix-set="EPSG:4326" :layers="`sitr:layer_group_${detailedLayerGroup.id}`" format="image/png" ></vl-source-wms> -->
        <vl-source-wms
          :url="detailedLayerGroup.wms" :ext-params.sync="detailedExtParams" matrix-set="EPSG:4326" :layers="`sitr:layer_progress_detailed`" format="image/png" ></vl-source-wms>
      </vl-layer-tile>


      <vl-layer-vector overlay :z-index="100" v-if="clipedGeojson.length">
        <vl-source-vector :features.sync="clipedGeojson"></vl-source-vector>
        <vl-overlay
          v-for="feature in clipedGeojson"
          :key="feature.id"
          :id="feature.id"
          class="feature-popup"
          :position="pointOnSurface(feature.geometry)"
          :auto-pan="true"
          :auto-pan-animation="{ duration: 300 }">
          <template slot-scope="popup">
            <section class="card" style="max-width:100vh;">
              <!-- <header class="card-header p-2">
                  {{ feature.properties.group_name }}
              </header> -->
              <div class="card-body p-1">
                <!-- <b-tabs content-class="mt-3">
                  <b-tab title="Atribut" active> -->
                    <b-table
                      bordered
                      striped
                      hover
                      small
                      :fields="tableFields"
                      :items="attributes"
                      :busy="loadingAttributes"
                      responsive="sm"></b-table>
                  <!-- </b-tab>
                </b-tabs> -->
              </div>
            </section>
          </template>
        </vl-overlay>
      </vl-layer-vector>
    </vl-map>
    <b-sidebar id="sidebar-1" title="Filter" shadow>
      <div class="px-3 py-2">
        <div>
          <!-- <div>
            <b-btn href="#" v-b-toggle="'collapse-' + 'group'" variant="outline-light">
              <span class="when-opened">
                <b-icon font-scale="1" icon="chevron-down" class="text-dark" />
              </span>
              <span class="when-closed">
                <b-icon font-scale="1" icon="chevron-right" class="text-dark" />
              </span>
            </b-btn>
            <b>Layer</b>
          </div> -->
          <!-- <b-collapse id="collapse-group">
            <b-list-group>
              <b-list-group-item v-for="item in groups" :key="item.id" class="d-flex justify-content-between align-items-center py-1">
                {{ item.name }}
                <b-form-checkbox v-model="item.is_showing" name="check-button" switch @change="updateShowed"></b-form-checkbox>
              </b-list-group-item>
            </b-list-group>
          </b-collapse> -->
          <div class="mb-2">
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="mapView"
              button-variant="outline-primary"
              size="lg"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="regional"><i class="fas fa-th-large mx-1"></i>RTRW</b-form-radio>
              <b-form-radio value="detailed"><i class="fas fa-th mx-1"></i>RDTR</b-form-radio>
            </b-form-radio-group>
          </div>
          <div v-if="mapView === 'regional'">
            <b-form-radio-group
              class="w-100 mt-1"
              v-model="regionalView"
              @change="refreshMap"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="all">Semua</b-form-radio>
              <b-form-radio value="filtered">Per Kab/Kota</b-form-radio>
            </b-form-radio-group>
            <div v-if="regionalView === 'filtered'">
              <multiselect v-model="selectedRegencies" :options="listRegencies" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pilih Kab/Kota" label="name" track-by="name" @change="refreshMap">
                <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
              </multiselect>
              <div>
                <div v-for="item in selectedRegencies" :key="item.id">
                  <b-btn href="#" v-b-toggle="'collapse-regency-' + item.id" variant="outline-light">
                    <span class="when-opened">
                      <b-icon font-scale="1" icon="chevron-down" class="text-dark" />
                    </span>
                    <span class="when-closed">
                      <b-icon font-scale="1" icon="chevron-right" class="text-dark" />
                    </span>
                  </b-btn>
                  <b>{{ item.name }}</b>
                  <b-collapse :id="'collapse-regency-' + item.id" class="px-5">
                    <b-list-group-item v-for="item in groups" :key="item.id" class="d-flex justify-content-between align-items-center py-1">
                      {{ item.name }}
                      <b-form-checkbox v-model="item.is_showing" name="check-button" switch @change="updateShowed"></b-form-checkbox>
                    </b-list-group-item>
                  </b-collapse>
                </div>
              </div>
            </div>
            <div v-else>
              <div class="mt-2">
                <div v-for="item, index in regionalLegends">
                  <p class="h5">
                    <a href="#" v-b-toggle.sidebar-3 @click="handleProgressRegionalClick(item.id)">{{ item.name }}</a>
                  </p>
                  <b-progress :max="regionalTotal" show-progress animated>
                    <b-progress-bar :style="{ 'background-color': item.color }" :value="regionalCounts[index]" ></b-progress-bar>
                  </b-progress>
                </div>
                <pie-chart-regional chart-id='chart-regional' :data="regionalChartData"></pie-chart-regional>
              </div>
            </div>
          </div>
          <div v-else>
            <b-form-radio-group
              class="w-100 mt-1"
              v-model="detailedView"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="all">Semua</b-form-radio>
              <b-form-radio value="filtered">Per Kab/Kota</b-form-radio>
            </b-form-radio-group>
            <div v-if="detailedView === 'filtered'">
              <multiselect v-model="selectedRegencies" :options="listRegencies" :multiple="true" :close-on-select="false" :clear-on-select="false" :preserve-search="true" placeholder="Pick some" label="name" track-by="name" >
                <template slot="selection" slot-scope="{ values, search, isOpen }"><span class="multiselect__single" v-if="values.length &amp;&amp; !isOpen">{{ values.length }} options selected</span></template>
              </multiselect>
              <div>
                <div v-for="item in selectedRegencies" :key="item.id">
                  <b-btn href="#" v-b-toggle="'collapse-regency-' + item.id" variant="outline-light">
                    <span class="when-opened">
                      <b-icon font-scale="1" icon="chevron-down" class="text-dark" />
                    </span>
                    <span class="when-closed">
                      <b-icon font-scale="1" icon="chevron-right" class="text-dark" />
                    </span>
                  </b-btn>
                  <b>{{ item.name }}</b>
                  <b-collapse :id="'collapse-regency-' + item.id" class="px-5">
                  </b-collapse>
                </div>
              </div>
            </div>
            <div v-else>
              <div class="mt-2">
                <div v-for="item, index in detailedLegends">
                  <p class="h5">{{ item.name }}</p>
                  <b-progress :max="detailedTotal" show-progress animated>
                    <b-progress-bar :style="{ 'background-color': item.color }" :value="detailedCounts[index]"></b-progress-bar>
                  </b-progress>
                </div>
                <pie-chart-detailed chart-id='chart-detailed' :data="detailedChartData"></pie-chart-detailed>
              </div>
            </div>
          </div>
        </div>
      </div>
    </b-sidebar>
    <b-sidebar id="sidebar-2" right shadow>
      <template #header="{ hide }">
        <h3 class="w-100">
          <b-button @click="hide" variant="light" size="lg"><span class="fa fa-times"></span></b-button>
          Informasi Rinci
        </h3>
      </template>

      <b-tabs content-class="mt-3">
        <!-- <b-tab title="Atribut" active>
          <b-table
            bordered
            striped
            hover
            :fields="tableFields"
            :items="attributes"
            :busy="loadingAttributes"
            responsive="sm"></b-table>
        </b-tab> -->
        <b-tab title="Info" active>
          <b-table
            bordered
            striped
            hover
            :fields="tableFields"
            :items="attributes"
            :busy="loadingAttributes"
            responsive="sm"></b-table>
        </b-tab>
        <b-tab title="Histori">
          <b-list-group-item v-for="item in histories" :key="item.id" class="d-block py-1 my-2">
              {{ item.progress_status.name }}
              <div>
                <b-list-group-item v-for="doc in item.documents" :key="'doc-' + doc.id" class="my-1">
                  <a :href="doc.file_url">{{ doc.name }}</a>
                </b-list-group-item>
              </div>
          </b-list-group-item>
        </b-tab>
      </b-tabs>
    </b-sidebar>
    <b-sidebar id="sidebar-3" right shadow>
      <b-list-group-item v-for="item in progressRegencies" :key="item.id" class="d-flex justify-content-between align-items-center">
        {{ item.regency.name }}
        <!-- <b-form-checkbox v-model="item.is_showing" name="check-button" switch @change="updateShowed"></b-form-checkbox> -->
      </b-list-group-item>
    </b-sidebar>
  </div>
</template>

<script>
import PieChartRegional from "../components/PieChart.js";
import PieChartDetailed from "../components/PieChart.js";

import { findPointOnSurface } from 'vuelayers/src/ol-ext/geom'

export default {
  components: {
    PieChartRegional,
    PieChartDetailed
  },
  data() {
    return {
      pointOnSurface: findPointOnSurface,
      mapView: 'regional',
      regionalView: 'all',
      detailedView: 'all',
      clipedLatLng: null,
      clipedId: null,
      clipedGeojson: [],

      baseGeojson: null,
      geojson: {
        fileName: 'Show',
        type: 'FeatureCollection',
        features: []
      },
      regionalLayer: null,
      regionalLayerGroup: null,
      regionalLegends: [],
      regionalCounts: [],
      regionalTotal: 0,
      regionalChartData: {
        hoverBackgroundColor: "red",
        hoverBorderWidth: 10,
        labels: [],
        datasets: [{
          data: []
        }]
      },
      regionalGeo: {
        fileName: 'Show',
        type: 'FeatureCollection',
        features: []
      },
      detailedLayer: null,
      detailedLayerGroup: null,
      detailedLegends: [],
      detailedCounts: [],
      detailedTotal: 0,
      detailedChartData: {
        hoverBackgroundColor: "red",
        hoverBorderWidth: 10,
        labels: [],
        datasets: [{
          data: []
        }]
      },
      detailedGeo: {
        fileName: 'Show',
        type: 'FeatureCollection',
        features: []
      },
      // zoom: 9,
      // popup: L.popup(),
      // center: L.latLng(-7.24917, 112.75083),
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      // url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      // attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      colorRegencies: [],
      searchRegency: null,
      selectedRegencies: [],
      attributes: [],
      loadingAttributes: false,
      tableFields: [
        { key: 'name', label: 'Nama' },
        // { key: 'key', label: 'Key' },
        { key: 'value', label: 'Value' }
      ],
      progressRegencies: [],
      progressDistricts: [],
      histories: [],
      regencies: [],
      groups: []
      // marker: L.latLng(-7.24917, 112.75083),
    }
  },
  computed: {
    editLink () {
      return `/admin/geometry/${this.clipedId}/edit`
    },
    listRegencies () {
      return this.regencies.filter(item => {
        return true
      })
    },
    showedRegencies () {
      this.clipedGeojson.features = []
      return this.regencies.filter(item => {
        return item.is_showing
      }).map(item => {
        return parseInt(item.id)
      })
    },
    selectedRegencyIds () {
      return this.selectedRegencies.map(item => {
        return parseInt(item.id)
      })
    },
    regionalExtParams () {
      // let filter = ''
      if (this.selectedRegencyIds.length) {
        let filter = `region_id in (${this.selectedRegencyIds.join()})`
        return {
          cql_filter: filter
        }
      }
      return {}
    },
    detailedExtParams () {
      if (this.selectedRegencyIds.length) {
        let filter = `region_id in (${this.selectedRegencyIds.join()})`
        return {
          cql_filter: filter
        }
      }
      return {}
    }
  },
  methods: {
    refreshMap () {
      this.$refs.map.refresh()
      this.$refs.map.render()
      this.$forceUpdate()
    },
    getParams () {
      return {
        params: {
          groups: this.mapView == 'regional' ? [this.regionalLayerGroup.id] : [this.detailedLayerGroup.id],
          view: this.mapView == 'regional' ? this.regionalView : this.detailedView,
          regencies: this.selectedRegencyIds
        }
      }
    },
    handleProgressRegionalClick(id) {
      this.loadProgressRegencies(id)
    },
    async loadProgressRegencies (id) {
      this.loadingRegion = true
      this.progressRegencies = []
      axios.get(`/api/progress-regionals/region-by-status/${id}`).then(response => {
        this.progressRegencies = response.data
        this.loadingRegencies = false
      })
    },
    async loadAttributes (id) {
      this.loadingAttributes = true
      axios.get(`/api/progress-regionals/${id}/attributes`).then(response => {
        this.attributes = response.data
        this.loadingAttributes = false
      })
    },
    async loadHistories (id) {
      this.loadingAttributes = true
      axios.get(`/api/progress-regionals/${id}/histories`).then(response => {
        this.histories = response.data
        this.loadingAttributes = false
      })
    },
    onMapClick (event) {
      // console.log(event.coordinate);

      this.clipedGeojson = {
        fileName: 'Active',
        type: 'FeatureCollection',
        features: []
      };
      this.attributes = [];
      this.loadingAttributes = true
      axios.get(`/api/progress/features/${event.coordinate[0]}/${event.coordinate[1]}`, this.getParams()).then(response => {
        if (response.data.id) {
          let feature = []
          feature.push(response.data)
          this.clipedGeojson = feature
          this.clipedId = response.data.id
          this.loadAttributes(response.data.id)
          this.loadHistories(response.data.id)
          // this.loadDocuments(response.data.id)
        }
        // this.loadingAttributes = false
      })
      // coordinate is available in same projection as your view
    },
    async loadRegionalProgress () {
      axios.get("/api/progress-regionals/progress").then(response => {
        this.regionalLegends = response.data.legends
        this.regionalCounts = response.data.counts
        this.regionalTotal = response.data.total
        this.regionalChartData.labels = this.regionalLegends.map(item => {
          return item.name
        })
        this.regionalChartData.datasets = [{
          label: "Data",
          backgroundColor: this.regionalLegends.map(item => { 
            return item.color
          }),
          data: this.regionalCounts
        }]
      })
    },
    async loadRegionalData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/progress-regionals").then(response => {
        this.loadingData = false
        // this.baseGeojson = response.data
        this.regionalLayer = response.data.layer
        this.regionalLayerGroup = response.data.group
        // this.updateShowed()
      })
    },
    async loadDetailedProgress () {
      axios.get("/api/progress-detaileds/progress").then(response => {
        this.detailedLegends = response.data.legends
        this.detailedCounts = response.data.counts
        this.detailedTotal = response.data.detailedTotal
        this.detailedChartData.labels = this.detailedLegends.map(item => {
          return item.name
        })
        this.detailedChartData.datasets = [{
          label: "Data",
          backgroundColor: this.detailedLegends.map(item => { 
            return item.color
          }),
          data: this.detailedCounts
        }]
      })
    },
    async loadDetailedData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/progress-detaileds").then(response => {
        this.loadingData = false

        this.detailedLayer = response.data.layer
        this.detailedLayerGroup = response.data.group
        // this.detailedGeo = response.data
        // this.geojson = response.data
        // this.updateShowed()
      })
    },
    getRegionalLegend(value) {
      return this.regionalLegends.find(item => value >= item.min && value <= item.max)
    },
    getDetailedLegend(value) {
      return this.detailedLegends.find(item => value >= item.min && value <= item.max)
    },
    updateShowed () {
      let features = this.baseGeojson.features.filter(item => {
        return this.showedRegencies.includes(item.properties.morphable_id)
      })
      this.geojson.features = features
    },
    async loadRegencies () {
      axios.get("/api/webgis/regencies").then(response => {
        this.loadingData = false
        this.regencies = response.data
        this.regencies.forEach(item => {
          this.colorRegencies[parseInt(item.id)] = '#' + Math.floor(Math.random()*16777215).toString(16)
        })
      })
    }
  },
  async created () {
    await this.loadRegencies()
    await this.loadRegionalProgress()
    await this.loadDetailedProgress()
    this.loadRegionalData()
    this.loadDetailedData()
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .b-sidebar {
    top: 60px;
  }
  #detail-button {
    position: absolute;
    top: calc(.5em + 60px);
    right: calc(.5em + 24px);
    z-index: calc(1030 + 4);
  }
  #menu-button {
    position: absolute;
    top: calc(.5em + 60px);
    left: .5em;
    z-index: calc(1030 + 4);
  }
  .ol-zoom {
    right: .5em;
    left: unset;
  }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
}
</style>