<template>
  <div>
    <vl-map ref="map" :load-tiles-while-animating="true" :load-tiles-while-interacting="true" data-projection="EPSG:4326" style="height: calc(100vh - 60px); margin-top: 60px;" @click="onMapClick">
      <vl-view :zoom.sync="zoom" :center.sync="center" :rotation.sync="rotation"></vl-view>

      <b-button id="menu-button" v-b-toggle.sidebar-1 size="lg" style="bg-light" variant="primary">
        <b-icon icon="grid3x3-gap-fill"></b-icon>
      </b-button>

      <b-button id="detail-button" :disabled="loadingAttributes" v-b-toggle.sidebar-2 size="lg" style="bg-light" variant="primary">
        <b-spinner v-if="loadingAttributes" small></b-spinner>
        <b-icon v-else icon="exclamation-circle-fill" aria-hidden="true"></b-icon>
        <b style="">
          Arahan Peraturan Zonasi
        </b>
      </b-button>
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>


      <vl-layer-tile overlay :z-index="10" v-for="item in layers" :key="item.id" :opacity.sync="item.opacity">
        <vl-source-wms v-if="item.is_showing"
          :url="item.wms" :ext-params.sync="extParams" matrix-set="EPSG:4326" :layers="`sitr:layer_group_${item.id}`" format="image/png" ></vl-source-wms>
      </vl-layer-tile>

      <vl-layer-tile v-if="showStructure" overlay :z-index="10" v-for="item in structureLayers" :key="item.id" :opacity.sync="item.opacity">
        <vl-source-wms v-if="item.is_showing"
          :url="item.wms" matrix-set="EPSG:4326" :layers="`sitr:layer_group_${item.id}`" format="image/png" ></vl-source-wms>
      </vl-layer-tile>

      <vl-layer-vector :z-index="11" overlay>
        <vl-source-vector :features.sync="vector.features" ident="the-source"></vl-source-vector>
        <vl-style-box>
          <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
          <vl-style-stroke color="red"></vl-style-stroke>
          <vl-style-circle :radius="4">
            <vl-style-fill color="white"></vl-style-fill>
            <vl-style-stroke color="red"></vl-style-stroke>
          </vl-style-circle>
        </vl-style-box>
      </vl-layer-vector>

      <vl-interaction-draw v-if="files.length === 0" type="Point" source="the-source" :max-points="1" @drawend="handleDrawEnd">
        <vl-style-box>
          <vl-style-stroke color="blue"></vl-style-stroke>
          <vl-style-fill color="rgba(255,255,255,0.5)"></vl-style-fill>
        </vl-style-box>
      </vl-interaction-draw>
    </vl-map>
    <b-sidebar id="sidebar-1" title="Filter" shadow>
      <div class="px-3 py-2">
        <div>
          <b-tabs content-class="mt-3">
            <b-tab title="Layer" active>
              <div class="my-2">
                <!-- <treeselect v-model="groupSelecteds" :options="groups" :multiple="true" value-format="uuid" value-consists-of="LEAF_PRIORITY"></treeselect> -->
                <div class="mt-1">
                  <b-list-group-item v-if="structureLayers.length">
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="flex-fill">
                        Jaringan Jalan
                      </div>
                      <b-form-checkbox v-model="showStructure" name="check-button" switch @change="refreshMap"></b-form-checkbox>
                    </div>
                  </b-list-group-item>
                  <b-list-group-item v-for="item in layers" :key="item.id" class="py-1">
                    <div class="d-flex justify-content-between align-items-center">
                      <b-btn href="#" v-b-toggle="'collapse-layer-' + item.id" variant="outline-light">
                        <span class="when-opened">
                          <b-icon font-scale="1" icon="chevron-down" class="text-dark" />
                        </span>
                        <span class="when-closed">
                          <b-icon font-scale="1" icon="chevron-right" class="text-dark" />
                        </span>
                      </b-btn>
                      <div class="flex-fill">
                        {{ item.name }}
                      </div>
                      <b-form-checkbox v-model="item.is_showing" name="check-button" switch @change="refreshMap"></b-form-checkbox>
                    </div>
                  <!-- <b>{{ item.name }}</b> -->
                      <b-collapse :id="'collapse-layer-' + item.id" class="px-3">
                         <b-form-group label="Opacity">
                          <b-form-input v-model="item.opacity" type="range" min="0" max="1" step="0.1" @change="refreshMap"></b-form-input>
                        </b-form-group>
                      </b-collapse>
                  </b-list-group-item>
                </div>
              </div>
            </b-tab>
            <b-tab title="Legend">
                <b-list-group>
                  <b-list-group-item class="py-1" v-for="item in layers" :key="item.id">
                    <div>
                      <b>{{ item.name }}</b>
                    </div>
                    <div>
                      <b-img :src="`${item.wms}?REQUEST=GetLegendGraphic&VERSION=1.0.0&HEIGHT=20&FORMAT=image/png&LAYER=sitr:layer_group_${item.id}&legend_options=fontAntiAliasing:true;dpi:90;fontSize:12;`" fluid alt="Responsive image"></b-img>
                    </div>
                  </b-list-group-item>
                </b-list-group>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </b-sidebar>
    <b-sidebar id="sidebar-2" right shadow>
      <template #header="{ hide }">
        <h3 class="w-100">
          <b-button @click="hide" variant="light" size="lg"><span class="fa fa-times"></span></b-button>
          <b>
            Arahan Peraturan Zonasi
          </b>
        </h3>
      </template>

      <b-tabs content-class="mt-3">
        <b-tab title="Ketentuan" active>
          <b-table
            style="margin-bottom:64px;"
            bordered
            striped
            hover
            :fields="zonationRuleFields"
            :items="rawAttributes"
            :busy="loadingAttributes"
            responsive="sm">
              <template v-slot:cell(index)="data">
                {{ data.index + ((currentPage - 1) * 10) + 1 }}
              </template>
            </b-table>
        </b-tab>
        <b-tab title="Atribut" active>
          <b-list-group-item v-for="(attribute, name, index) in attributes" :key="name" class="py-1">
            <div>
              <b>{{ name }}</b>
            </div>
            <div>
              <b-table
                bordered
                striped
                hover
                :fields="tableFields"
                :items="attribute"
                :busy="loadingAttributes"
                responsive="sm"></b-table>
            </div>
          </b-list-group-item>
        </b-tab>
      </b-tabs>
    </b-sidebar>

    <b-modal v-model="modalShow" hide-footer no-close-on-backdrop title="Unggah AOI">
      <b-form @submit.stop.prevent="onSubmit" ref='form'>
        <b-form-group label-for="file-input" class="">
          <template #label>
            Shape (.shp, .shx, .dbf, .prj)
          </template>
          <b-form-input
            class="d-none"
            id="input-file"
            name="file"
            v-model="formData.filename"
            :state="validateState('filename')"
            aria-describedby="input-file-feedback"
          ></b-form-input>
          <file-pond
            name="file"
            ref="pond"
            label-idle="Drag & drop berkas disini..."
            :allow-multiple="false"
            maxFileSize="30MB"
            accepted-file-types="application/zip,application/octet-stream,application/x-zip-compressed,multipart/x-zip"
            v-on:updatefiles="handleUpdateFiles"
            :files.sync="files"/>

            <b-form-invalid-feedback
              id="input-file-feedback"
            >This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-form-group label="SRID" label-for="input--srid">
          <b-form-input
            class="d-none"
            id="input--srid"
            name="srid"
            v-model="formData.srid"
            :state="validateState('srid')"
            aria-describedby="input--srid--feedback"
          ></b-form-input>
          <multiselect v-model="srid" deselect-label="Selected" :options="srids" :loading="sridLoading" @close="loadSrid(formData.srid)" :internal-search="false" :searchable="true" :show-no-results="false" @search-change="loadSrid" track-by="id" label="name" :allow-empty="false">
            <template slot="singleLabel" slot-scope="{ option }">
                {{ option.name }}
                {{ option.id }}
            </template>
            <template slot="option" slot-scope="props">
              <div class="option__desc">
                <span class="option__title">{{ props.option.name }}</span>
                <span class="option__small">{{ props.option.id }}</span>
              </div>
            </template>
          </multiselect>
          <b-form-invalid-feedback
            id="input--srid--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>

        <b-button variant="primary" class="" @click="resetForm()" long><i class="fa fa-sync mx-1" />Reset</b-button>
        <b-button variant="success" class="" @click="onSubmit()" long><i class="fa fa-play mx-1" />Proses</b-button>
      </b-form>
    </b-modal>

    <b-modal v-model="disclaimerShow" ok-only no-close-on-backdrop hide-header-close title="Disclaimer">
      <div v-html="disclaimer"></div>
      <template #modal-footer>
        <div class="w-100">
          <p class="float-left">
            <b-form-checkbox
              v-model="disclaimerAccepted"
            >
              Saya setuju dan mengerti.
            </b-form-checkbox>
          </p>
          <b-button
            :disabled="!disclaimerAccepted"
            variant="primary"
            size="sm"
            class="float-right"
            @click="disclaimerShow = false"
          >
            Tutup
          </b-button>
        </div>
      </template>
    </b-modal>
    <b-button id="btn-menu" variant="outline-primary" class="px-4 bg-white text-primary btn-lg" pill @click="() => { modalShow = true }">
      <i class="fas fa-upload"></i>
      <b>UNGGAH AOI</b>
    </b-button>
  </div>
</template>

<script>
import masterMixin from '../mixins/master'
import { findPointOnSurface } from 'vuelayers/src/ol-ext/geom'
import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin, masterMixin],
  data() {
    return {
      disclaimer: null,
      disclaimerShow: true,
      disclaimerAccepted: false,
      modalShow: false,
      vector: {
        features: []
      },
      ids: [],
      pointOnSurface: findPointOnSurface,
      // wmsOptions: {
      //   CQL_FILTER:'morphable_id=3523'
      //   // bounds: L.latLngBounds([[110.8801498413086, -8.580594062805176],[114.63066864013672 -5.025364875793457]])
      // },
      mapView: 'all',
      mapOptions: [
        { text: 'Semua', value: 'all' },
        { text: 'Per Kab/Kota', value: 'filtered' }
      ],
      clipedId: null,
      clipedGeojson: [],
      baseGeojson: null,
      geojson: {
        fileName: 'Show',
        type: 'FeatureCollection',
        features: []
      },
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      colorRegencies: [],
      searchRegency: null,
      selectedRegencies: [],
      tableFields: [
        { key: 'name', label: 'Nama' },
        { key: 'value', label: 'Nilai' },
        // { key: 'rule', label: 'Ketentuan' }
      ],
      attributes: [],
      loadingAttributes: false,
      rawAttributes: [],
      documentFields: [
        { key: 'name', label: 'Kegiatan' },
        // { key: 'key', label: 'Key' },
        { key: 'rule', label: 'Ketentuan' }
      ],
      documents: [],
      zonationRuleFields: [
        { key: 'value', label: 'Rencana Pola Ruang' },
        { key: 'name', label: 'Kegiatan' },
        { key: 'rule', label: 'Ketentuan' }
      ],
      showStructure: true,
      structures: null,
      zonationRules: [],
      regencies: [],
      groups: [],
      groupSelecteds: [],
      sridLoading: false,
      srids: [],
      files: [],
      formData: {
        filename: null,
        srid: null
      }
      // layers: []
      // marker: L.latLng(-7.24917, 112.75083),
    }
  },
  validations: {
    formData: {
      filename: {
        required
      },
      srid: {
        required
      }
    }
  },
  computed: {
    selectedRegencyIds () {
      return this.selectedRegencies.map(item => {
        return parseInt(item.id)
      })
    },
    extParams () {
      return {
        cql_filter: `id = ${this.ids.join(' or id = ')}`
      }
    },
    srid: {
      get () {
        return this.srids.filter((el) => {
          return el.id == this.formData.srid 
        })
      },
      set (val) {
        this.formData.srid = val.id
      }
    },
    listRegencies () {
      return this.regencies.filter(item => {
        return true
      })
    },
    layers () {
      let flatten = (arr) => {
          return arr? arr.reduce((result, item) => [
              ...result,
              { ...item },
              ...flatten(item.children)
          ], []) : [];
      }
      return flatten(this.groups).filter(item => {
        return this.groupSelecteds.map((i) => { return i.id } ).includes(item.id)
      })
    },
    structureLayers () {
      let flatten = (arr) => {
          return arr? arr.reduce((result, item) => [
              ...result,
              { ...item },
              ...flatten(item.children)
          ], []) : [];
      }
      return flatten(this.structures).filter(item => {
        return !item.has_child
      })
    },
    showedRegencies () {
      this.clipedGeojson.features = []
      return this.regencies.filter(item => {
        return item.is_showing
      }).map(item => {
        return parseInt(item.id)
      })
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    handleUpdateFiles (files) {
      if (files.length) {
        this.files[0] = files[0]
        this.formData.filename = files[0].filename
        this.validateState('filename')
        return
      }
      this.formData.filename= null
      this.files.length = 0
      this.validateState('filename')
    },
    loadSrid(query) {
      if (query) {
        this.sridLoading = true
        axios.get("/api/suitability/srids", { params: { search: query } }).then(response => {
          this.srids = response.data
          this.sridLoading = false
        })
      }
    },
    getFormData () {
      const formData = this.parseObjectToFormData(this.formData)
      if (this.files.length) {
        formData.append('file', this.files[0].file)
      }
      return formData
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      axios.request({
        method: 'post',
        url: '/api/suitability/feature-by-area',
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.structures = [response.data.structure]
        this.ids = response.data.ids
        this.loadRules()
        this.loadAttributes()
        this.groupSelecteds = response.data.groups
        this.loadingAttributes = false
        this.modalShow = false
      }).catch(error => {
        this.errors = error.response.data.errors
        this.showError = true
        // this.showFailedAlert(error.response.data.message);
      })
    },
    resetForm () {
      this.files.length = 0
      this.formData = {
        filename: null,
        srid: null
      }
      this.$refs.pond.removeFiles()
      this.$nextTick (() => {
        this.$v.$reset()
      })
    },
    handleDrawEnd (_) {
      this.vector.features = [this.vector.features.pop()]
      this.refreshMap()
    },
    refreshMap () {
      this.$refs.map.refresh()
      this.$refs.map.render()
      this.$forceUpdate()
    },
    handleFilterRegencySelected (option, id) {
      this.refreshMap()
      this.clipedGeojson = [];
      this.attributes = [];
    },
    getParams () {
      return {
        params: {
          groups: this.layers.filter(item => {
            return item.is_showing
          }).map(item => {
            return parseInt(item.id)
          }),
          view: this.mapView,
          regencies: this.selectedRegencyIds
        }
      }
    },
    onMapClick (event) {
      if (this.files.length) return

      this.clipedGeojson = [];
      this.clipedId = null;
      this.attributes = [];
      this.loadingAttributes = true
      axios.get(`/api/suitability/features/${event.coordinate[0]}/${event.coordinate[1]}`, this.getParams()).then(response => {
        this.structures = [response.data.structure]
        this.ids = response.data.ids
        this.loadRules()
        this.loadAttributes()
        this.groupSelecteds = response.data.groups
        this.loadingAttributes = false
      })
    },
    async loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/suitability").then(response => {
        this.loadingData = false
        this.disclaimer = response.data.disclaimer
        // this.geojson = response.data
        // this.updateShowed()
      })
    },
    updateShowed () {
      // let features = this.baseGeojson.features.filter(item => {
      //   return this.showedRegencies.includes(item.properties.morphable_id)
      // })
      // this.geojson.features = features
    },
    async loadGroups () {
      axios.get("/api/webgis/groups").then(response => {
        this.loadingData = false
        this.groups = response.data
        // this.regencies.forEach(item => {
        //   this.colorRegencies[item.id] = '#' + Math.floor(Math.random()*16777215).toString(16)
        // })
      })
    },
    async loadAttributes () {
      this.loadingAttributes = true
      axios.get(`/api/suitability/attributes`, { params: { ids: this.ids } }).then(response => {
        this.attributes = response.data
        this.loadingAttributes = false
      })
    },
    async loadRules () {
      // this.loadingAttributes = true
      axios.get(`/api/suitability/rules`, { params: { ids: this.ids } }).then(response => {
        this.rawAttributes = response.data.data
        // this.loadingAttributes = false
      })
    },
  },
  async mounted () {
    await this.loadData()
    await this.loadGroups()
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  #btn-menu {
    position: fixed;
    bottom: 24px;
    z-index: 1040;
    left: 50%;
    transform: translateX(-50%);
  }
  .b-sidebar {
    top: 60px;
  }
  #detail-button {
    position: absolute;
    top: calc(.5em + 60px);
    right: calc(.5em + 24px);
    z-index: calc(1030 + 4);
  }
  #menu-button {
    position: absolute;
    top: calc(.5em + 60px);
    left: .5em;
    z-index: calc(1030 + 4);
  }
  .ol-zoom {
    right: .5em;
    left: unset;
  }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
  .vue-treeselect__single-label {
    padding: 0.375rem 0.75rem;
    display: none;
  }
  .vue-treeselect--has-value .vue-treeselect__single-label {
    display: block;
  }
  .vue-treeselect__input {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__single-label {
    display: none;
  }
  .vue-treeselect__multi-value-item-container {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__multi-value-item-container, .vue-treeselect--open .vue-treeselect__input {
    display: block;
  }
}
</style>