<template>
  <div>
    <vl-map
      ref="map"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      data-projection="EPSG:4326"
      style="height: calc(100vh - 60px); margin-top: 60px"
      @click="onMapClick"
    >
      <vl-view
        :zoom.sync="zoom"
        :center.sync="center"
        :rotation.sync="rotation"
      ></vl-view>

      <b-button
        id="menu-button"
        v-b-toggle.sidebar-1
        size="lg"
        style="bg-light"
        variant="primary"
      >
        <b-icon icon="grid3x3-gap-fill"></b-icon>
      </b-button>

      <b-button
        id="detail-button"
        :disabled="loadingAttributes"
        v-b-toggle.sidebar-2
        size="lg"
        style="bg-light"
        variant="primary"
      >
        <b-spinner v-if="loadingAttributes" small></b-spinner>
        <b-icon
          v-else
          icon="exclamation-circle-fill"
          aria-hidden="true"
        ></b-icon>
        Informasi Rinci
      </b-button>
      <vl-layer-tile id="osm">
        <vl-source-osm></vl-source-osm>
      </vl-layer-tile>
      <vl-layer-tile
        overlay
        :z-index="10"
        v-if="mapView === 'all'"
        v-for="item in layers"
        :key="item.id"
        :opacity.sync="item.opacity"
      >
        <vl-source-wms
          v-if="item.is_showing"
          :url="item.wms"
          matrix-set="EPSG:4326"
          :layers="`sitr:layer_group_${item.id}`"
          format="image/png"
        ></vl-source-wms>
      </vl-layer-tile>
      <vl-layer-tile
        overlay
        :z-index="10"
        v-else
        v-for="group in layers"
        :id="'g-' + group.id"
        :key="'g-' + group.id"
      >
        <vl-source-wms
          v-if="group.is_showing"
          :url="item.wms"
          :ext-params.sync="extParams"
          matrix-set="EPSG:4326"
          :layers="`sitr:layer_group_${group.id}`"
          format="image/png"
        ></vl-source-wms>
      </vl-layer-tile>

      <vl-layer-vector overlay :z-index="100">
        <vl-source-vector :features.sync="clipedGeojson"></vl-source-vector>
        <vl-overlay
          v-for="feature in clipedGeojson"
          :key="feature.id"
          :id="feature.id"
          class="feature-popup"
          :position="pointOnSurface(feature.geometry)"
          :auto-pan="true"
          :auto-pan-animation="{ duration: 300 }"
        >
          <template>
            <section class="card" style="max-width: 100vh">
              <header class="card-header p-2 d-flex justify-content-between align-items-center">
                {{ feature.properties.group_name }}

                <b-button @click="resetOverlay" variant="text" size="sm"
                  ><i class="fa fa-times"></i
                >
                </b-button>
              </header>
              <div class="card-body p-1">
                <b-tabs content-class="mt-3">
                  <b-tab title="Atribut" active>
                    <b-table
                      bordered
                      striped
                      hover
                      small
                      :fields="tableFields"
                      :items="attributes"
                      :busy="loadingAttributes"
                      responsive="sm"
                    >
                      <template #cell(index)="data">
                        {{ data.index + 1 }}
                      </template>
                    </b-table>
                  </b-tab>
                  <b-tab title="Dokumen">
                    <b-table
                      bordered
                      striped
                      hover
                      small
                      :fields="documentFields"
                      :items="documents"
                      :busy="loadingAttributes"
                      responsive="sm"
                    >
                      <template #cell(index)="data">
                        {{ data.index + 1 }}
                      </template>
                      <template v-slot:cell(file)="data">
                        <a :href="data.item.file"
                          ><i class="fa fa-download"></i
                        ></a>
                      </template>
                    </b-table>
                  </b-tab>
                  <b-tab title="IAPZ">
                    <b-table
                      bordered
                      striped
                      hover
                      small
                      :fields="zonationRuleFields"
                      :items="zonationRules"
                      :busy="loadingAttributes"
                      responsive="sm"
                    >
                      <template #cell(index)="data">
                        {{ data.index + 1 }}
                      </template>
                    </b-table>
                  </b-tab>
                </b-tabs>
              </div>
            </section>
          </template>
        </vl-overlay>
      </vl-layer-vector>
    </vl-map>
    <b-sidebar id="sidebar-1" title="Filter" shadow>
      <div class="px-3 py-2">
        <div>
          <b-tabs content-class="mt-3">
            <b-tab title="Layer" active>
              <div class="my-2">
                <treeselect
                  v-model="groupSelecteds"
                  :options="groups"
                  :multiple="true"
                  value-format="uuid"
                  value-consists-of="LEAF_PRIORITY"
                ></treeselect>
                <div class="mt-1">
                  <b-list-group-item
                    v-for="item in layers"
                    :key="item.id"
                    class="py-1"
                  >
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <b-btn
                        href="#"
                        v-b-toggle="'collapse-layer-' + item.id"
                        variant="outline-light"
                      >
                        <span class="when-opened">
                          <b-icon
                            font-scale="1"
                            icon="chevron-down"
                            class="text-dark"
                          />
                        </span>
                        <span class="when-closed">
                          <b-icon
                            font-scale="1"
                            icon="chevron-right"
                            class="text-dark"
                          />
                        </span>
                      </b-btn>
                      <div class="flex-fill">
                        {{ item.name }}
                      </div>
                      <b-form-checkbox
                        v-model="item.is_showing"
                        name="check-button"
                        switch
                        @change="refreshMap"
                      ></b-form-checkbox>
                    </div>
                    <!-- <b>{{ item.name }}</b> -->
                    <b-collapse :id="'collapse-layer-' + item.id" class="px-3">
                      <b-form-group label="Opacity">
                        <b-form-input
                          v-model="item.opacity"
                          type="range"
                          min="0"
                          max="1"
                          step="0.1"
                          @change="refreshMap"
                        ></b-form-input>
                      </b-form-group>
                    </b-collapse>
                  </b-list-group-item>
                </div>
              </div>
            </b-tab>
            <b-tab title="Wilayah">
              <div class="mb-2">
                <b-form-radio-group
                  @change="refreshMap"
                  class="w-100"
                  id="btn-radios-2"
                  v-model="mapView"
                  :options="mapOptions"
                  button-variant="outline-primary"
                  size="lg"
                  name="radio-btn-outline"
                  buttons
                ></b-form-radio-group>
              </div>
              <div v-if="mapView === 'filtered'">
                <multiselect
                  v-model="selectedRegencies"
                  :options="listRegencies"
                  :multiple="true"
                  :close-on-select="false"
                  :clear-on-select="false"
                  :preserve-search="true"
                  placeholder="Pilih Kabupaten"
                  label="name"
                  track-by="name"
                  select-label=""
                  selected-label=""
                  deselect-label=""
                  @select="handleFilterRegencySelected"
                >
                  <template slot="selection" slot-scope="{ values, isOpen }">
                    <span
                      class="multiselect__single"
                      v-if="values.length &amp;&amp; !isOpen"
                      >{{ values.length }} Kabupaten Dipilih</span
                    >
                  </template>
                </multiselect>
                <div class="mt-1">
                  <b-list-group-item
                    class="
                      d-flex
                      justify-content-between
                      align-items-center
                      py-1
                    "
                    v-for="item in selectedRegencies"
                    :key="item.id"
                  >
                    <b>{{ item.name }}</b>
                    <b-btn href="#" variant="outline-light ml-auto">
                      <b-icon
                        font-scale="1"
                        icon="x-circle"
                        class="text-dark"
                      />
                    </b-btn>
                  </b-list-group-item>
                </div>
              </div>
            </b-tab>
            <b-tab title="Legenda">
              <b-list-group>
                <b-list-group-item
                  class="py-1"
                  v-for="item in layers"
                  :key="item.id"
                >
                  <div>
                    <b>{{ item.name }}</b>
                  </div>
                  <div>
                    <b-img
                      :src="`${item.wms}?REQUEST=GetLegendGraphic&VERSION=1.0.0&HEIGHT=20&FORMAT=image/png&LAYER=sitr:layer_group_${item.id}&legend_options=fontAntiAliasing:true;dpi:90;fontSize:12;`"
                      fluid
                      alt="Responsive image"
                    ></b-img>
                  </div>
                </b-list-group-item>
              </b-list-group>
            </b-tab>
          </b-tabs>
        </div>
      </div>
    </b-sidebar>
    <b-sidebar id="sidebar-2" right shadow>
      <template #header="{ hide }">
        <h4 class="w-100">
          <b-button @click="hide" variant="light" size="lg"
            ><span class="fa fa-times"></span
          ></b-button>
          Informasi Rinci
          <a
            v-if="clipedId"
            :href="editLink"
            target="_blank"
            class="btn btn-warning btn-lg float-right"
          >
            <span class="fa fa-edit"></span> Edit
          </a>
        </h4>
      </template>

      <b-tabs content-class="mt-3">
        <!-- <b-tab title="Atribut" active>
          <b-table
            bordered
            striped
            hover
            :fields="tableFields"
            :items="attributes"
            :busy="loadingAttributes"
            responsive="sm"></b-table>
        </b-tab> -->
        <b-tab title="Atribut">
          <b-table
            style="margin-bottom: 64px"
            bordered
            striped
            hover
            :fields="tableFields"
            :items="rawAttributes"
            :busy="loadingAttributes"
            responsive="sm"
          >
            <template v-slot:cell(index)="data">
              {{ data.index + (currentPage - 1) * 10 + 1 }}
            </template>
          </b-table>
        </b-tab>
      </b-tabs>
    </b-sidebar>

    <b-modal
      v-model="disclaimerShow"
      ok-only
      hide-header-close
      no-close-on-backdrop
      title="Disclaimer"
    >
      <div v-html="disclaimer"></div>
      <template #modal-footer>
        <div class="w-100">
          <p class="float-left">
            <b-form-checkbox v-model="disclaimerAccepted">
              Saya setuju dan mengerti.
            </b-form-checkbox>
          </p>
          <b-button
            :disabled="!disclaimerAccepted"
            variant="primary"
            size="sm"
            class="float-right"
            @click="disclaimerShow = false"
          >
            Tutup
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>

<script>
import { findPointOnSurface } from "vuelayers/src/ol-ext/geom";

export default {
  data() {
    return {
      disclaimer: null,
      disclaimerShow: true,
      disclaimerAccepted: false,
      pointOnSurface: findPointOnSurface,
      mapView: "all",
      mapOptions: [
        { text: "Semua", value: "all" },
        { text: "Per Kab/Kota", value: "filtered" },
      ],
      clipedId: null,
      clipedGeojson: [],
      baseGeojson: null,
      geojson: {
        fileName: "Show",
        type: "FeatureCollection",
        features: [],
      },
      rotation: 0,
      zoom: 8.5,
      center: [112.75083, -7.24917],
      colorRegencies: [],
      searchRegency: null,
      selectedRegencies: [],
      tableFields: [
        { key: "name", label: "Nama" },
        // { key: 'key', label: 'Key' },
        { key: "value", label: "Value" },
      ],
      attributes: [],
      loadingAttributes: false,
      rawAttributes: [],
      documentFields: [
        { key: "name", label: "Nama" },
        // { key: 'key', label: 'Key' },
        { key: "file", label: "Link" },
      ],
      documents: [],
      zonationRuleFields: [
        { key: "value", label: "Rencana Pola Ruang" },
        { key: "name", label: "Kegiatan" },
        { key: "rule", label: "Ketentuan" },
      ],
      zonationRules: [],
      regencies: [],
      groups: [],
      groupSelecteds: [],
      // layers: []
      // marker: L.latLng(-7.24917, 112.75083),
    };
  },
  computed: {
    selectedRegencyIds() {
      return this.selectedRegencies.map((item) => {
        return parseInt(item.id);
      });
    },
    extParams() {
      if (this.mapView == "all") {
        return {};
      }
      return {
        cql_filter: `morphable_id in (${this.selectedRegencyIds.join()})`,
      };
    },
    editLink() {
      return this.clipedId ? `/admin/geometry/${this.clipedId}/edit` : "#";
    },
    listRegencies() {
      return this.regencies.filter((item) => {
        return true;
      });
    },
    layers() {
      let flatten = (arr) => {
        return arr
          ? arr.reduce(
              (result, item) => [
                ...result,
                { ...item },
                ...flatten(item.children),
              ],
              []
            )
          : [];
      };
      return flatten(this.groups).filter((item) => {
        return this.groupSelecteds
          .map((i) => {
            return i.id;
          })
          .includes(item.id);
      });
    },
    showedRegencies() {
      this.clipedGeojson.features = [];
      return this.regencies
        .filter((item) => {
          return item.is_showing;
        })
        .map((item) => {
          return parseInt(item.id);
        });
    },
  },
  // watch: {
  //   mapView () {
  //     this.refreshMap()
  //   }
  // },
  methods: {
    refreshMap() {
      this.$refs.map.refresh();
      this.$refs.map.render();
      this.$forceUpdate();
    },
    // handleGroupSelected (node, id) {
    //   this.layers.push(node)
    //   document.querySelector('.vue-treeselect__single-label').innerHTML = `${this.layers.length} Layer Dipilih`
    // },
    // handleGroupDeselect (node, id) {
    //   document.querySelector('.vue-treeselect__single-label').innerHTML = `${this.layers.length} Layer Dipilih`
    // },
    handleFilterRegencySelected(option, id) {
      // option.groups = JSON.parse(JSON.stringify(this.groups))
      this.refreshMap();
      this.clipedGeojson = [];
      this.attributes = [];
      // this.selectedRegencies.push(option)
    },
    getParams() {
      return {
        params: {
          groups: this.layers
            .filter((item) => {
              return item.is_showing;
            })
            .map((item) => {
              return parseInt(item.id);
            }),
          view: this.mapView,
          regencies: this.selectedRegencyIds,
        },
      };
    },
    resetOverlay () {
      this.clipedGeojson = [];
      this.clipedId = null;
      this.attributes = [];
      this.rawAttributes = [];
      this.documents = [];
      this.zonationRules = [];
    },
    onMapClick(event) {
      // console.log(event.coordinate);

      this.clipedGeojson = [];
      this.clipedId = null;
      this.attributes = [];
      this.loadingAttributes = true;
      axios
        .get(
          `/api/webgis/features/${event.coordinate[0]}/${event.coordinate[1]}`,
          this.getParams()
        )
        .then((response) => {
          if (response.data.id) {
            let feature = [];
            feature.push(response.data);
            this.clipedGeojson = feature;
            this.clipedId = response.data.id;

            this.loadAttributes(response.data.id);
            this.loadRawAttributes(response.data.id);
            this.loadDocuments(response.data.id);
            this.loadZonationRules(response.data.id);
          } else {
            this.loadingAttributes = false;
          }
        });
      // coordinate is available in same projection as your view
    },
    async loadData() {
      // fetch data dari api menggunakan axios
      this.loadingData = true;
      axios.get("/api/webgis").then((response) => {
        this.loadingData = false;
        this.disclaimer = response.data.disclaimer;
        // this.baseGeojson = response.data
        // this.geojson = response.data
        // this.updateShowed()
      });
    },
    updateShowed() {
      // let features = this.baseGeojson.features.filter(item => {
      //   return this.showedRegencies.includes(item.properties.morphable_id)
      // })
      // this.geojson.features = features
    },
    async loadRegencies() {
      axios.get("/api/webgis/regencies").then((response) => {
        this.loadingData = false;
        this.regencies = response.data;
        this.regencies.forEach((item) => {
          this.colorRegencies[parseInt(item.id)] =
            "#" + Math.floor(Math.random() * 16777215).toString(16);
        });
      });
    },
    async loadRawAttributes(id) {
      this.loadingAttributes = true;
      axios.get(`/api/webgis/${id}/raw-attributes`).then((response) => {
        this.rawAttributes = response.data;
        this.loadingAttributes = false;
      });
    },
    async loadAttributes(id) {
      this.loadingAttributes = true;
      axios.get(`/api/webgis/${id}/attributes`).then((response) => {
        this.attributes = response.data;
        this.loadingAttributes = false;
      });
    },
    async loadDocuments(id) {
      // this.loadingAttributes = true
      axios.get(`/api/webgis/${id}/documents`).then((response) => {
        this.documents = response.data;
        // this.loadingAttributes = false
      });
    },
    async loadZonationRules(id) {
      axios.get(`/api/webgis/${id}/zonation-rules`).then((response) => {
        this.loadingData = false;
        this.zonationRules = response.data.data;
      });
    },
    async loadGroups() {
      axios.get("/api/webgis/groups").then((response) => {
        this.loadingData = false;
        this.groups = response.data;
        // this.regencies.forEach(item => {
        //   this.colorRegencies[item.id] = '#' + Math.floor(Math.random()*16777215).toString(16)
        // })
      });
    },
  },
  watch: {
    groupSelecteds(val) {
      document.querySelector(
        ".vue-treeselect__single-label"
      ).innerHTML = `${this.layers.length} Layer Dipilih`;
    },
  },
  async mounted() {
    this.loadData();
    await this.loadGroups();
    await this.loadRegencies();

    let e = document.querySelector(".vue-treeselect__input-container");
    let label = document.createElement("div");
    label.classList.add("vue-treeselect__single-label");
    label.innerHTML = "Select";
    e.appendChild(label);
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .b-sidebar {
    top: 60px;
  }
  #detail-button {
    position: absolute;
    top: calc(0.5em + 60px);
    right: calc(0.5em + 24px);
    z-index: calc(1030 + 4);
  }
  #menu-button {
    position: absolute;
    top: calc(0.5em + 60px);
    left: 0.5em;
    z-index: calc(1030 + 4);
  }
  .ol-zoom {
    right: 0.5em;
    left: unset;
  }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
  .vue-treeselect__single-label {
    padding: 0.375rem 0.75rem;
    display: none;
  }
  .vue-treeselect--has-value .vue-treeselect__single-label {
    display: block;
  }
  .vue-treeselect__input {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__single-label {
    display: none;
  }
  .vue-treeselect__multi-value-item-container {
    display: none;
  }
  .vue-treeselect--open .vue-treeselect__multi-value-item-container,
  .vue-treeselect--open .vue-treeselect__input {
    display: block;
  }
}
</style>