<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group id="example-input-group-1" label="Name" label-for="example-input-1">
        <b-form-input
          :readonly="readonly"
          id="example-input-1"
          name="example-input-1"
          v-model="formData.name"
          :state="validateState('name')"
          aria-describedby="input-1-live-feedback"
        ></b-form-input>


        <b-form-invalid-feedback
          id="input-1-live-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group id="example-input-group-2" label="Key" label-for="example-input-2">
        <b-form-input
          :readonly="readonly"
          id="example-input-2"
          name="example-input-2"
          v-model="formData.key"
          :state="validateState('key')"
          aria-describedby="input-2-live-feedback"
        ></b-form-input>

        <b-form-invalid-feedback
          id="input-2-live-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    formData: Object
  },

  data () {
    return {}
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      key: {
        required,
        minLength: minLength(3)
      }
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>