<template>
  <div>
    <b-card no-body>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: 'admin_indicator_document_create' }"><i class="fa fa-plus"></i> Tambah</router-link>
          </div>
        </div>
      </template>

      <b-card-body class="p-0 p-md-3">
         <div class="px-3 py-1 border border-bottom-0 bg-light">
          <b-row class="justify-content-center">
            <b-col cols="auto">
              <search-bar v-model="searchVal" :search-keys="searchKeys" :search-key.sync="searchKey" @submit="loadData" @key-change="searchKey = $event"/>
            </b-col>
          </b-row>
        </div>
        <b-table
          bordered
          striped
          hover
          :fields="tableFields"
          :items="tableItems"
          :busy="loadingData"
          responsive="sm"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          no-local-sorting
          @sort-changed="loadData">

          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;&nbsp;Loading...</strong>
            </div>
          </template>

          <template v-slot:table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field != 'index' && field.width ? field.width : 'auto' }"
            >
          </template>

          <template v-slot:cell(index)="data">
            {{ data.index + ((currentPage - 1) * 10) + 1 }}
          </template>

          <!-- <template v-slot:cell(action)="data" class="text-center">
            <router-link tag="button" :to="{ name: 'admin_indicator_document_show', params: { id: data.item.id } }" class="btn btn-info btn-sm">
              <span class="fa fa-eye"></span> View</router-link>&nbsp;&nbsp;
            <router-link tag="button" :to="{ name: 'admin_indicator_document_edit', params: { id: data.item.id } }" class="btn btn-warning btn-sm">
              <span class="fa fa-edit"></span> Edit</router-link>&nbsp;&nbsp;
            <button class="btn btn-danger btn-sm" @click="deleteData(data.item.id)">
              <span class="fa fa-trash" ></span> Delete</button>&nbsp;&nbsp;
          </template> -->

          <template v-slot:cell(status)="data" class="text-center">
            <div v-if="data.item.is_published === 1">
              <b-btn href="#" class="w-100 rounded-pill" variant="success"><i class="fa fa-link mx-1"></i>Diterbitkan</b-btn>
            </div>
            <div v-else-if="data.item.is_published === 0">
              <b-btn href="#" class="w-100 rounded-pill" variant="secondary"><i class="fa fa-unlink mx-1"></i>Draf</b-btn>
            </div>
          </template>
          <template v-slot:cell(action)="data" class="text-center">
            <router-link tag="b-btn" v-b-tooltip.top.v-info title="Lihat" class="btn-info btn-sm px-3" :to="{ name: 'admin_indicator_document_show', params: { id: data.item.id } }">
              <span class="fa fa-eye"></span>
            </router-link>
            <router-link tag="b-btn" v-b-tooltip.top.v-warning title="Edit" class="btn-sm btn-warning px-3 mx-1" :to="{ name: 'admin_indicator_document_edit', params: { id: data.item.id } }">
              <span class="fa fa-edit"></span></router-link>
            <b-btn v-b-tooltip.top.v-danger title="Hapus" variant="danger" size="sm" class="px-3" @click="deleteData(data.item.id)">
              <i class="fa fa-trash" ></i></b-btn>
          </template>

        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="10"
          
          @change="handlePageChange"
        ></b-pagination>
      </b-card-body>
    </b-card>
  </div>
</template>

<!-- script js -->
<script>
import masterMixin from '../../../mixins/master'
import SearchBar from '../../../components/search-bar.vue'

export default {
  components: { SearchBar },
  mixins: [ masterMixin ],
  data () {
    return {
      currentPage: 1,
      totalRows: 1,
      loadingData: true,
      tableItems: [],
      tableFields: [
        { key: 'index', label: 'No', width: '40px' },
        { key: 'id', sortable: true, searchable: true, label: 'ID', width: '60px' },
        { key: 'name', sortable: true, searchable: true, label: 'Nama' },
        { key: 'status', label: 'Status', width: '200px' },
        { key: 'action', label: 'Aksi', width: '200px', class: 'text-center' }
      ],
      moreParams: {},
      searchKey: 'id',
      searchVal: '',
      sortBy: 'id',
      sortDesc: false,
      moreParams: {}
    };
  },
  created() {
    this.loadData()
  },
  computed: {
    searchKeys () {
      return this.tableFields.filter(field => {
        return field.searchable
      })
    }
  },
  methods: {
    renderIcon (classes, options) {
      return `<span class="${classes.join(' ')}"></span>`
    },
    getParams () {
      return { 
        params: {
          searchKey: this.searchKey,
          searchVal: this.searchVal,
          sortBy: this.sortBy,
          sortDesc: this.sortDesc,
          page: this.currentPage
        }
      }
    },
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/admin/indicator-documents", this.getParams()).then(response => {
        this.loadingData = false
        this.tableItems = []
        this.tableItems = response.data.data;
        this.currentPage = response.data.current_page;
        this.totalRows = response.data.total;
      })
    },
    deleteData (id) {
      // delete data
      this.loadingData = true
      axios.delete(`/api/admin/indicator-documents/${id}`).then(response => {
        this.loadData()
      }).catch(response => {
        this.showFailedAlert()
      })
    }
  }
};
</script>
<style>
  .pagination {
    margin-top: 0;
  }
  /* .btn.btn-border {
    border: 1px solid;
    margin-right: 2px;
  } */
  .vuetable-pagination-info {
    margin-top: 8px !important;
  }
  span.sort-icon {
    float: right;
    color: #ff9100;
  }
</style>