<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        readonly
        :id="id"
        :form-data="formData"
        :configs="configs"
        :files="files"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'

export default {
  components: {
    BaseForm
  },
  mixins: [ mixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/indicator-documents/${this.id}`).then(response => {
        this.formData = response.data
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>