
$web-font-path: "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// Typography ==================================================================

body {
  -webkit-font-smoothing: antialiased;
}

// Progress bars ===============================================================

.progress {
  @include box-shadow(none);

  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}