// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
// @import '~bootstrap-vue/src/index.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';
@import 'bootswatch';

// Multiselect
@import '~vue-multiselect/dist/vue-multiselect.min.css';

// QUILL EDITOR / WYSIWYG
@import '~quill/dist/quill.core.css'; // import styles
@import '~quill/dist/quill.snow.css'; // for snow theme
@import '~quill/dist/quill.bubble.css'; // for bubble theme

.was-validated .form-control:valid+.multiselect__tags,
.form-control.is-valid+.multiselect .multiselect__tags {
    border-color: $success  !important;
}

.was-validated .form-control:invalid+.multiselect__tags,
.form-control.is-invalid+.multiselect .multiselect__tags {
    border-color: $danger  !important;
}

.was-validated .form-control:valid+.editr,
.form-control.is-valid+.editr {
    border-color: $success  !important;
}

.was-validated .form-control:invalid+.editr,
.form-control.is-invalid+.editr {
    border-color: $danger  !important;
}

.was-validated .form-control:valid+.filepond--wrapper .filepond--drip,
.form-control.is-valid+.filepond--wrapper .filepond--drip {
    opacity: 1;
    border: 1px solid $success  !important;
}

.was-validated .form-control:invalid+.filepond--wrapper .filepond--drip,
.form-control.is-invalid+.filepond--wrapper .filepond--drip {
    opacity: 1;
    border: 1px solid $danger  !important;
}

.multiselect .multiselect__tags {
    border-radius: 0.5rem;
}

.ql-toolbar {
    border-top-right-radius: 0.35rem;
    border-top-left-radius: 0.35rem;
}

.ql-container {
    border-bottom-right-radius: 0.35rem;
    border-bottom-left-radius: 0.35rem;
}

.multiselect {
    min-height: calc(1.5em + 0.75rem + 2px);

    .multiselect__input,
    .multiselect__single {
        background: inherit;
        font-size: $font-size-base;
        padding-left: 0;
        line-height: 1.5;
        margin-bottom: 0.375rem;
    }

    .multiselect__placeholder {
        padding-top: 0;
        margin-bottom: 0.375rem;
    }

    .multiselect__select {
        padding: 0.375rem 0.75rem;
        height: calc(1.5em + 0.75rem - 2px);
    }

    .multiselect__tag {
        background: $primary;
        margin-bottom: auto;
    }

    .multiselect__tags {
        border-color: $gray-400;
        font-size: $font-size-base;
        padding: 0.375rem 40px 0 0.75rem;
        min-height: calc(1.5em + 0.75rem + 2px);
    }

    .multiselect__content-wrapper,
    .multiselect__tags,
    .multiselect__tag,
    .multiselect__tag-icon {
        border-radius: 0.25rem;
    }

    .multiselect__option--highlight,
    .multiselect__option--highlight:after,
    .multiselect__tag-icon:focus,
    .multiselect__tag-icon:hover {
        background: $primary;
    }

    .multiselect__tag-icon:focus,
    .multiselect__tag-icon:hover {
        filter: brightness(50%);
    }

    .multiselect__tag-icon:after {
        color: white;
    }

    &.multiselect--disabled {
        .multiselect__select {
            background: transparent;
        }

        .multiselect__tags {
            background-color: $gray-200;
        }
    }
}

.ql-container.ql-disabled, .multiselect.multiselect--disabled .multiselect__tags {
    background-color: #e9ecef;
}
.btn-info {
    color: #fff;
}

.filepond--credits {
    display: none !important;
}

.modal-fullscreen .modal-dialog {
    max-width: 100%;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 100000;
}

.btn.active.disabled,
.btn.active:disabled {
    opacity: 1 !important;
}

.btn-outline-secondary.active.disabled,
.btn-outline-secondary.active:disabled {
    font-weight: bolder;
    // border-width: 2px;
    background-color: #e9ecef;
}