<template>
  <b-modal @hidden="resetModal" v-model="modalShow" hide-footer no-close-on-backdrop :title="title">
    <div class="d-block text-center">
      <b-form @submit.stop.prevent="onSubmit" ref='form'>
        <b-form-group id="input-password-group" label-cols="4"  label="Password" label-for="input-password">
          <b-form-input
            type="password"
            id="input-password"
            name="input-password"
            v-model="formData.password"
            :state="validateState('password')"
            aria-describedby="input-password-feedback"
          ></b-form-input>

          <b-form-invalid-feedback
            id="input-password-feedback"
          >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
        </b-form-group>
        <b-form-group id="input-confirm-password-group" label-cols="4" label="Confirm Password" label-for="input-confirm-password">
          <b-form-input
            type="password"
            id="input-confirm-password"
            name="input-confirm-password"
            v-model="formData.confirmPassword"
            :state="validateState('confirmPassword')"
            aria-describedby="input-confirm-password-feedback"
          ></b-form-input>

          <b-form-invalid-feedback id="input-confirm-password-feedback">
            This is a required field and must be same as Password.
          </b-form-invalid-feedback>
        </b-form-group>
        <b-button variant="warning" class="ml-2" @click="onSubmit()" long><i class="fa fa-lock mx-1" />Change Password</b-button>
      </b-form>
    </div>
  </b-modal>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    id: [String, Number],
    title: {
      default: 'Change Password',
      String
    }
  },
  data () {
    return {
      modalShow: false,
      formData: {
        password: null
      }
    }
  },
  validations: {
    formData: {
      password: {
        required,
        minLength: minLength(3)
      },
      confirmPassword: {
        required,
        sameAsPassword: sameAs('password')
      }
    }
  },
  methods: {
    getParams () {
      return {
        password: this.formData.password
      }
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      this.$swal({
        title: 'Saving ...',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          this.$swal.showLoading()
        }
      })
      axios.post(`/api/admin/users/${this.id}/change-password`, this.getParams()).then(response => {
        this.$swal({
          icon: 'success',
          title: response.data.message,
          showConfirmButton: false,
          timer: 1500
        })
      }).catch(error => {
        this.$swal({
          icon: 'error',
          showConfirmButton: false,
          timer: 1500
        })
      })
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    resetModal () {

    },
    show () {
      this.modalShow = true
    }
  }
}
</script>