<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-12 col-md-6">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-6">
            <!-- push router ke form membuat data -->
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        :id="id"
        :region-types="regionTypes"
        :form-data="formData"
        :file-image="fileImage"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'
export default {
  mixins: [mixin],
  components: {
    BaseForm
  },
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/users/create`).then(response => {
        this.setOptions(response.data)
      });
    },
    resetForm () {
      this.formData = {
        title: null,
        content: null,
        type: null
      };

      this.$nextTick (() => {
        this.$v.$reset()
      });
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.$swal({
        title: 'Saving ...',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          this.$swal.showLoading()
        }
      })
      axios.post('/api/admin/users', this.getParams()).then(response => {
        this.$swal({
          icon: 'success',
          title: response.data.message,
          showConfirmButton: false,
          timer: 1500
        })
        this.$router.push({ name: 'admin_user_edit', params: { id: response.data.id } })
      }).catch(error => {
        this.$swal({
          icon: 'error',
          title: response.data.message,
          showConfirmButton: false,
          timer: 1500
        })
      })
    }
  },
  mounted () {
    this.loadData()
  }
};
</script>