<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-12 col-md-6">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-6">
            <div class=" float-right">
              <b-button size="sm" variant="warning" class="mx-2" @click="changePassword()"><i class="fa fa-lock mx-1" />Ubah Sandi</b-button>
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>

      <base-form ref="baseform"
        :id="id" 
        :region-types="regionTypes"
        :form-data="formData"
        :file-image="fileImage"
      />

      <!-- <b-button type="submit" variant="primary" @click="onSubmit()">Submit</b-button>
      <b-button class="ml-2" @click="resetForm()">Segarkan</b-button> -->
    </b-card>
    <change-password-modal ref="change-password-modal" :id="id" />
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'
import changePasswordModal from './change-password.vue'
export default {
  components: {
    changePasswordModal,
    BaseForm
  },
  mixins: [mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/users/${this.id}/edit`).then(response => {
        this.formData = response.data.formData
        this.setOptions(response.data)
        this.$nextTick(() => {
          this.$refs.baseform.loadRegions()
        })
        if (this.formData.image) this.fileImage.push({
          source: response.data.administrator.image,
          options: {
            type: 'local'
          }
        })
      });
    },
    changePassword () {
      this.$refs['change-password-modal'].show()
    },
    resetForm () {
      this.loadData()
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.$swal({
        title: 'Saving ...',
        allowEscapeKey: false,
        allowOutsideClick: false,
        onOpen: () => {
          this.$swal.showLoading()
        }
      })
      axios.put(`/api/admin/users/${this.id}`, this.getParams()).then(response => {
        this.$swal({
          icon: 'success',
          title: response.data.message,
          showConfirmButton: false,
          timer: 1500
        })
      }).catch(error => {
        this.$swal({
          icon: 'error',
          showConfirmButton: false,
          timer: 1500
        })
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>