<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row>
        <b-col sm="12" md="6">
          <b-form-group id="example-input-group-1" label="Name" label-for="example-input-1">
            <b-form-input
              :readonly="readonly"
              id="example-input-1"
              name="example-input-1"
              v-model="formData.name"
              :state="validateState('name')"
              aria-describedby="input-1-live-feedback"
            ></b-form-input>


            <b-form-invalid-feedback
              id="input-1-live-feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group id="input-email-group" label="Email" label-for="input-email">
            <b-form-input
              :readonly="readonly"
              id="input-email"
              name="input-email"
              v-model="formData.email"
              :state="validateState('email')"
              aria-describedby="input-email-feedback"
            ></b-form-input>

            <b-form-invalid-feedback
              id="input-email-feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Region Type" label-for="input-region-type">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-type"
              name="region_type"
              v-model="formData.region_type"
              :state="validateState('region_type')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="regionType" @select="handleRegionTypeSelected" deselect-label="Selected" :options="regionTypes" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Region " label-for="input-region-id">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-region-id"
              name="region_id"
              v-model="formData.region_id"
              :state="validateState('region_id')"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="region" deselect-label="Selected" :options="regions" :loading="regionLoading" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

      <!-- <b-form-group id="input-password-group" label="Password" label-for="input-password">
        <b-form-input
          :readonly="readonly"
          type="password"
          id="input-password"
          name="input-password"
          v-model="formData.password"
          :state="validateState('password')"
          aria-describedby="input-password-feedback"
        ></b-form-input>

        <b-form-invalid-feedback
          id="input-password-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group> -->

      <!-- <b-form-group label="Content" label-for="example-input-3">
        <quill-editor :disabled="readonly" v-model="formData.content"/>
      </b-form-group> -->

        <b-col sm="12" md="6">
          <b-form-group id="input-password-group" label="Password" label-for="input-password">
            <b-form-input
              :readonly="readonly"
              type="password"
              id="input-password"
              name="input-password"
              v-model="formData._input_password"
              :state="validateState('_input_password')"
              aria-describedby="input-password-feedback"
            ></b-form-input>

            <b-form-invalid-feedback
              id="input-password-feedback"
            >This is a required field and must be at least 6 characters.</b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="input-confirm-password-group" label="Confirm Password" label-for="input-confirm-password">
            <b-form-input
              :readonly="readonly"
              type="password"
              id="input-confirm-password"
              name="input-confirm-password"
              v-model="formData._confirm_password"
              :state="validateState('_confirm_password')"
              aria-describedby="input-confirm-password-feedback"
            ></b-form-input>

            <b-form-invalid-feedback
              id="input-confirm-password-feedback"
            >This is a required field and must be same as password.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col sm="12" md="6">
          <b-form-group label="Image" label-for="example-input-4">
            <file-pond
              name="image"
              ref="pond"
              label-idle="Drag & Drop berkas disini..."
              v-bind:allow-multiple="false"
              accepted-file-types="image/jpeg, image/png"
              v-bind:server="server"
              maxFileSize="10MB"
              v-bind:files="fileImage"/>
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, requiredIf, minLength, sameAs } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    id: {
      type: [String, Number],
      default: null
    },
    readonly: false,
    types: Array,
    regionTypes: Array,
    fileImage: Array,
    formData: Object
  },

  data () {
    return {
      regionLoading: true,
      regions: []
    }
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      email: {
        required,
        minLength: minLength(3)
      },
      region_id: {
        required
      },
      _input_password: {
        minLength: minLength(6),
        requiredIf: requiredIf(function () {
          return this.id === null
        })
      },
      _confirm_password: {
        sameAsPassword: sameAs('_input_password')
      },
      region_type: {
        required
      }
    }
  },
  computed: {
    server () {
      return {
        url: `/api/admin/users/${this.id}/upload`,
        load: (source, load, _1, _2, _3, _4) => {
          let request = new Request(source);
          fetch(request).then(function(response) {
            response.blob().then(function(blob) {
              load(blob)
            });
          })         
        },
        process: {
            headers: {
                'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            },
            onload: (response) => {
              this.formData.image = JSON.parse(response).path
            }
        }
      }
    },
    regionType: {
      get () {
        return this.regionTypes.filter((el) => {
          return el.id == this.formData.region_type 
        })
      },
      set (val) {
        this.formData.region_type = val.id
      }
    },
    region: {
      get () {
        return this.regions.filter((el) => {
          return el.id == this.formData.region_id 
        })
      },
      set (val) {
        this.formData.region_id = val.id
      }
    },
    formDataType () {
      return this.formData.type ? this.formData.type.toString() : ""
    }
  },
  methods: {
    handleRegionTypeSelected(val) {
      this.formData.region_id = null
      this.regions = []
      this.regionType = val
      this.loadRegions()
    },
    loadRegions () {
      this.regionLoading = true
      axios.get("/api/admin/layers/regions", { params: this.regionType[0] }).then(response => {
        this.regions = response.data
        this.regionLoading = false
      })
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>