<template>
  <b-tabs content-class="mt-3">
    <b-tab title="Dokumen" active>
      <document-form :readonly="readonly"/>
    </b-tab>
    <!-- <b-tab title="KUPZ" active>
      <zonation-form :readonly="readonly"/>
    </b-tab> -->
  </b-tabs>
</template>

<script>
import DocumentForm from './document-form'
// import ZonationForm from './zonation-form'
export default {
  props: {
    readonly: false
  },
  components: { 
    // ZonationForm, 
    DocumentForm 
  }
}
</script>