<template>
  <div>
    <b-row class="m-0 d-flex pb-1">
      <b-col md="auto" class="p-0">
        <b-btn href="#" v-b-toggle="'collapse-input-' + formData._index" variant="outline-secondary">
          <span class="when-opened">
            <i class="fa fa-chevron-down" />
          </span>
          <span class="when-closed">
            <i class="fa fa-chevron-right" />
          </span>
        </b-btn>
      </b-col>
      <b-col cols="12" md="auto" class="flex-grow-1 p-0">
        <b-form id="form" class="default-form" @submit="handleSave" :model="formData" ref="form" :label-width="0">
          <b-row class="m-0">
            <b-col :xs="12" :md="6" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.name"
                  id="input-name"
                  name="name"
                  :state="validateState('name')"
                  aria-describedby="input-name-feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input-name-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="5" class="p-0">
              <b-form-group label-for="file-input" class="m-0">
                <b-form-input
                  class="d-none"
                  id="file-input"
                  name="file"
                  v-model="formData.file"
                  :state="validateState('file')"
                  aria-describedby="input-input-feedback"
                ></b-form-input>
                <file-pond
                  name="file"
                  ref="pond"
                  label-idle="Drag & Drop berkas disini..."
                  :allow-multiple="false"
                  maxFileSize="100MB"
                  accepted-file-types="application/pdf"
                  v-on:updatefiles="handleUpdateFiles"
                  :files.sync="files"/>

                  <b-form-invalid-feedback
                    id="input-file-feedback"
                  >This is a required field.</b-form-invalid-feedback>
              </b-form-group>
              <!-- <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.key"
                  id="input-key"
                  name="key"
                  :state="validateState('key')"
                  aria-describedby="input-key-feedback"
                ></b-form-input>
              </b-form-group> -->
            </b-col>
            <b-col :xs="12" :md="1" class="p-0">
              <div class="d-flex justify-content-center">
                <b-btn href="#" variant="success" class="mx-1" @click="handleSave" >
                  <i class="fa fa-save" />
                </b-btn>
                <b-btn href="#" variant="danger" class="mx-1" @click="handleCancel" >
                  <i class="fa fa-times" />
                </b-btn>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
    <b-collapse :id="'collapse-input-' + formData._index">
      <b-row class="m-0 p-5">
        <b-col :xs="12" :md="2" class="p-0">
        </b-col>
      </b-row>
    </b-collapse>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, requiredIf } from "vuelidate/lib/validators";

export default {
  mixins: [ validationMixin ],
  props: {
    files: Array,
    formData: Object
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      file: {
        requiredIf: requiredIf(function () {
          return this.formData.id === null
        }),
      }
    }
  },
  // watch: {
  //   files () {
  //     console.log(this.files)
  //   }
  // },
  methods: {
    handleUpdateFiles (files) {
      if (files.length) {
        this.files[0] = files[0]
        this.formData.file = files[0].filename
        if (!this.formData.name) {
          this.formData.name = files[0].filename
        }
        return
      }
      this.files[0] = null
      this.formData.file = null
    },
    handleSave () {
      this.$emit('on-save-click', this.formData)
    },
    handleCancel () {
      this.$emit('on-cancel-click', this.formData)
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  // .filepond--root {
  //   max-height: 10em;
  // }

  .filepond--root, .filepond--drop-label {
    min-height: calc(1.6em + .75rem + 2px);
    height: calc(1.6em + .75rem + 2px);
  }
  .filepond--root {
    margin-bottom: 0;
  }
  .filepond--list-scroller {
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  .filepond--credits {
    display: none;
  }
}
</style>