<template>
  <b-row :gutter="16" class="m-0" style="padding: 8px 8px 8px 22px;background-color:#2d8cf0;color:white;">
    <b-col :xs="12" :md="false" class="d-md-none">
      List
    </b-col>
    <b-col :xs="12" :md="3">
      Pasal
    </b-col>
    <b-col :xs="12" :md="3">
      Ayat
    </b-col>
    <b-col :xs="12" :md="4">
      Butir
    </b-col>
  </b-row>
</template>