<template>
  <div>
    <b-row class="m-0 d-flex p-1">
      <b-col md="auto" class="p-0">
        <b-btn href="#" v-b-toggle="'collapse-input-' + formData._index" variant="outline-secondary">
          <span class="when-opened">
            <i class="fa fa-chevron-down" />
          </span>
          <span class="when-closed">
            <i class="fa fa-chevron-right" />
          </span>
        </b-btn>
      </b-col>
      <b-col cols="12" md="auto" class="flex-grow-1 p-0">
        <b-form id="form" class="default-form" @submit.stop.prevent="handleSave" :model="formData" ref="form" :label-width="0">
          <b-row class="m-0">
            <b-col :xs="12" :md="3" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.chapter"
                  id="input--chapter"
                  name="chapter"
                  :state="validateState('chapter')"
                  aria-describedby="input--chapter--feedback"
                ></b-form-input>

                <b-form-invalid-feedback
                  id="input--chapter--feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="3" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.verse"
                  id="input--verse"
                  name="verse"
                  :state="validateState('verse')"
                  aria-describedby="input--verse--feedback"
                ></b-form-input>

                <b-form-invalid-feedback
                  id="input--verse--feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="4" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.point"
                  id="input--point"
                  name="point"
                  :state="validateState('point')"
                  aria-describedby="input--point--feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input--point--feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="2" class="p-0">
              <div class="d-flex justify-content-center">
                <b-btn href="#" variant="success" class="mx-1" @click="handleSave" >
                  <i class="fa fa-save" />
                </b-btn>
                <b-btn href="#" variant="danger" class="mx-1" @click="handleCancel" >
                  <i class="fa fa-times" />
                </b-btn>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
    <b-collapse :id="'collapse-input-' + formData._index" visible>
       <b-row class="m-0 justify-content-center p-1">
          <b-col :xs="12" :md="4" class="p-0">
            <b-form-group label="Isi Pasal">
                <b-form-textarea
                  v-model="formData.content"
                  id="input--content"
                  name="content"
                  :state="validateState('content')"
                  aria-describedby="input--content--feedback"
                ></b-form-textarea>

                <b-form-invalid-feedback
                  id="input--content--feedback"
                >This is a required field.</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
          <b-col :xs="12" :md="4" class="p-0">
            <b-form-group label="Deskripsi">
                <b-form-textarea
                  v-model="formData.description"
                  id="input--description"
                  name="description"
                  aria-describedby="input--description--feedback"
                ></b-form-textarea>

                <b-form-invalid-feedback
                  id="input--description--feedback"
                >This is a required field.</b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
        <form-title v-if="formData._show_title" />
    </b-collapse>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import FormTitle from './zonation-form-title.vue'

export default {
  components: { FormTitle },
  mixins: [validationMixin],
  props: {
    formData: Object,
  },
  validations: {
    formData: {
      chapter: {
        required,
        minLength: minLength(1)
      },
      verse: {
        required
      },
      point: {
        required
      },
      content: {
        required
      }
    }
  },
  methods: {
    handleSave () {
      this.$emit('on-save-click', this.formData)
    },
    handleCancel () {
      this.$emit('on-cancel-click', this.formData)
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>