<template>
  <div class="row">
    <div class="col-12 col-md-8">
      <h3 class="mb-0"><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
    </div>
    <div class="col-12 col-md-4">
      <div class=" d-flex justify-content-between justify-content-md-end">
        <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
        <b-button size="sm" variant="info" class="mx-2" @click="onReset()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
        <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    onReset () {
      this.$emit('reset')
    },
    onSubmit () {
      this.$emit('submit')
    }
  }
}
</script>