<template>
  <div class="position-relative">
    <slot></slot>
    <div v-if="loading" class="spinner-center d-flex align-items-center">
      <b-spinner class="m-auto"></b-spinner>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    loading: Boolean
  }
}
</script>

<style scoped>
.spinner-center {
    background: #ffffffaa;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>