<template>
  <b-form @submit.stop.prevent="onSubmit">
    <b-input-group>
      <template #prepend>
        <b-form-select :value="searchKey" @input="$emit('key-change', $event)" variant="primary" style="border-top-right-radius:0; border-bottom-right-radius:0;">
          <b-form-select-option v-for="item in searchKeys" :value="item.key" :key="item.key">{{ item.label }}</b-form-select-option>
        </b-form-select>
      </template>
      <b-form-input type="search" name="search" :value="value" @input="$emit('input', $event)"></b-form-input>
      <b-input-group-append>
        <b-button variant="primary" type="submit"><i class="fas fa-search"></i></b-button>
      </b-input-group-append>
    </b-input-group>
  </b-form>
</template>

<script>
export default {
  props: {
    value: String,
    searchKey: String,
    searchKeys: Array,
  },
  methods: {
    onSubmit () {
      this.$emit('submit', this.value)
    }
  }
}
</script>