<template>
  <div class="row">
    <div class="col-12 col-md-7">
      <h4><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ title ? title : $route.meta.title }}</h4>
    </div>
    <div class="col-12 col-md-5">
      <div class=" d-flex justify-content-between justify-content-md-end">
        <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
        <b-button size="sm" variant="info" class="mx-2" @click="onReset()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String
  },
  methods: {
    onReset () {
      this.$emit('reset')
    },
    onSubmit () {
      this.$emit('submit')
    }
  }
}
</script>