<template>
  <div class="row">
    <div class="col-12 col-md-8">
      <h3 class="mb-0"><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
    </div>
    <div class="col-12 col-md-4">
      <div class=" d-flex justify-content-between justify-content-md-end">
        <b-button v-if="editRoute" size="sm" type="submit" variant="warning" @click="onEdit()"><i class="fa fa-edit mx-1" />Edit</b-button>
        <b-button size="sm" variant="info" class="mx-2" @click="onReset()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
        <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    editRoute: String,
    editParams: Object
  },
  methods: {
    onReset () {
      this.$emit('reset')
    },
    onEdit () {
      this.$router.push({
        params: this.editParams,
        name: this.editRoute
      })
      this.$emit('@edit')
    }
  }
}
</script>