<template>
  <b-tabs content-class="mt-3">
    <b-tab title="Attribute" active>
      <attribute-form :readonly="readonly"/>
    </b-tab>
    <b-tab title="Legend">
      <legend-form :readonly="readonly"/>
    </b-tab>
    <b-tab title="IAPZ">
      <zonation-rule-form :readonly="readonly"/>
    </b-tab>
  </b-tabs>
</template>

<script>
import AttributeForm from './attribute-form'
import LegendForm from './legend-form'
import ZonationRuleForm from './zonation-rule-form.vue'

export default {
  props: {
    readonly: {
      type: Boolean,
      default: false
    }
  },
  components: {
    ZonationRuleForm,
    AttributeForm, 
    LegendForm
  }
}
</script>