<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row class="m-0">
        <b-col :xs="12" :md="6" class="p-0">
          <b-form-group id="group-input-group" label="Parent" label-for="input-group">
            <b-form-input
              :readonly="readonly"
              class="d-none"
              id="input-group"
              name="group"
              v-model="formData.parent_id"
            ></b-form-input>
            <multiselect :disabled="readonly" v-model="parent" deselect-label="Selected" :options="parents" track-by="id" label="name">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="6" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="1"><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio>
              <b-form-radio value="0"><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio>
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>

      <b-form-group id="group-input-name" label="Name" label-for="input-name">
        <b-form-input
          :readonly="readonly"
          id="input-name"
          name="name"
          v-model="formData.name"
          :state="validateState('name')"
          aria-describedby="input-name-feedback"
        ></b-form-input>
        <b-form-invalid-feedback
          id="input-name-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group id="group-input-group" label="Group" label-for="input-group">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="input-group"
          name="group"
          v-model="formData.category_id"
          :state="validateState('category_id')"
        ></b-form-input>
        <multiselect :disabled="readonly" v-model="category" deselect-label="Selected" :options="categories" track-by="id" label="name" :allow-empty="false">
          <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
        </multiselect>
        <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    categories: Array,
    parents: Array,
    formData: Object
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      category_id: {
        required
      }
    }
  },
  computed: {
    category: {
      get () {
        return this.categories.filter((el) => {
          return el.id == this.formData.category_id 
        })
      },
      set (val) {
        this.formData.category_id = val.id
      }
    },
    parent: {
      get () {
        return this.parents.filter((el) => {
          return el.id == this.formData.parent_id 
        })
      },
      set (val) {
        this.formData.parent_id = val.id
      }
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>