<template>
  <div>
    <b-row class="m-0 d-flex pb-1">
      <b-col md="auto" class="p-0">
        <b-btn href="#" v-b-toggle="'collapse-input-' + formData._index" variant="outline-secondary">
          <span class="when-opened">
            <i class="fa fa-chevron-down" />
          </span>
          <span class="when-closed">
            <i class="fa fa-chevron-right" />
          </span>
        </b-btn>
      </b-col>
      <b-col cols="12" md="auto" class="flex-grow-1 p-0">
        <b-form id="form" class="default-form" @submit="handleSave" :model="formData" ref="legend-form" :label-width="0">
          <b-row class="m-0">
            <b-col :xs="12" :md="2" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.name"
                  id="input-name"
                  name="name"
                  :state="validateState('name')"
                  aria-describedby="input-name-feedback"
                ></b-form-input>
                <b-form-invalid-feedback
                  id="input-name-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="2" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.key"
                  id="input-key"
                  name="key"
                  :state="validateState('key')"
                  aria-describedby="input-key-feedback"
                ></b-form-input>

                <b-form-invalid-feedback
                  id="input-key-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="2" class="p-0">
              <b-form-group class="m-0">
                <!-- <b-form-select v-model="formData.rule_id" :options="rules"></b-form-select> -->
                <b-form-input
                  class="d-none"
                  id="input-rule"
                  name="rule"
                  v-model="formData.rule_id"
                  :state="validateState('rule_id')"
                ></b-form-input>
                <multiselect v-model="rule" 
                  select-label=""
                  selected-label=""
                  deselect-label=""
                  placeholder=""
                  :options="rules" track-by="id" label="name" :allow-empty="false">
                  <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
                </multiselect>
                <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="3" class="p-0">
              <b-form-group class="m-0">
                <b-input-group>
                  <!-- <b-input-group-prepend> -->
                    <b-form-input
                      v-model="formData.min"
                      id="input-min"
                      name="min"
                      :state="validateState('min')"
                      aria-describedby="input-min-feedback"
                    ></b-form-input>
                  <!-- </b-input-group-prepend> -->
                  <!-- <b-button variant="outline-secondary" disabled>To</b-button> -->

                  <b-input-group-append v-if="is_range" is-text>
                    To
                  </b-input-group-append>
                  <b-input-group-append v-if="is_range">
                    <b-form-input
                      v-model="formData.max"
                      id="input-max"
                      name="max"
                      :state="validateState('max')"
                      aria-describedby="input-max-feedback"
                    ></b-form-input>
                  </b-input-group-append>
                </b-input-group>
                <b-form-invalid-feedback
                  id="input-min-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <!-- <b-col :xs="12" :md="2" class="p-0">
              <b-form-group class="m-0">
                <b-form-input
                  v-model="formData.max"
                  id="input-max"
                  name="max"
                  :state="validateState('max')"
                  aria-describedby="input-max-feedback"
                ></b-form-input>

                <b-form-invalid-feedback
                  id="input-max-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col> -->
            <b-col :xs="12" :md="1" class="p-0">
              <b-form-group class="m-0">
                <input
                  v-model="formData.color"
                  type="color"
                  id="input-color"
                  name="color"
                  class="form-control p-0"
                  aria-describedby="input-color-feedback"
                ></input>

                <b-form-invalid-feedback
                  id="input-color-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="1" class="p-0">
              <b-form-group class="m-0">
                <input
                  v-model="formData.stroke"
                  type="color"
                  id="input-stroke"
                  name="stroke"
                  class="form-control p-0"
                  aria-describedby="input-stroke-feedback"
                ></input>

                <b-form-invalid-feedback
                  id="input-stroke-feedback"
                >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
              </b-form-group>
            </b-col>
            <b-col :xs="12" :md="1" class="p-0">
              <div class="d-flex justify-content-center">
                <b-btn href="#" variant="success" class="mx-1" @click="handleSave" >
                  <i class="fa fa-save" />
                </b-btn>
                <b-btn href="#" variant="danger" class="mx-1" @click="handleCancel" >
                  <i class="fa fa-times" />
                </b-btn>
              </div>
            </b-col>
          </b-row>
        </b-form>
      </b-col>
    </b-row>
    <b-collapse :id="'collapse-input-' + formData._index" visible>
      <b-row class="m-0">
        <b-col :xs="12" :md="2" class="p-0">
          <b-form-group class="m-0" label="Shape Type">
            <b-form-input
              class="d-none"
              id="input-rule"
              name="rule"
              v-model="formData.shape_id"
            ></b-form-input>
            <multiselect v-model="shape" 
              select-label=""
              selected-label=""
              deselect-label=""
              placeholder=""
              :options="shapes" track-by="id" label="name" :allow-empty="false">
              <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
            </multiselect>
            <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>

        <b-col :xs="12" :md="2" class="p-0">
          <b-form-group class="m-0" label="Stroke Width">
            <input
              v-model="formData.stroke_width"
              type="number"
              name="stroke_wisth"
              class="form-control p-0"
              aria-describedby="input-stroke-feedback"
            ></input>

            <b-form-invalid-feedback
              id="input-stroke-feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, requiredIf, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    rules: Array,
    readonly: Boolean,
    shapes: Array,
    formData: Object,
  },
  data () {
    return {
      is_range: false
    }
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      rule_id: {
        required
      },
      key: {
        required
      },
      min: {
        required
      },
      max: {
        requiredIf: requiredIf(function () {
          return this.is_range
        })
      }
    }
  },
  computed: {
    rule: {
      get () {
        return this.rules.filter((el) => {
          return el.id == this.formData.rule_id 
        })
      },
      set (val) {
        this.is_range = val.is_range
        this.formData.rule_id = val.id
      }
    },
    shape: {
      get () {
        return this.shapes.filter((el) => {
          return el.id == this.formData.shape_id 
        })
      },
      set (val) {
        this.formData.shape_id = val.id
      }
    }
  },
  methods: {
    handleSave () {
      this.$emit('on-save-click', this.formData)
    },
    handleCancel () {
      this.$emit('on-cancel-click', this.formData)
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>