<template>
  <b-modal @hidden="resetModal" v-model="modalShow" hide-footer no-close-on-backdrop :title="title">
    <div class="d-block">
      <b-form @submit.stop.prevent="onSubmit" ref='form'>
        <b-form-group label="Nama Kegiatan" label-for="input--name">
          <b-form-input
            :readonly="readonly"
            id="input--name"
            v-model="formData.name"
            :state="validateState('name')"
            aria-describedby="input--name--feedback"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input--name--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label="Ketentuan" label-for="input--rule">
          <b-form-textarea
            id="input--rule"
            v-model="formData.rule"
            :state="validateState('rule')"
            aria-describedby="input--rule--feedback"
          ></b-form-textarea>
          <b-form-invalid-feedback
            id="input--rule--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>
        <b-button variant="success" class="ml-2" @click="onSubmit()" long><i class="fa fa-save mx-1" />Simpan</b-button>
      </b-form>
    </div>
  </b-modal>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import masterMixin from '../../../../mixins/master'

export default {
  mixins: [validationMixin, masterMixin],
  props: {
    // id: [String, Number],
    title: {
      default: 'Tambah Kegiatan',
      String
    }
  },
  data () {
    return {
      loading: false,
      id: null,
      files: [],
      modalShow: false,
      formData: {
        name: null,
        rule: null
      }
    }
  },
  validations: {
    formData: {
      rule: {
        required
      },
      name: {
        required
      }
    }
  },
  methods: {
    getFormData () {
      const formData = this.parseObjectToFormData(this.formData)
      return formData
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return
      }
      axios.request({
        method: 'post',
        url: `/api/admin/zonation-rule-activities/${this.id}/insert`,
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.resetModal()
        this.modalShow = false
        this.showSuccessAlert(response.data.message);
        this.$emit('saved')
      }).catch(error => {
        this.showFailedAlert(error.response.data.message);
      })
    },
    // loadData () {
    //   axios.get(`/api/admin/progress-submissions/${this.id}/add`).then(response => {
    //     this.statuses = response.data.statuses
    //     this.lastStatus = response.data.lastStatus
    //     this.formData.prev_progress_status_id = this.lastStatus.id
    //   }).catch(error => {
    //     // this.$swal({
    //     //   icon: 'error',
    //     //   showConfirmButton: false,
    //     //   timer: 1500
    //     // })
    //   })
    // },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    resetModal () {
      this.formData = {
        name: null,
        rule: null
      }
      this.$nextTick (() => {
        this.$v.$reset()
      });
    },
    show (id) {
      this.id = id
      this.resetModal()
      this.modalShow = true
      // this.loadData()
    }
  }
}
</script>