<template>
  <div>
    <b-row>
      <b-col md="6">
        <Contact class="mt-2 mb-2"/>
        <LiveChat class="mt-2 mb-2"/>
      </b-col>
      <b-col md="6">
        <ContactPage class="mt-2 mb-2"/>
        <Apps />
      </b-col>
    </b-row>
  </div>
</template>

<script>
import Contact from './setting-contact'
import ContactPage from './setting-contact-page'
import LiveChat from './setting-live-chat'
import Apps from './setting-apps'
export default {
  components: {
    Contact,
    ContactPage,
    LiveChat,
    Apps,
  }
}
</script>