<template>
  <b-card>
    <template v-slot:header>
      <SettingNav title="Live Chat" @submit="saveData()" @reset="loadData()" />
    </template>
    <div>
      <FormContainer :loading="loadingData">
        <b-form-group label="Tawk.to - Widget Code" label-for="">
            <b-textarea
              type="text"
              rows="6"
              v-model="formData.tawkto"
              placeholder="Enter here..."
            >
            </b-textarea>
        </b-form-group>
      </FormContainer>
    </div>
  </b-card>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import FormMixin from "@/mixins/form";
import MasterMixin from "@/mixins/master";
import SettingNav from "_c/setting-nav";
import FormContainer from "_c/form-container";

export default {
  components: { SettingNav, FormContainer },
  mixins: [FormMixin, MasterMixin],
  data() {
    return {
      endpoint: '/api/admin/setting-live-chat',
      loadingData: false,
      options: [],
      formData: {
        tawkto: '',
      },
    };
  },
  validations: {
    formData: {
      tawkto: {
        required,
      },
    },
  },
  methods: {
    loadData() {
      this.loadingData = true;
      axios.get(this.endpoint).then((response) => {
        if (response.data.formData instanceof Object) {
          this.assignPropertyToObject(response.data.formData, this.formData)
        }
        this.loadingData = false;
      });
    },
    saveData() {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      axios
        .post(this.endpoint, this.formData)
        .then((response) => {
          this.loadData();
        });
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>