<template>
  <b-card>
    <template v-slot:header>
      <SettingNav
        title="Contact Page"
        @submit="saveData()"
        @reset="loadData()"
      />
    </template>
    <div>
      <FormContainer :loading="loadingData">
        <b-form-group label="Content">
          <b-form-input
            class="d-none"
            v-model="formData.content"
            :state="v$('content')"
          ></b-form-input>
          <quill-editor v-model="formData.content" />
          <b-form-invalid-feedback
            >This is a required field.</b-form-invalid-feedback
          >
        </b-form-group>
      </FormContainer>
    </div>
  </b-card>
</template>

<script>
import { required } from "vuelidate/lib/validators";
import FormMixin from "@/mixins/form";
import MasterMixin from "@/mixins/master";
import SettingNav from "_c/setting-nav";
import FormContainer from "_c/form-container";

export default {
  components: { SettingNav, FormContainer },
  mixins: [FormMixin, MasterMixin],
  data() {
    return {
      endpoint: '/api/admin/setting-contact-page',
      loadingData: false,
      options: [],
      formData: {
        content: '',
      },
    };
  },
  validations: {
    formData: {
      content: {
        required,
      },
    },
  },
  methods: {
    loadData() {
      this.loadingData = true;
      axios.get(this.endpoint).then((response) => {
        if (response.data.formData instanceof Object) {
          this.assignPropertyToObject(response.data.formData, this.formData);
        }
        this.loadingData = false;
      });
    },
    saveData() {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      axios.post(this.endpoint, this.formData).then((response) => {
        this.loadData();
      });
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>