<template>
  <b-card>
    <template v-slot:header>
      <SettingNav title="Apps" @submit="saveData()" @reset="loadData()" />
    </template>
    <div>
      <FormContainer :loading="loadingData">
        <b-form-group label="Version" label-for="">
          <b-form-input v-model="formData.version" placeholder="Enter here...">
          </b-form-input>
        </b-form-group>

        <b-form-group>
          <template slot="label">
            Apk File
            <span class="float-right">
              <a :href="formData.url">
                <i class="fa fa-download"></i>
                Download
              </a>
            </span>
          </template>
          <file-pond
            name="image"
            ref="pond"
            label-idle="Drop files here..."
            v-bind:allow-multiple="false"
            accepted-file-types="application/vnd.android.package-archive"
            maxFileSize="10MB"
            :server="filepondServer"
            v-on:updatefiles="handleUpdateFiles"
            v-bind:files="files"
          />
        </b-form-group>
      </FormContainer>
    </div>
  </b-card>
</template>

<script>
import FormMixin from "@/mixins/form";
import MasterMixin from "@/mixins/master";
import SettingNav from "_c/setting-nav";
import FormContainer from "_c/form-container";

export default {
  components: { SettingNav, FormContainer },
  mixins: [FormMixin, MasterMixin],
  data() {
    return {
      endpoint: "/api/admin/setting-apps",
      loadingData: false,
      files: [],
      formData: {
        url: "",
        version: "",
      },
    };
  },
  methods: {
    loadData() {
      this.loadingData = true;
      axios.get(this.endpoint).then((response) => {
        if (response.data.formData instanceof Object) {
          this.assignPropertyToObject(response.data.formData, this.formData);
        }
        this.loadingData = false;
      });
    },
    getFormData() {
      const formData = this.parseObjectToFormData(this.formData);
      if (this.files.length) {
        formData.append("file", this.files[0].file);
      }
      return formData;
    },
    async saveData() {
      this.loadingData = true;
      await axios
        .post(this.endpoint, this.getFormData())
        .then((response) => {
          this.loadData();
          this.files = [];
        })
        .catch(({ response }) => {
          this.showFailedAlert(response.data.message);
        });
      this.loadingData = false;
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>