<template>
  <b-card>
    <template v-slot:header>
      <SettingNav title="Contact" @submit="saveData()" @reset="loadData()" />
    </template>
    <div>
      <FormContainer :loading="loadingData">
        <b-form-group label="Email" label-for="">
            <b-form-input
              type="email"
              v-model="formData.email"
              placeholder="Enter here..."
            >
            </b-form-input>
        </b-form-group>
        <b-form-group label="Whatsapp" label-for="">
            <b-form-input
              type="number"
              v-model="formData.whatsapp"
              placeholder="Enter here..."
            >
            </b-form-input>
        </b-form-group>
        <b-form-group label="Facebook" label-for="">
            <b-form-input
              v-model="formData.facebook"
              placeholder="Enter here..."
            >
            </b-form-input>
        </b-form-group>
        <b-form-group label="Instagram" label-for="">
            <b-form-input
              v-model="formData.instagram"
              placeholder="Enter here..."
            >
            </b-form-input>
        </b-form-group>
        <b-form-group label="YouTube" label-for="">
            <b-form-input
              v-model="formData.youtube"
              placeholder="Enter here..."
            >
            </b-form-input>
        </b-form-group>
      </FormContainer>
    </div>
  </b-card>
</template>

<script>
import FormMixin from "@/mixins/form";
import MasterMixin from "@/mixins/master";
import SettingNav from "_c/setting-nav";
import FormContainer from "_c/form-container";

export default {
  components: { SettingNav, FormContainer },
  mixins: [FormMixin, MasterMixin],
  data() {
    return {
      endpoint: '/api/admin/setting-contact',
      loadingData: false,
      options: [],
      formData: {
        whatsapp: '',
        instagram: '',
        facebook: '',
        email: '',
        youtube: '',
        twitter: '',
      },
    };
  },
  methods: {
    loadData() {
      this.loadingData = true;
      axios.get(this.endpoint).then((response) => {
        if (response.data.formData instanceof Object) {
          this.assignPropertyToObject(response.data.formData, this.formData)
        }
        this.loadingData = false;
      });
    },
    saveData() {
      axios
        .post(this.endpoint, this.formData)
        .then((response) => {
          this.loadData();
        });
    },
  },
  mounted() {
    this.loadData();
  },
};
</script>