<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group id="example-input-group-1" label="Name" label-for="example-input-1">
        <b-form-input
          :readonly="readonly"
          id="example-input-1"
          name="name"
          v-model="formData.name"
          :state="validateState('name')"
          aria-describedby="input-1-live-feedback"
        ></b-form-input>


        <b-form-invalid-feedback
          id="input-1-live-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Skor" label-for="input--score">
        <b-form-input
          id="input--score"
          type="number"
          name="score"
          v-model="formData.score"
          aria-describedby="input--score--feedback"
        ></b-form-input>
        <b-form-invalid-feedback
          id="input--score--feedback"
        >This is a required field.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Keterangan" label-for="input--note">
        <b-form-textarea
          id="input--note"
          v-model="formData.note"
          aria-describedby="input--note--feedback"
        ></b-form-textarea>
        <b-form-invalid-feedback
          id="input--note--feedback"
        >This is a required field.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Warna" label-for="input--color">
         <input
          v-model="formData.color"
          type="color"
          id="input--color"
          name="color"
          class="form-control p-0"
          aria-describedby="input--color--feedback"
        ></input>

        <b-form-invalid-feedback
          id="input--color--feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    formData: Object
  },

  data () {
    return {}
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      // key: {
      //   required,
      //   minLength: minLength(3)
      // }
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>