<template>
  <div>
    <b-card>
      <template v-slot:header>
        <CreateNav @submit="onSubmit" @reset="resetForm"/>
      </template>
      <base-form ref="baseform"
        :loading="loadingData"
        :form-data="formData"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import Mixin from './mixin'
import CreateNav from '_c/create-nav'

export default {
  components: {
    CreateNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    // loadData () {
    //   // fetch data dari api menggunakan axios
    //   this.loadingData = true
    //   axios.get(`${this.endpoint}/create`).then(response => {
    //     // this.formData = response.data.post
    //     this.types = response.data.tags
    //     this.loadingData = false
    //   });
    // },
    resetForm () {
      this.formData = {
        question: null,
        answer: null,
      }

      this.$nextTick (() => {
        this.$v.$reset()
      })
    },
    onSubmit() {
      if (this.$refs.baseform.invalidate()) {
        return
      }
      this.showLoadingAlert();
      axios
        .post(this.endpoint, this.getFormData(), this.a$multipart)
        .then((response) => {
          this.showSuccessAlert(response.data.message)
          this.$router.push({ name: 'admin_faq_edit', params: { id: response.data.id } })
        })
        .catch((error) => {
          this.showFailedAlert(error.response.data.message)
        });
    }
  },
  mounted () {
    this.id = this.$route.params.id
    // this.loadData()
  }
}
</script>