<template>
  <div>
    <b-card>
      <template v-slot:header>
       <EditNav  @submit="onSubmit()" @reset="resetForm()"/>
      </template>

      <base-form ref="baseform"
        :loading="loadingData"
        :form-data="formData"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import Mixin from './mixin'
import EditNav from '_c/edit-nav'

export default {
  components: {
    EditNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`${this.endpoint}/${this.id}/edit`).then(response => {
        if (response.data.formData instanceof Object) {
          this.assignPropertyToObject(response.data.formData, this.formData)
        }
        this.loadingData = false
      })
    },
    resetForm () {
      this.loadData()
    },
    onSubmit () {
      if (this.$refs.baseform.invalidate()) {
        return
      }
      this.showLoadingAlert()
      axios.post(`${this.endpoint}/${this.id}`, this.getFormData(true), this.a$multipart).then(response => {
        this.showSuccessAlert(response.data.message)
      }).catch(error => {
        this.showFailedAlert(error.response.data.message)
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
}
</script>