<template>
  <FormContainer :loading="loading">
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group
        id="question-input-group"
        label="Question"
        label-for="question-input"
      >
        <b-form-input
          :readonly="readonly"
          id="question-input"
          name="question-input"
          v-model="formData.question"
          :state="v$('question')"
          aria-describedby="question-input-feedback"
        ></b-form-input>
        <b-form-invalid-feedback id="question-input-feedback" />
      </b-form-group>
      <b-form-group label="Answer" label-for="answer-input">
        <quill-editor
          id="answer-input"
          :disabled="readonly"
          v-model="formData.answer"
        />
      </b-form-group>
      <b-row no-gutters>
        <b-col :xs="12" :md="8" class="py-0 pr-0">
          <b-form-group label="Sequence">
            <b-form-input
              :readonly="readonly"
              name="sequence"
              type="number"
              v-model="formData.sequence"
              :state="v$('sequence')"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0" offset-md="1">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.issuance"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.issuance"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              :disabled="readonly"
              buttons
            >
              <b-form-radio value="0"><i class="fas fa-unlink mx-1"></i>Diarsipkan</b-form-radio>
              <b-form-radio value="1"><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio>
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
    </b-form>
  </FormContainer>
</template>
<script>
import { required, minLength } from "vuelidate/lib/validators";
import FormContainer from "_c/form-container";
import FormMixin from "@/mixins/form";

export default {
  components: { FormContainer },
  mixins: [FormMixin],
  props: {
    readonly: Boolean,
    loading: Boolean,
    formData: Object,
  },
  validations: {
    formData: {
      question: {
        required,
        minLength: minLength(3),
      },
    },
  },
};
</script>
<style>
</style>