<template>
  <div>
    <b-card>
      <template v-slot:header>
       <ShowNav @reset="loadData" edit-route="admin_faq_edit" :edit-params="$route.params" />
      </template>
      <base-form ref="baseform"
        readonly
        :loading="loadingData"
        :types="types"
        :form-data="formData"
        :file-image="files"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import Mixin from './mixin'
import ShowNav from '_c/show-nav'
export default {
  components: {
    ShowNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    loadData () {
      this.loadingData = true
      axios.get(`${this.endpoint}/${this.id}`).then(response => {
        if (response.data instanceof Object) {
          this.assignPropertyToObject(response.data, this.formData)
        }
        this.loadingData = false
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
}
</script>