<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row no-gutters>
        <b-col :xs="12" :md="8" class="py-0 pr-0">
          <b-form-group label="Name" label-for="input--name">
            <b-form-input
              :readonly="readonly"
              id="input--name"
              name="name"
              v-model="formData.name"
              :state="validateState('name')"
              aria-describedby="input--name--feedback"
            ></b-form-input>

            <b-form-invalid-feedback id="input--name--feedback"
              >This is a required field and must be at least 3
              characters.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0" offset-md="1">
          <b-form-group label="Status" class="">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.issuance"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.issuance"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              :disabled="readonly"
              buttons
            >
              <b-form-radio value="0"
                ><i class="fas fa-unlink mx-1"></i>Diarsipkan</b-form-radio
              >
              <b-form-radio value="1"
                ><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group label="Type" label-for="input--type_id">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="input--type_id"
          name="type_id"
          v-model="formData.type_id"
          :state="validateState('type_id')"
          aria-describedby="input--type_id--feedback"
        ></b-form-input>
        <multiselect
          :disabled="readonly"
          taggable
          v-model="type"
          v-bind:options="types"
          track-by="id"
          label="name"
        ></multiselect>
        <b-form-invalid-feedback id="input--type_id--feedback"
          >This is a required field.</b-form-invalid-feedback
        >
      </b-form-group>

      <b-form-group label="Tag" label-for="example-input-2">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="example-input-2"
          name="tag"
          v-model="taglist"
          :state="validateState('taglist')"
        ></b-form-input>
        <multiselect
          :disabled="readonly"
          @tag="addTag"
          multiple
          taggable
          v-model="formData.taglist"
          v-bind:options="tags"
          track-by="value"
          label="value"
        ></multiselect>
        <b-form-invalid-feedback id="input-2-live-feedback"
          >This is a required field.</b-form-invalid-feedback
        >
      </b-form-group>
      <b-form-group label="Keterangan" label-for="input--note">
        <b-form-textarea
          id="input--note"
          v-model="formData.note"
          aria-describedby="input--note--feedback"
        ></b-form-textarea>
        <b-form-invalid-feedback id="input--note--feedback"
          >This is a required field.</b-form-invalid-feedback
        >
      </b-form-group>

      <b-form-group label="File" label-for="input--file">
        <template #label>
          File
          <a v-if="id" :href="formData.file" class="float-right"
            ><i class="fas fa-download mx-1"></i> Unduh</a
          >
        </template>
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="input--file"
          name="file"
          v-model="formData.file"
          :state="validateState('file')"
          aria-describedby="input--file--feedback"
        ></b-form-input>
        <b-form-invalid-feedback id="input--file--feedback"
          >This is a required field.</b-form-invalid-feedback
        >
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drag & Drop berkas disini..."
          v-bind:allow-multiple="false"
          maxFileSize="100MB"
          :disabled="readonly"
          accepted-file-types="image/*,application/zip,application/pdf,video/mp4,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.ms-powerpoint"
          v-on:updatefiles="handleUpdateFiles"
        />
      </b-form-group>
    </b-form>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
import { required, requiredIf, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    id: Number,
    types: Array,
    tags: Array,
    files: Array,
    formData: {
      type: Object,
      default: () => {
        return {
          type: [],
        };
      },
    },
  },
  validations: {
    formData: {
      taglist: {
        required,
        minLength: minLength(1),
      },
      type_id: {
        required,
      },
      name: {
        required,
        minLength: minLength(3),
      },
      file: {
        requiredIf: requiredIf(function () {
          return this.id === null;
        }),
      },
    },
  },
  computed: {
    taglist() {
      return this.formData.taglist ? this.formData.taglist.toString() : "";
    },
    type: {
      get() {
        return this.types.filter((el) => {
          return el.id == this.formData.type_id;
        });
      },
      set(val) {
        this.formData.type_id = val.id;
      },
    },
  },
  methods: {
    addTag(newTag) {
      const tag = {
        value: newTag,
        id: newTag.substring(0, 2) + Math.floor(Math.random() * 10000000),
      };
      this.tags.push(tag);
      this.formData.taglist.push(tag);
    },
    handleUpdateFiles(files) {
      if (files.length) {
        this.files[0] = files[0];
        if (!this.formData.name) {
          this.formData.name = files[0].filename;
        }
        this.formData.file = true;
        this.validateState("file");
        return;
      }
      this.formData.file = null;
      this.validateState("file");
    },
    validateState(name) {
      const { $dirty, $error } = this.$v.formData[name];
      return $dirty ? !$error : null;
    },
  },
};
</script>
<style>
</style>