<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        :id="id"
        :tags="tags"
        :types="types"
        :form-data="formData"
        :files="files"
      />
    </b-card>
  </div>
</template>

<script>
import mixin from './mixin'
export default {
  mixins: [mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/libraries/${this.id}`).then(response => {
        this.formData = response.data
        this.types = [response.data.type]
      });
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>