<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        :regulations="regulations"
        :form-data="formData"
      />

      <b-button type="submit" variant="primary" @click="onSubmit()">Submit</b-button>
      <b-button class="ml-2" @click="resetForm()">Segarkan</b-button>
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import masterMixin from '../../../mixins/master'
import mixin from './mixin'

export default {
  components: {
    BaseForm
  },
  mixins: [ mixin, masterMixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/zonation-rules/create`).then(response => {
      //   // this.formData = response.data.gallery
        this.regulations = response.data.regulations
      })
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
      this.showLoadingAlert()
      axios.post('/api/admin/zonation-rules', this.getParams()).then(response => {
        this.showSuccessAlert()
        this.$router.push({
          params: { 
            id: response.data.id
          },
          name: 'admin_zonation_rule_edit',
        })
      }).catch(error => {
        this.showFailedAlert()
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>