<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">

      <b-form-group label="Peraturan" label-for="input-regulation">
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="input-regulation"
          name="example-input-2"
          v-model="formData.regulation_id"
          :state="validateState('regulation_id')"
          aria-describedby="input-regulation-feedback"
        ></b-form-input>
        <multiselect :disabled="readonly" v-model="regulation" deselect-label="Selected" :options="regulations" track-by="id" label="name" :allow-empty="false">
          <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
        </multiselect>
        <b-form-invalid-feedback id="input-regulation-feedback">This is a required field.</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group label="No. Perda" label-for="input-regulation_number">
        <b-form-input
          :readonly="readonly"
          id="input-regulation_number"
          name="regulation_number"
          v-model="formData.regulation_number"
          :state="validateState('regulation_number')"
          aria-describedby="input-regulation_number-feedback"
        ></b-form-input>


        <b-form-invalid-feedback
          id="input-regulation_number-feedback"
        >This is a required field.</b-form-invalid-feedback>
      </b-form-group>

      <b-form-group label="Pasal" label-for="input-chapter">
        <b-form-input
          :readonly="readonly"
          id="input-chapter"
          name="chapter"
          v-model="formData.chapter"
          aria-describedby="input-chapter-feedback"
        ></b-form-input>

        <!-- <b-form-invalid-feedback
          id="input-chapter-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback> -->
      </b-form-group>

      <b-form-group label="Ayat" label-for="input-verse">
        <b-form-input
          :readonly="readonly"
          id="input-verse"
          name="verse"
          v-model="formData.verse"
          aria-describedby="input-verse-feedback"
        ></b-form-input>

        <!-- <b-form-invalid-feedback
          id="input-verse-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback> -->
      </b-form-group>

      <b-form-group label="Butir" label-for="input-point">
        <b-form-input
          :readonly="readonly"
          id="input-point"
          name="point"
          v-model="formData.point"
          aria-describedby="input-point-feedback"
        ></b-form-input>

        <!-- <b-form-invalid-feedback
          id="input-point-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback> -->
      </b-form-group>

      <b-form-group label="Isi Pasal" label-for="input-content">
        <b-form-textarea
            :readonly="readonly"
            id="input-content"
            name="content"
            v-model="formData.content"
            aria-describedby="input-content-feedback"
        ></b-form-textarea>
        <!-- <b-form-invalid-feedback
          id="input-content-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback> -->
      </b-form-group>

      <b-form-group label="Deskripsi" label-for="input-description">
        <b-form-textarea
            :readonly="readonly"
            id="input-description"
            name="description"
            v-model="formData.description"
            aria-describedby="input-description-feedback"
        ></b-form-textarea>
        <!-- <b-form-invalid-feedback
          id="input-description-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback> -->
      </b-form-group>


    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    regulations: Array,
    formData: Object
  },

  data () {
    return {}
  },
  validations: {
    formData: {
      regulation_id: {
        required
      },
      regulation_number: {
        required
      }
    }
  },
  computed: {
    regulation: {
      get () {
        return this.regulations.filter((el) => {
          return el.id == this.formData.regulation_id 
        })
      },
      set (val) {
        this.formData.regulation_id = val.id
      }
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>