<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-9">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-3">
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
            </div>
          </div>
        </div>
      </template>
      <div>
        <b-form-group label="Content" label-for="example-input-3">
          <b-form-input
            class="d-none"
            id="example-input-2"
            name="example-input-2"
            v-model="formData.content"
          ></b-form-input>
          <quill-editor v-model="formData.content" />
          <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
        </b-form-group>
      </div>
    </b-card>
  </div>
</template>

<script>
import masterMixin from '../../../mixins/master'

export default {
  mixins: [ masterMixin ],
  data () {
    return {
      formData: {
        content: ''
      }
    }
  },
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      this.showLoadingAlert('Loading ...');
      axios.get(`/api/admin/disclaimer`).then(response => {
        this.formData = response.data
        this.showSuccessAlert()
      })
    },
    resetForm () {
      this.loadData()
    },
    onSubmit () {
      // this.$refs.baseform.$v.formData.$touch()
      // if (this.$refs.baseform.$v.formData.$anyError) {
      //   return;
      // }
      this.showLoadingAlert('Saving ...');
      axios.request({
        method: 'put',
        url: `/api/admin/disclaimer`,
        params: {
          value: this.formData
        }
      }).then(response => {
        this.showSuccessAlert(response.data.message)
      }).catch(error => {
        this.showFailedAlert(error.response.data.message)
      })
    }
  },
  mounted () {
    this.loadData()
  }
};
</script>