<template>
  <div>
      <b-row :gutter="16">
        <b-col :xs="12" :md="12">
          <!-- BEGIN Detail Form -->
          <div class="total-info">
            <b-row type="flex" justify="start" :gutter="1" style="margin: .4rem auto;">
              <b-col :xs="{ order: 0, span: 12 }" :md="1" class="p-0">
                <b-button class="button-adding" :disabled="readonly || inputing" block size="sm" variant="primary" @click="handleAdd" icon="md-adding"><i class="fa fa-plus mx-1" />Tambah</b-button>
              </b-col>
              <b-col :xs="{ order: 1, offset: 0, span: 12 }" :md="1" :offset-md="10" class="p-0">
                <b-button class="button-cancel float-right" block size="sm" variant="info" @click="handleReset" icon="md-refresh"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              </b-col>
            </b-row>
          </div>
          <b-card dis-hover no-body :padding="0" class="detail-card" style="border-color:#2d8cf0;">
            <!-- <template #header> -->
              <form-title />
            <!-- </template> -->
            <div v-for="(input, index) in listData" :key="index" class="collapse-container" :class="getBgClass(input.IDXX_AUTO)">
              <form-item :ref="'editForm' + index"  :form-data="formData"  :data-types="dataTypes" v-if="input._edited" @on-cancel-click="handleDiscard" @on-save-click="handleUpdate"/>
              <div v-else>
                <b-row class="m-0 d-flex pb-1" style="padding: 0px 4px;">
                  <b-col md="auto" class="p-0">
                    <b-btn href="#" v-b-toggle="'collapse-' + index" class="collapse-toggle" variant="outline-secondary">
                      <span class="when-opened">
                        <i class="fa fa-chevron-down" />
                      </span>
                      <span class="when-closed">
                        <i class="fa fa-chevron-right" />
                      </span>
                    </b-btn>
                  </b-col>
                  <b-col cols="12" md="auto" class="flex-grow-1 p-0">
                    <b-row class="m-0">
                      <b-col :xs="12" :md="3" class="p-0">
                        <div class="form-control">
                          {{ input.prev_progress_status.name }}
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="3" class="p-0">
                        <div class="form-control">
                          {{ input.progress_status.name }}
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="3" class="p-0">
                          <div class="form-control">
                            {{ input.submission_person_name }}
                          </div>
                      </b-col>
                      <!-- <b-col :xs="12" :md="2" class="p-0">
                        <div class="form-control">
                          {{ input.submission_person_position }}
                        </div>
                      </b-col> -->
                      <b-col :xs="12" :md="2" class="p-0">
                        <div v-if="input.status === 0">
                          <b-btn href="#" class="w-100" variant="warning"><i class="fa fa-clock mx-1"></i>Menunggu Persetujuan</b-btn>
                        </div>
                        <div v-if="input.status === 1">
                          <b-btn href="#" class="w-100" variant="success"><i class="fa fa-check mx-1"></i>Disetujui</b-btn>
                        </div>
                        <div v-if="input.status === 2">
                          <b-btn href="#" class="w-100" variant="danger"><i class="fa fa-times mx-1"></i>Ditolak</b-btn>
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="1" class="p-0">
                        <div class="d-flex justify-content-center">
                          <!-- <b-btn :disabled="readonly || inputing" href="#" variant="warning" class="mx-1" v-b-tooltip.top title="Edit" @click="handleEdit(index)">
                            <i class="fa fa-edit" />
                          </b-btn> -->
                          <b-btn :disabled="readonly || inputing" href="#" variant="danger" class="mx-1" v-b-tooltip.top title="Hapus" @click="handleRemove(index)"  >
                            <i class="fa fa-trash" />
                          </b-btn>
                          <b-btn v-b-tooltip.top.v-primary title="Tambah Dokumen" :disabled="readonly || inputing" href="#" variant="primary" class="mx-1" @click="handleAddDocument(index)" >
                            <i class="fas fa-file-alt" />
                          </b-btn>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
                <b-collapse :id="'collapse-' + index" class="mb-1">
                  <b-row class="m-0 justify-content-center p-1">
                    <b-col :xs="12" :md="3" class="p-0">
                      <b-form-group label="Jabatan">
                        <div class="form-control">
                          {{ input.submission_person_position }}
                        </div>
                      </b-form-group>
                    </b-col>
                    <b-col :xs="12" :md="4" class="p-0">
                      <b-form-group label="Keterangan">
                        <div class="form-control h-auto">
                          &nbsp;{{ input.note }}
                        </div>
                      </b-form-group>
                    </b-col>
                    <b-col :xs="12" :md="4" class="p-0">
                      <b-form-group label="Info Persetujuan">
                        <div class="form-control h-auto">
                          {{ input.message }}
                        </div>
                      </b-form-group>
                    </b-col>
                  </b-row>
                  <b-card v-if="input.documents.length" class="p-2 m-1" style="background-color:#CCCCCC;" no-body>
                    <b-row class="m-0">
                      <b-col v-for="(doc, i) in input.documents" :key="'doc-' + doc.id" :xs="12" :md="3">
                        <b-form-group :label="'Dokumen ' + (i + 1)">
                          <!-- <div class="form-control"> -->
                            <b-input-group >
                              <a :href="doc.file"  class="form-control">
                                {{ doc.name }}
                              </a>
                              <b-input-group-append>
                                <b-button variant="danger" @click="handleRemoveDocument(doc.id)"><i class="fa fa-trash"></i></b-button>
                                <!-- <a :href="doc.file" class="btn btn-success"><i class="fa fa-download"></i></a> -->
                              </b-input-group-append>
                            </b-input-group>
                          <!-- </div> -->
                        </b-form-group>
                      </b-col>
                    </b-row>
                  </b-card>
                  <form-title v-if="index < listData.length - 1" />
                </b-collapse>
              </div>
            </div>
            <div class="collapse-container" style="padding: 0px 4px;">
              <form-item v-if="adding" :form-data="formData" :data-types="dataTypes" ref="addForm" @on-cancel-click="handleCancel" @on-save-click="handleInsert"/>
            </div>
              <!-- <Spin size="large" fix v-if="loading"></Spin> -->
            <div v-if="loading" class="d-flex justify-content-center mb-3">
              <b-spinner label="Large Spinner"></b-spinner>
            </div>
          </b-card>
          <!-- END Detail Form -->
        </b-col>
      </b-row>
    <submission-input-modal :id="id" ref="modal" @saved="loadData" />
    <document-input-modal :id="submissionId" ref="docModal" @saved="loadData" />
    <!-- <modal-upload ref="modalUpload" :upload-url="uploadUrl" :imageUrl="imageUrl"/> -->
  </div>
</template>

<script>
// import ModalUpload from '@/components/modal-upload'
import FormItem from './attribute-form-item.vue'
import SubmissionInputModal from './submission-input-modal.vue'
import DocumentInputModal from './submission-document-input-modal.vue'
import masterMixin from '../../../mixins/master'
import FormTitle from './submission-title.vue'
export default {
  components: {
    FormTitle,
    FormItem,
    DocumentInputModal,
    SubmissionInputModal
    // ModalUpload
  },
  mixins: [masterMixin],
  props: {
    id: Number|String,
    newId: String,
    readonly: Boolean
  },
  data () {
    return {
      submissionId: null,
      adding: false,
      loading: false,
      inputing: false,
      dataTypes: [],
      listData: [],
      formData: {
        name: null,
        key: null
      },
      formRules: {}
    }
  },
  methods: {
    getBgClass (id) {
      return id === null ? 'bg-light' : ''
    },
    handleReset () {
      if (!this.inputing) {
        this.adding = false
        this.resetFormData()
        this.loadData()
        return
      }
      this.$swal({
        title: "Are you sure?",
        text: "Change will be deleted.!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, reload !",
        cancelButtonText: "No, cancel !",
        closeOnConfirm: false,
        closeOnCancel: false 
      })
      .then((result) => {
        if (result.isConfirmed) {
          this.inputing = false
          this.adding = false
          this.resetFormData()
          this.loadData()
        }
      })
    },
    handleAdd () {
      this.$refs.modal.show()
      // this.inputing = true
      // this.adding = true
    },
    handleInsert() {
      this.$refs.addForm.$v.formData.$touch()
      if (this.$refs.addForm.$v.formData.$anyError) {
        return;
      }
      axios.post(`/api/admin/progress-submissions/${this.id}/insert`, this.formData).then(response => {
        // this.showSuccessAlert(response.data.message);
        this.inputing = false
        this.handleReset()
      }).catch(error => {
        // this.showFailedAlert(response.data.message);
      })
    },
    handleCancel () {
      this.inputing = false
      this.adding = false
      this.resetFormData()
    },
    handleUpdate() {
      this.$refs['editForm' + this.formData._index][0].$v.formData.$touch()
      if (this.$refs['editForm' + this.formData._index][0].$v.formData.$anyError) {
        return;
      }
      axios.put(`/api/admin/progress-submissions/${this.formData.id}`, this.formData).then(response => {
        this.showSuccessAlert(response.data.message)
        this.inputing = false
        this.formData._edited = false
        this.listData[this.formData._index] = {...this.formData}
        this.handleReset()
      }).catch(error => {
        this.showFailedAlert(response.data.message)
      })
      // })
    },
    handleDiscard () {
      this.listData[this.formData._index]._edited = false
      this.inputing = false
    },
    handleEdit (index) {
      this.formData = {...this.listData[index]}
      this.formData._index = index
      this.inputing = true
      this.listData[index]._edited = true
      // this.$forceUpdate()
    },
    handleRemove (index) {
      axios.delete(`/api/admin/progress-submissions/${this.listData[index].id}`).then(response => {
        this.loadData()
        this.showSuccessAlert(response.data.message)
      }).catch(response => {
        this.showFailedAlert()
      })
    },
    handleAddDocument (index) {
      this.submissionId = this.listData[index].id
      this.$refs.docModal.show()
    },
    handleRemoveDocument (id) {
      axios.delete(`/api/admin/progress-submission-documents/${id}`).then(response => {
        this.loadData()
      }).catch(response => {
        this.showFailedAlert()
      })
    },
    resetFormData () {
      this.formData = {
        key: null,
        data_type: null,
        name: null
      }
    },
    loadData () {
      this.loading = true
      axios.get(`/api/admin/progress-submissions/${this.id}/fetch`).then(res => {
        this.listData =  res.data.listData
        this.dataTypes =  res.data.dataTypes
        this.loading = false
      })
    }
  },
  computed: {
  },
  watch: {
    newId () {
      this.loadData()
    }
  },
  mounted () {
    this.id = (typeof this.$route.params.id !== 'undefined') ? this.$route.params.id : null
    this.loadData()
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  .detail-card {
    .card-body {
      padding: 0px;
    }
  }
  .detail-card .card-header {
    padding: 0px 1.25rem;
  }
  .detail-card .multiselect {
    min-height: auto;
  }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
  .collapse-toggle i {
    width: 10px;
  }
  .form-group {
    margin-bottom: 0.25rem;
    legend {
      padding-bottom: 0;
    }
  }
}
</style>