<template>
  <b-modal @hidden="resetModal" v-model="modalShow" hide-footer no-close-on-backdrop :title="title">
    <div class="d-block">
      <b-form @submit.stop.prevent="onSubmit" ref='form'>
        <b-form-group label="Name" label-for="input--name">
          <b-form-input
            :readonly="readonly"
            id="input--name"
            v-model="formData.name"
            :state="validateState('name')"
            aria-describedby="input--name--feedback"
          ></b-form-input>
          <b-form-invalid-feedback
            id="input--name--feedback"
          >This is a required field.</b-form-invalid-feedback>
        </b-form-group>
        <b-form-group label-for="file-input" class="">
          <b-form-input
            class="d-none"
            id="file-input"
            name="file"
            v-model="formData.file"
            :state="validateState('file')"
            aria-describedby="input-input-feedback"
          ></b-form-input>
          <file-pond
            name="file"
            ref="pond"
            label-idle="Drag & Drop berkas disini..."
            :allow-multiple="false"
            maxFileSize="100MB"
            accepted-file-types="application/pdf,application/zip,application/octet-stream,application/x-zip-compressed,multipart/x-zip"
            v-on:updatefiles="handleUpdateFiles"
            :files.sync="files"/>

            <b-form-invalid-feedback
              id="input-file-feedback"
            >This is a required field.</b-form-invalid-feedback>
        </b-form-group>
        <b-button variant="warning" class="ml-2" @click="onSubmit()" long><i class="fa fa-save mx-1" />Save</b-button>
      </b-form>
    </div>
  </b-modal>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength, sameAs } from "vuelidate/lib/validators";
import masterMixin from '../../../mixins/master'

export default {
  mixins: [validationMixin, masterMixin],
  props: {
    id: String,
    title: {
      default: 'Tambah Dokumen',
      String
    }
  },
  data () {
    return {
      files: [],
      modalShow: false,
      formData: {
        name: null,
        file: null
      }
    }
  },
  validations: {
    formData: {
      file: {
        required
      },
      name: {
        required
      }
    }
  },
  methods: {
    handleUpdateFiles (files) {
      if (files.length) {
        this.files[0] = files[0]
        this.formData.file = files[0].filename
        if (!this.formData.name) {
          this.formData.name = files[0].filename
        }
        return
      }
      this.files[0] = null
      this.formData.file = null
    },
    getFormData () {
      const formData = this.parseObjectToFormData(this.formData)
      if (this.files.length) {
        formData.append('file', this.files[0].file)
      }
      return formData
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return
      }
      axios.request({
        method: 'post',
        url: `/api/admin/progress-submission-documents/${this.id}/insert`,
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.resetModal()
        this.modalShow = false
        this.showSuccessAlert(response.data.message);
        this.$emit('saved')
      }).catch(error => {
        this.showFailedAlert(error.response.data.message);
      })
    },
    // loadData () {
    //   axios.get(`/api/admin/progress-submissions/${this.id}/add`).then(response => {
    //     this.statuses = response.data.statuses
    //     this.lastStatus = response.data.lastStatus
    //     this.formData.prev_progress_status_id = this.lastStatus.id
    //   }).catch(error => {
    //     // this.$swal({
    //     //   icon: 'error',
    //     //   showConfirmButton: false,
    //     //   timer: 1500
    //     // })
    //   })
    // },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    resetModal () {
      this.formData = {
        name: null,
        file: null
      }
      this.files = []
    },
    show () {
      this.modalShow = true
      // this.loadData()
    }
  }
}
</script>