<template>
  <b-row :gutter="16" class="m-0 mb-1" style="padding: 8px 8px 8px 22px;background-color:#2d8cf0;color:white;">
    <b-col :xs="12" :md="false" class="d-md-none">
      List
    </b-col>
    <b-col :xs="12" :md="3">
      Progress Sebelumnya
    </b-col>
    <b-col :xs="12" :md="3">
      Progress Diajukan
    </b-col>
    <b-col :xs="12" :md="3">
      Petugas
    </b-col>
    <!-- <b-col :xs="12" :md="2">
      Jabatan
    </b-col> -->
    <b-col :xs="12" :md="2">
      Status
    </b-col>
  </b-row>
</template>

<script>
export default {
  props: {
    classes: String
  }
}
</script>