<template>
  <div>
    <b-card>
      <template v-slot:header>
        <EditNav  @submit="onSubmit" @reset="resetForm"/>
      </template>

      <base-form ref="baseform"
        :form-data="formData"
        :files="files"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import EditNav from '_c/edit-nav'
import Mixin from './mixin'

export default {
  components: {
    EditNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`${this.endpoint}/${this.id}/edit`).then(response => {
        this.formData = response.data.formData
        this.assignPropertyToObject(response.data.formData, this.formData)
        if (this.formData.multi_file_url) {
          this.addUploadedMultiFile(this.files, this.formData.multi_file_url)
        } else {
          this.addUploadedFile(this.files, this.formData.file_url)
        }
        this.loadingData = false
      });
    },
    resetForm () {
      this.loadData()
    },
    onSubmit () {
      if (this.$refs.baseform.invalidate()) {
        return
      }
      this.showLoadingAlert()
      axios.post(`${this.endpoint}/${this.id}`, this.getFormData(true), this.a$multipart).then(response => {
        this.showSuccessAlert(response.data.message)
      }).catch(error => {
        this.showFailedAlert(error.response.data.message)
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>