<template>
  <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row no-gutters>
        <b-col :xs="12" :md="9" class="pr-md-4">
          <b-form-group label="Title">
            <b-form-input
              name="title"
              :readonly="readonly"
              v-model="formData.title"
              :state="v$('title')"
            ></b-form-input>
            <b-form-invalid-feedback id="input-1-live-feedback"
              >This is a required field and must be at least 3
              characters.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0">
          <b-form-group label="Status">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="1"
                ><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio
              >
              <b-form-radio value="0"
                ><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
      </b-row>
      <b-row no-gutters>
        <b-col :xs="12" :md="6" class="pr-md-2">
          <b-form-group label="File Type">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.file_type"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.file_type"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="0"
                ><i class="fas fa-image mx-1"></i>Image</b-form-radio
              >
              <b-form-radio value="1"
                ><i class="fas fa-video mx-1"></i>Video</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="6" class="pl-md-2">
          <b-form-group label="Media Type">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.media_type"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.media_type"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              @change="invalidate('formData')"
              buttons
            >
              <b-form-radio :value="0"
                ><i class="fas fa-file mx-1"></i>File</b-form-radio
              >
              <b-form-radio :value="1"
                ><i class="fas fa-link mx-1"></i>Link</b-form-radio
              >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback"
              >This is a required field.</b-form-invalid-feedback
            >
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group id="input-url-group" label="Url" label-for="input-url">
        <b-form-input
          :readonly="readonly"
          id="input-url"
          name="input-url"
          v-model="formData.url"
          aria-describedby="input-url-feedback"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="File">
        <b-form-checkbox
          class="d-none"
          name="file"
          type="checkbox"
          v-model="formData._hasFile"
          :state="v$('_hasFile')"
          aria-describedby="input-file-feedback"
        ></b-form-checkbox>
        <file-pond
          name="File"
          ref="pond"
          :disabled="readonly"
          label-idle="Drop files here..."
          :allow-multiple="true"
          :accepted-file-types="fileType"
          maxFileSize="10MB"
          maxFiles="8"
          :server="filepondServer"
          @updatefiles="handleUpdateMultifile"
          :files="files"
        />
        <b-form-invalid-feedback :state="v$('_hasFile')" id="input-file-feedback"
          >This is a required field if Media Type file.</b-form-invalid-feedback
        >
      </b-form-group>
    </b-form>
  </div>
</template>
<script>
import { required, requiredIf, minLength, sameAs } from "vuelidate/lib/validators";
import FormMixin from "@/mixins/form";

export default {
  mixins: [FormMixin],
  props: {
    readonly: {
      type: Boolean,
      default: false,
    },
    files: Array,
    formData: Object,
  },
  computed: {
    fileType() {
      if (this.formData.file_type) {
        return "image/jpeg,image/png";
      } else {
        return "video/mp4";
      }
    },
  },
  methods: {
    handleUpdateMultifile(files, name = "files") {
      // new handler for single file
      if (files.length) {
        this[name].length = 0;
        files.forEach((file, index) => {
          // if (file.status === 2) {
          this[name][index] = file;
          // }
        });
        this.formData._hasFile = true;
      }
    },
  },
  validations() {
    return {
      formData: {
        _hasFile: {
          checked: sameAs((value) => {
            if (value.media_type === 0) {
              return true;
            } else {
              return value._hasFile;
            }
          }),
          // sameAs: sameAs(() => true),
        },
        title: {
          required,
          minLength: minLength(3),
        },
      },
    };
  },
};
</script>
<style>
</style>