<template>
  <div>
    <b-card no-body>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-10">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`fa ${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-6 col-md-2">
            <!-- push router ke form membuat data -->
            <router-link class="btn btn-primary btn-sm float-right" :to="{ name: 'admin_gallery_create' }"><i class="fa fa-plus"></i> Tambah</router-link>
          </div>
        </div>
      </template>

      <b-card-body class="p-0 p-md-3">
        <b-table
          bordered
          striped
          hover
          small
          :fields="tableFields"
          :items="tableItems"
          :busy="loadingData"
          responsive>

          <template v-slot:table-busy>
            <div class="text-center text-danger my-2">
              <b-spinner class="align-middle"></b-spinner>
              <strong>&nbsp;&nbsp;Loading...</strong>
            </div>
          </template>

          <template v-slot:table-colgroup="scope">
            <col
              v-for="field in scope.fields"
              :key="field.key"
              :style="{ width: field != 'index' && field.width ? field.width : 'auto' }"
            >
          </template>

          <template v-slot:cell(index)="data">
            {{ data.index + ((currentPage - 1) * 10) + 1 }}
          </template>

          <template v-slot:cell(status)="data" class="text-center">
            <div v-if="data.item.is_published === 1">
              <b-btn size="sm" href="#" class="w-100 rounded-pill" variant="success"><i class="fa fa-link mx-1"></i>Diterbitkan</b-btn>
            </div>
            <div v-else-if="data.item.is_published === 0">
              <b-btn size="sm" href="#" class="w-100 rounded-pill" variant="secondary"><i class="fa fa-unlink mx-1"></i>Draf</b-btn>
            </div>
          </template>

          <template v-slot:cell(action)="data" class="text-center">
            <router-link tag="b-btn" v-b-tooltip.top.v-info="{ boundary: 'window' }" title="Lihat" class="btn-info btn-sm px-2" :to="{ name: 'admin_gallery_show', params: { id: data.item.id } }">
              <span class="fa fa-eye"></span>
            </router-link>
            <router-link tag="b-btn" v-b-tooltip.top.v-warning="{ boundary: 'window' }" title="Edit" class="btn-sm btn-warning px-2 mx-1" :to="{ name: 'admin_gallery_edit', params: { id: data.item.id } }">
              <span class="fa fa-edit"></span></router-link>
            <b-btn v-b-tooltip.top.v-danger="{ boundary: 'window' }" title="Hapus" variant="danger" size="sm" class="px-2" @click="deleteData(data.item.id)">
              <i class="fa fa-trash" ></i></b-btn>
          </template>

        </b-table>
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="10"
          first-text="First"
          prev-text="Prev"
          next-text="Next"
          last-text="Last"
          @change="handlePageChange"
        ></b-pagination>
      </b-card-body>
    </b-card>
  </div>
</template>

<!-- script js -->
<script>
export default {
  data () {
    return {
      currentPage: 1,
      totalRows: 1,
      loadingData: true,
      tableItems: [],
      tableFields: [
        // A virtual column that doesn't exist in items
        { key: 'index', label: 'No', width: '40px' },
        // A column that needs custom formatting
        { key: 'id', label: 'ID', width: '60px' },
        // A regular column
        'title',
        { key: 'status', label: 'Status', width: '160px', },
        { key: 'action', label: 'Action', width: '200px', class: 'text-center' }
      ],
      moreParams: {}
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    renderIcon (classes, options) {
      return `<span class="${classes.join(' ')}"></span>`
    },
    getParams () {
      return { 
        params: {
          page: this.currentPage
        }
      }
    },
    handlePageChange (val) {
      this.currentPage = val
      this.loadData()
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/admin/galleries", this.getParams()).then(response => {
        this.loadingData = false
        this.tableItems = []
        this.tableItems = response.data.data;
        this.currentPage = response.data.current_page;
        this.totalRows = response.data.total;
      });
    },
    deleteData (id) {
      axios.delete(`/api/admin/galleries/${id}`).then(response => {
        this.loadData();
      });
    }
  }
};
</script>
<style>
  .pagination {
    margin-top: 0;
  }
  /* .btn.btn-border {
    border: 1px solid;
    margin-right: 2px;
  } */
  .vuetable-pagination-info {
    margin-top: 8px !important;
  }
  span.sort-icon {
    float: right;
    color: #ff9100;
  }
</style>