<template>
  <div>
    <b-card>
      <template v-slot:header>
        <ShowNav @reset="loadData" edit-route="admin_gallery_edit" :edit-params="$route.params" />
      </template>
      <base-form ref="baseform"
        readonly
        :loading="loadingData"
        :form-data="formData"
        :files="files"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import Mixin from './mixin'
import ShowNav from '_c/show-nav'

export default {
  components: {
    ShowNav,
    BaseForm
  },
  mixins: [Mixin],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`${this.endpoint}/${this.id}`).then(response => {
        this.formData = response.data.formData
        if (this.formData.multi_file_url) {
          this.addUploadedMultiFile(this.files, this.formData.multi_file_url)
        } else {
          this.addUploadedFile(this.files, this.formData.file_url)
        }
        this.loadingData = false
      })
    }
  },
  mounted () {
    this.id = this.$route.params.id
    this.loadData()
  }
};
</script>