<template>
  <div class="m-2">
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-12 col-md-8">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-4">
            <div class=" d-flex justify-content-between justify-content-md-end">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
            </div>
          </div>
        </div>
      </template>

      <b-form @submit.stop.prevent="onSubmit">
        <b-row>
          <b-col md="6">
            <b-form-group id="input-name-group" label="Name" label-for="input-name">
              <b-form-input
                id="input-name"
                v-model="formData.name"
                :state="validateState('name')"
              ></b-form-input>

              <b-form-invalid-feedback
              >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group id="input-email-group" label="Email" label-for="input-email">
              <b-form-input
                readonly
                id="input-email"
                v-model="formData.email"
              ></b-form-input>
            </b-form-group>
            <!-- <b-form-group id="input-email-group" label="Lokasi Wisata" label-for="input-email" hidden>
              <b-form-input
                readonly
                id="input-email"
                v-model="formData.destination_name"
              ></b-form-input>
            </b-form-group> -->
          </b-col>
          <b-col md="6">
            <b-form-group label="Image" label-for="example-input-4">
              <file-pond
                name="image"
                ref="pond"
                label-idle="Drag & Drop berkas disini..."
                v-bind:allow-multiple="false"
                accepted-file-types="image/jpeg, image/png"
                maxFileSize="10MB"
                v-on:updatefiles="handleUpdateFiles"
                :files.sync="fileImage"/>
            </b-form-group>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
import masterMixin from "@/mixins/master"
export default {
  mixins: [ validationMixin, masterMixin ],
  data () {
    return {
      formData: {
        name: null,
        email: null,
      },
      fileImage: [],
      image: null
    }
  },
  validations: {
    formData: {
      name: {
        required
      }
    }
  },
  methods: {
    handleUpdateFiles (files) {
      if (files.length) {
        let file = files[0]
        // console.log(file)
        if (file.status === 2) {
          this.fileImage[0] = file
        }
        return
      }
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    },
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get("/api/user/profiles").then(response => {
        this.assignPropertyToObject(response.data, this.formData)
        this.image = response.data.image
        if (this.image) this.fileImage.push({
          source: response.data.image
        })
      });
    },
    resetForm () {
      this.loadData()
    },
    getFormData () {
      const formData = this.parseObjectToFormData(this.formData)
      if (this.fileImage.length) {
        formData.append('file', this.fileImage[0].file)
      }
      return formData
    },
    onSubmit () {
      this.$v.formData.$touch()
      if (this.$v.formData.$anyError) {
        return;
      }
      this.showLoadingAlert()
      axios.request({
        method: 'post',
        url: '/api/user/profiles',
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.showSuccessAlert(response.data.message)
      }).catch(error => {
        this.showFailedAlert(error.response.data.message)
      })
    }
  },
  mounted () {
    this.loadData()
  }
}
</script>