<template>
  <b-tabs content-class="mt-3">
    <b-tab title="Attribute" active>
      <attribute-form/>
    </b-tab>
  </b-tabs>
</template>

<script>
import AttributeForm from './attribute-form'
export default {
  components: { AttributeForm }
}
</script>