<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group label="Preview" label-for="example-input-4">
        <l-map style="height:400px"  :zoom="zoom" :center="center">
          <l-tile-layer :url="url" :attribution="attribution" name="osm" layer-type="base"></l-tile-layer>
          <l-layer-group name="input" layer-type="overlay">
            <!-- <l-geo-json :geojson="clipedGeojson" :options-style.sync="styleFunction"></l-geo-json> -->
            <l-geo-json :geojson="geojson" :options.sync="options" ></l-geo-json>
          </l-layer-group>
          <l-control-layers position="topright"  ></l-control-layers>
          <!-- <l-marker :lat-lng="marker"></l-marker> -->
        </l-map>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    categories: Array,
    formData: Object
  },
  data () {
    return {
      fileShape: null,
      zoom: 8,
      center: L.latLng(-7.24917, 112.75083),
      url:'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
      attribution:'&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
      clipedGeojson: null,
      geojson: null,
    }
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      category_id: {
        required
      }
    }
  },
  computed: {
    styleFunction() {
      const fillColor = Math.floor(Math.random()*16777215).toString(16); // important! need touch fillColor in computed for re-calculate when change fillColor
      return () => {
        return {
          weight: 4,
          color: '#FFFFFFAA',
          opacity: 1,
          fillColor: '#000000AA',
          fillOpacity: 1
        };
      };
    },
    onEachFeatureFunction () {
      return (feature, layer) => {
        layer.options.fillColor = '#' + Math.floor(Math.random()*16777215).toString(16)
        layer.options.color = '#' + Math.floor(Math.random()*16777215).toString(16)

        // var v = this;
        // let color = layer.options.color
        // layer.on('click', (e) => {
        //   this.clipedGeojson = {
        //     fileName: 'Active',
        //     type: 'FeatureCollection',
        //     features: [e.target.feature]
        //   }
        // })
        layer.bindTooltip(
          `<div>Name :${ feature.properties.regency_name }</div>`,
          { permanent: false, sticky: true, offset: [0, 0], className: 'my-label' }
        );
      };
    },
    options () {
      return {
        onEachFeature: this.onEachFeatureFunction
      };
    },
    category: {
      get () {
        return this.categories.filter((el) => {
          return el.id == this.formData.category_id 
        })
      },
      set (val) {
        this.formData.category_id = val.id
      }
    },
  },
  methods: {
    setGeoJson (geojson) {
      this.geojson = geojson
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>