<template>
  <div>
    <b-card>
      <template v-slot:header>
        <div class="row">
          <div class="col-6 col-md-9">
            <h3><i v-if="$route.meta && $route.meta.icon" :class="`${$route.meta.icon} mr-1`"></i>{{ $route.meta.title }}</h3>
          </div>
          <div class="col-12 col-md-3">
            <div class=" float-right">
              <b-button size="sm" type="submit" variant="success" @click="onSubmit()"><i class="fa fa-save mx-1" />Simpan</b-button>
              <b-button size="sm" variant="info" class="mx-2" @click="resetForm()"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              <!-- push router ke form membuat data -->
              <router-link class="btn btn-primary btn-sm" :to="{ name: $route.meta.parent }"><i class="fa fa-angle-left"></i> Kembali</router-link>
            </div>
          </div>
        </div>
      </template>
      <base-form ref="baseform"
        :form-data="formData"
        :configs="configs"
        :files="files"
      />
    </b-card>
  </div>
</template>

<script>
import BaseForm from './form'
import mixin from './mixin'

export default {
  components: {
    BaseForm
  },
  mixins: [ mixin ],
  methods: {
    loadData () {
      // fetch data dari api menggunakan axios
      this.loadingData = true
      axios.get(`/api/admin/indicators/create`).then(response => {
      //   // this.formData = response.data.gallery
        this.setOptions(response.data)
      })
    },
    onSubmit () {
      this.$refs.baseform.$v.formData.$touch()
      if (this.$refs.baseform.$v.formData.$anyError) {
        return;
      }
       axios.request({
        method: 'post',
        url: '/api/admin/indicators',
        data: this.getFormData(),
        headers: { 'Content-Type': 'multipart/form-data' }
      }).then(response => {
        this.showSuccessAlert(response.data.message);
        this.$router.push({
          params: { 
            id: response.data.id
          },
          name: 'admin_indicator_edit',
        })
      }).catch(error => {
        this.errors = error.response.data.errors
        this.showError = true
        this.showFailedAlert(error.response.data.message);
      })
    }
  },
  mounted () {
    this.loadData()
  }
};
</script>