<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-row class="m-0">
        <b-col  :xs="12" :md="9" class="p-0">
          <b-form-group label="Nama" label-for="input--name">
            <b-form-input
              :readonly="readonly"
              id="input--name"
              name="name"
              v-model="formData.name"
              :state="validateState('name')"
              aria-describedby="input--name--feedback"
            ></b-form-input>


            <b-form-invalid-feedback
              id="input--name--feedback"
            >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
        <b-col :xs="12" :md="3" class="py-0 pr-0">
          <b-form-group label="Status" class="m-0">
            <b-form-input
              class="d-none"
              id="input-data-type"
              name="data_type"
              v-model="formData.is_published"
            ></b-form-input>
            <b-form-radio-group
              class="w-100"
              id="btn-radios-2"
              v-model="formData.is_published"
              button-variant="outline-secondary"
              name="radio-btn-outline"
              buttons
            >
              <b-form-radio value="1"><i class="fas fa-link mx-1"></i>Diterbitkan</b-form-radio>
              <b-form-radio value="0"><i class="fas fa-unlink mx-1"></i>Draf</b-form-radio>
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-data-type-feedback">This is a required field.</b-form-invalid-feedback>
          </b-form-group>
        </b-col>
      </b-row>
      <b-form-group label="Kerangka" label-for="input--config_id">
        <template #label>
          Kerangka
          <a v-if="formData.config_id" href="#" @click="downloadTemplate" class="float-right"><i class="fas fa-download mx-1"></i> Unduh Kerangka</a>
        </template>
        <b-form-input
          :readonly="readonly"
          class="d-none"
          id="input--config_id"
          name="config_id"
          v-model="formData.config_id"
          :state="validateState('config_id')"
        ></b-form-input>
        <multiselect :disabled="readonly" v-model="config" deselect-label="Selected" :options="configs" track-by="id" label="name" :allow-empty="false">
          <template slot="singleLabel" slot-scope="{ option }">{{ option.name }}</template>
        </multiselect>
        <b-form-invalid-feedback id="input-2-live-feedback">This is a required field.</b-form-invalid-feedback>
      </b-form-group>
      <b-form-group label="Excel" label-for="input--file">
        <template #label>
          Excel
          <a v-if="id" :href="formData.file" class="float-right"><i class="fas fa-download mx-1"></i> Unduh</a>
        </template>
        <b-form-input
          class="d-none"
          id="input--file"
          name="file"
          v-model="formData.file"
          :state="validateState('file')"
          aria-describedby="input--file--feedback"
        ></b-form-input>
        <b-form-invalid-feedback
          id="input--file--feedback"
        >This is a required field.</b-form-invalid-feedback>
        <file-pond
          name="file"
          ref="pond"
          label-idle="Drag & Drop berkas disini..."
          v-bind:allow-multiple="false"
          maxFileSize="100MB"
          :disabled="readonly"
          accepted-file-types="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/wps-office.xlsx"
          v-on:updatefiles="handleUpdateFiles"/>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, requiredIf, minLength } from "vuelidate/lib/validators";
import downloadFile from 'js-file-download'

export default {
  mixins: [validationMixin],
  props: {
    id: Number | String,
    readonly: Boolean,
    configs: Array,
    files: Array,
    formData: Object
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      },
      config_id: {
        required
      },
      file: {
        requiredIf: requiredIf(function () {
          return this.id === null
        }),
      },
    }
  },
  computed: {
    config: {
      get () {
        return this.configs.filter((el) => {
          return el.id == this.formData.config_id 
        })
      },
      set (val) {
        this.formData.config_id = val.id
      }
    }
  },
  methods: {
    downloadTemplate () {
      axios.request({
        method: 'get',
        responseType: 'blob',
        url: `/api/admin/indicator-configs/${this.formData.config_id}/excel`
      }).then(res => {
        downloadFile(res.data, `${this.config[0].name}.xlsx`)
      })
    },
    handleUpdateFiles (files) {
      if (files.length) {
        this.files[0] = files[0]
        // if (!this.formData.name) {
          this.formData.file = files[0].filename
        // }
        this.validateState('file')
        return
      }
      this.formData.file = null
      this.validateState('file')
    },
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>