<template>
  <div>
      <b-row :gutter="16">
        <b-col :xs="12" :md="12">
          <!-- BEGIN Detail Form -->
          <div class="total-info">
            <b-row type="flex" justify="start" :gutter="1" style="margin: .4rem auto;">
              <b-col :xs="{ order: 0, span: 12 }" :md="1" class="p-0">
                <b-button class="button-adding" :disabled="inputing || readonly" block size="sm" variant="primary" @click="handleAdd" icon="md-adding"><i class="fa fa-plus mx-1" />Tambah</b-button>
              </b-col>
              <b-col :xs="{ order: 1, offset: 0, span: 12 }" :md="1" :offset-md="10" class="p-0">
                <b-button class="button-cancel float-right" block size="sm" variant="info" @click="handleReset" icon="md-refresh"><i class="fa fa-sync mx-1" />Segarkan</b-button>
              </b-col>
            </b-row>
          </div>
          <b-card dis-hover :padding="0" class="detail-card" style="border-color:#2d8cf0;">
            <template #header>
              <b-row slot="title" :gutter="16" style="padding: 8px 8px 8px 22px;background-color:#2d8cf0;color:white;">
                <b-col :xs="12" :md="false" class="d-md-none">
                  List
                </b-col>
                <b-col :xs="12" :md="3">
                  Name
                </b-col>
                <b-col :xs="12" :md="2">
                  Label
                </b-col>
                <b-col :xs="12" :md="4">
                  Key
                </b-col>
                <b-col :xs="12" :md="1">
                  Color
                </b-col>
              </b-row>
            </template>
            <div v-for="(input, index) in listData" :key="index" class="collapse-container" :class="getBgClass(input.IDXX_AUTO)" style="padding: 0px 4px;">
              <form-item :ref="'editForm' + index"  :form-data="formData"  v-if="input._edited" @on-cancel-click="handleDiscard" @on-save-click="handleUpdate"/>
              <div v-else>
                <b-row class="m-0 d-flex pb-1">
                  <b-col md="auto" class="p-0">
                    <b-btn href="#" v-b-toggle="'collapse-' + index" variant="outline-secondary">
                      <span class="when-opened">
                        <i class="fa fa-chevron-down" />
                      </span>
                      <span class="when-closed">
                        <i class="fa fa-chevron-right" />
                      </span>
                    </b-btn>
                  </b-col>
                  <b-col cols="12" md="auto" class="flex-grow-1 p-0">
                    <b-row class="m-0">
                      <b-col :xs="12" :md="3" class="p-0">
                        <div class="form-control">
                          {{ input.name }}
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="2" class="p-0">
                        <div class="form-control">
                          {{ input.is_label ? 'Iya' : 'Tidak' }}
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="4" class="p-0">
                        <div class="form-control">
                          {{ input.key }}
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="1" class="p-0">
                        <div class="form-control" :style="getInputColor(input.color)">
                        </div>
                      </b-col>
                      <b-col :xs="12" :md="2" class="p-0">
                        <div class="d-flex justify-content-center">
                          <b-btn :disabled="readonly || inputing" href="#" variant="warning" class="mx-1" v-b-tooltip.top title="Edit" @click="handleEdit(index)">
                            <i class="fa fa-edit" />
                          </b-btn>
                          <b-btn :disabled="readonly || inputing" href="#" variant="danger" class="mx-1" v-b-tooltip.top title="Hapus" @click="handleRemove(index)"  >
                            <i class="fa fa-trash" />
                          </b-btn>
                        </div>
                      </b-col>
                    </b-row>
                  </b-col>
                </b-row>
                <b-collapse :id="'collapse-' + index">
                  <b-row class="m-0 p-5">
                    <b-col :xs="12" :md="2" class="p-0">
                    </b-col>
                  </b-row>
                </b-collapse>
              </div>
            </div>
            <div class="collapse-container" style="padding: 0px 4px;">
              <form-item v-if="adding" :form-data="formData" ref="addForm" @on-cancel-click="handleCancel" @on-save-click="handleInsert"/>
            </div>
              <!-- <Spin size="large" fix v-if="loading"></Spin> -->
            <div v-if="loading" class="d-flex justify-content-center mb-3">
              <b-spinner label="Large Spinner"></b-spinner>
            </div>
          </b-card>
          <!-- END Detail Form -->
        </b-col>
      </b-row>
    </b-form>
    <!-- <modal-upload ref="modalUpload" :upload-url="uploadUrl" :imageUrl="imageUrl"/> -->
  </div>
</template>

<script>
// import ModalUpload from '@/components/modal-upload'
import FormItem from './config-detail-input.vue'
export default {
  components: {
    FormItem,
    // ModalUpload
  },
  props: {
    newId: String,
    readonly: Boolean
  },
  data () {
    return {
      id: null,
      adding: false,
      loading: false,
      inputing: false,
      listData: [],
      formData: {
        name: null,
        color: '#EEEEEE',
        is_label: 0,
        key: null
      },
      formRules: {}
    }
  },
  methods: {
    getInputColor (color) {
      return {
        'background-color': color 
      }
    },
    getBgClass (id) {
      return id === null ? 'bg-light' : ''
    },
    handleReset () {
      if (!this.inputing) {
        this.adding = false
        this.resetFormData()
        this.loadData()
        return
      }
      this.$swal({
        title: "Are you sure?",
        text: "Change will be deleted.!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, reload !",
        cancelButtonText: "No, cancel !",
        closeOnConfirm: false,
        closeOnCancel: false 
      })
      .then((result) => {
        if (result.isConfirmed) {
          this.inputing = false
          this.adding = false
          this.resetFormData()
          this.loadData()
        }
      })
    },
    handleAdd () {
      this.inputing = true
      this.adding = true
    },
    handleInsert() {
      this.$refs.addForm.$v.formData.$touch()
      if (this.$refs.addForm.$v.formData.$anyError) {
        return;
      }
      axios.post(`/api/admin/indicator-config-details/${this.id}/insert`, this.formData).then(response => {
        // this.showSuccessAlert(response.data.message);
        this.inputing = false
        this.handleReset()
      }).catch(error => {
        // this.showFailedAlert(response.data.message);
      })
    },
    handleCancel () {
      this.inputing = false
      this.adding = false
      this.resetFormData()
    },
    handleUpdate() {
      this.$refs['editForm' + this.formData._index][0].$v.formData.$touch()
      if (this.$refs['editForm' + this.formData._index][0].$v.formData.$anyError) {
        return;
      }
      axios.put(`/api/admin/indicator-config-details/${this.formData.id}`, this.formData).then(response => {
        // this.showSuccessAlert(response.data.message);
        this.inputing = false
        this.formData._edited = false
        this.listData[this.formData._index] = {...this.formData}
        this.handleReset()
      }).catch(error => {
        // this.showFailedAlert(response.data.message);
      })
      // })
    },
    handleDiscard () {
      this.listData[this.formData._index]._edited = false
      this.inputing = false
      this.resetFormData()
    },
    handleEdit (index) {
      this.formData = {...this.listData[index]}
      this.formData._index = index
      this.inputing = true
      this.listData[index]._edited = true
      // this.$forceUpdate()
    },
    handleRemove (index) {
      axios.delete(`/api/admin/indicator-config-details/${this.listData[index].id}`).then(response => {
        this.loadData()
      }).catch(response => {
        this.showFailedAlert()
      })
    },
    resetFormData () {
      this.formData = {
        key: null,
        color: '#EEEEEE',
        is_label: 0,
        name: null
      }
    },
    loadData () {
      this.loading = true
      axios.get(`/api/admin/indicator-config-details/${this.id}/fetch`).then(res => {
        this.listData =  res.data.listData
        this.loading = false
      })
    }
  },
  computed: {
  },
  watch: {
    newId () {
      this.loadData()
    }
  },
  mounted () {
    this.id = (typeof this.$route.params.id !== 'undefined') ? this.$route.params.id : null
    this.loadData()
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  .detail-card {
    .card-body {
      padding: 0px;
    }
  }
  .detail-card .card-header {
    padding: 0px 1.25rem;
  }
  .detail-card .multiselect {
    min-height: auto;
  }
  .collapsed .when-opened {
    display: none;
  }
  .not-collapsed .when-closed {
    display: none;
  }
  .form-group {
    margin-bottom: 0.25rem;
    legend {
      padding-bottom: 0;
    }
  }
}
</style>