<template>
  <b-tabs content-class="mt-3">
    <b-tab title="Attribute" active>
      <config-detail-form :readonly="readonly"/>
    </b-tab>
  </b-tabs>
</template>

<script>
import ConfigDetailForm from './config-detail-form'
export default {
  props: {
    readonly: false
  },
  components: { ConfigDetailForm }
}
</script>