<template>
   <div>
    <b-form @submit.stop.prevent="onSubmit">
      <b-form-group label="Name" label-for="input-name">
        <b-form-input
          :readonly="readonly"
          id="input-name"
          name="name"
          v-model="formData.name"
          :state="validateState('name')"
          aria-describedby="input-name-feedback"
        ></b-form-input>
        <b-form-invalid-feedback
          id="input-name-feedback"
        >This is a required field and must be at least 3 characters.</b-form-invalid-feedback>
      </b-form-group>
    </b-form>
  </div>
</template>
<script>

import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";

export default {
  mixins: [validationMixin],
  props: {
    readonly: false,
    formData: Object
  },
  validations: {
    formData: {
      name: {
        required,
        minLength: minLength(3)
      }
    }
  },
  methods: {
    validateState (name) {
      const { $dirty, $error } = this.$v.formData[name]
      return $dirty ? !$error : null
    }
  }
}
</script>
<style>
</style>